<app-form-sidebar [isVisible]="isFormSidebarVisible" [styleClass]="'w-30rem'">
  <div sidebarHeader>
    <h5 class="text-white">Import Order Payment</h5>
  </div>

  <div sidebarContent>
    <form class="form-sidebar" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="col-xl-12 form-group">
        <z-span [text]="form.get('ImportOrderPaymentNo')?.value" [label]="formConfig.ImportOrderPaymentNo.label"></z-span>
      </div>
      <div class="col-xl-12 form-group">
        <z-autocomplete [controlDef]="importOrderAutoCompleteDef"></z-autocomplete>
      </div>
      <div class="col-xl-12 form-group">
        <z-inputtext [group]="form" [control]="'PaymentRefNo'" [label]="formConfig.PaymentRefNo.label" [validationMessage]="formConfig.PaymentRefNo.error"></z-inputtext>
      </div>
      <div class="col-xl-12 form-group">
        <z-datepicker [group]="form" [control]="'PaymentDate'" [label]="formConfig.PaymentDate.label" [validationMessage]="formConfig.PaymentDate.error"  
          [maxDate]="currentDate">
      </z-datepicker>
      </div>
      <div class="col-xl-12 form-group">
        <z-inputnumber [group]="form" [control]="'PaymentAmountFC'" [label]="formConfig.PaymentAmountFC.label"
            [validationMessage]="formConfig.PaymentAmountFC.error" (onChange)="calculateBaseCurrencyAmount()" [styleClass]="'text-end'"></z-inputnumber>
      </div>
      <div class="col-xl-12 form-group">
        <div class="input-group">
          <span class="input-group-text"><i class="pi pi-indian-rupee"></i></span>
          <z-inputnumber [group]="form" [control]="'ExchangeRateToBC'" [label]="formConfig.ExchangeRateToBC.label"
            [validationMessage]="formConfig.ExchangeRateToBC.error" (onChange)="calculateBaseCurrencyAmount()" [styleClass]="'text-end'"></z-inputnumber>
        </div>
      </div>
      <div class="col-xl-12 form-group">
        <div class="input-group">
          <span class="input-group-text"><i class="pi pi-indian-rupee"></i></span>
          <z-inputnumber [group]="form" [control]="'PaymentAmountBC'" [label]="formConfig.PaymentAmountBC.label"
            [validationMessage]="formConfig.PaymentAmountBC.error" [readonly]="true" [styleClass]="'text-end'"></z-inputnumber>
        </div>
      </div>
    </form>
  </div>

  <div sidebarFooter>
    <div class="col-xl-12 d-grid mt-4 d-flex align-items-center">
      <div class="col-md-6 pe-1">
        <button type="submit" class="btn btn-md btn-primary w-100" [disabled]="isSubmitted || !activeStatus" (click)="onSubmit()">
          {{ isEditMode ? "Update" : "Save" }}
        </button>
      </div>
      <div class="col-md-6 ps-1">
        <button type="button" class="btn btn-md btn-light w-100" (click)="closeSidebar()">Cancel</button>
      </div>
    </div>
  </div>
</app-form-sidebar>