<ng-template #taxSlabCodeTemplate let-row>
  <span class="table-action-link" (click)="onClickEditDetails(row.TaxSlabID,row.ActiveStatus)">
    {{ row.TaxSlabCode }}
  </span>
</ng-template>

<ng-template #taxSlabActiveStatusTemplate let-row>
  <span class="grid-status-pill" [ngStyle]="{ backgroundColor: row.ActiveStatus ? '#22c55e' : '#ef4444' }">
    {{ row.ActiveStatus ? 'Active' : 'Inactive' }}
  </span>
</ng-template>

<ng-template #actionColTemplate let-row>
  <div class="d-flex justify-content-end">
    <button type="button" class="ts-action-btn" (click)="onClickDeleteReactivate(row)">
      <i class="pi pi-{{row.ActiveStatus ? 'trash' : 'undo'}}"></i>
    </button>
  </div>
</ng-template>

<z-datatable [tableDef]="tableDef" (lazyLoad)="onIndexTableLazyLoad($event)" (resetFormEmitter)="onResetForm($event)">
</z-datatable>
