<app-form-sidebar [isVisible]="isFormSidebarVisible" [styleClass]="'w-30rem item-category-create-sidebar'">
  <div sidebarHeader>
    <h5 class="item-category-create-title">{{ isEditMode ? 'Edit Item Category' : 'Create Item Category' }}</h5>
  </div>
  <div sidebarContent>
    <form class="item-category-create-form" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="simple-form">
        <div class="simple-field">
          <label class="simple-label">{{ formConfig.ItemCategoryCode.label }}:</label>
          <div class="simple-control">
            <div class="simple-static">{{ form.get('ItemCategoryCode')?.value || 'NEW' }}</div>
          </div>
        </div>

        <div class="simple-field">
          <label class="simple-label">{{ formConfig.ItemCategoryName.label }}:</label>
          <div class="simple-control">
            <z-inputtext [group]="form" [control]="'ItemCategoryName'" [label]="''"
              [validationMessage]="formConfig.ItemCategoryName.error"></z-inputtext>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div sidebarFooter>
    <div class="item-category-create-footer">
      <button type="button" class="simple-btn" (click)="closeSidebar()">Cancel</button>
      <button type="submit" class="simple-btn is-active" [disabled]="isSubmitted || !activeStatus" (click)="onSubmit()">
        {{ isEditMode ? 'Update' : 'Save' }}
      </button>
    </div>
  </div>
</app-form-sidebar>
