<ng-template #pageHeaderActionTemplate>
  <button class="btn btn-primary btn-sm" (click)="onClickPageHeaderAddButton()"><i class="ri-add-fill" style="vertical-align: bottom;"></i> Add Ward</button>&nbsp;
  <button class="btn btn-primary btn-sm" (click)="onClickPageHeaderAddBedDetails()"><i class="ri-ball-pen-fill" style="vertical-align: bottom;"></i> Ward Bed Details</button>&nbsp;
  <button class="btn btn-primary btn-sm" (click)="onClickPageHeaderWardBedUnitMapping()"><i class="ri-ball-pen-fill" style="vertical-align: bottom;"></i> Ward Bed Unit Mapping</button>
</ng-template>

<app-index-table [tableDef]="tableDef"
                 (lazyLoad)="onIndexTableLazyLoad($event)">
</app-index-table>

<ng-template #wardMasterCodeTemplate let-row>
  <span class="fw-bold font-blue" (click)="onClickEditDetails(row.WardID,row.ActiveStatus)" style="cursor: pointer;">{{ row.WardCode }}</span>
</ng-template>
<ng-template #wardMasterActiveStatusTemplate let-row>
  <span class="badge {{ row.ActiveStatus ? 'bg-outline-success' : 'bg-outline-danger' }}">
    {{ row.ActiveStatus ? 'Active' : 'Inactive' }}
  </span>
</ng-template>
<ng-template #addBedTemplate let-row>
  <button class="btn btn-primary btn-sm" [disabled]="!row.ActiveStatus" (click)="onClickAddBed(row.WardID)"><i class="ri-add-fill" style="vertical-align: bottom;"></i>Add Bed</button>
</ng-template>

<app-create (closeSidebarEvent)="onCloseSidebar()"></app-create>

<app-add-bed (closeSidebarEvent)="onCloseAddbedSidebar()"></app-add-bed>
