<!-- Page Header Action Button Template -->
<ng-template #pageHeaderActionTemplate>
  <button class="btn btn-primary btn-page-header btn-md shadow-sm btn-add-employee-registration"
    (click)="onClickPageHeaderAddButton()">
    <i class="pi pi-plus"></i>&nbsp;Add Employee
  </button>
</ng-template>

<!-- Page Header Action Button Template -->
<div class="col-xl-12 index-page-content">
  <z-datatable [tableDef]="tableDef" (lazyLoad)="onIndexTableLazyLoad($event)">
  </z-datatable>
</div>

<!-- Table Column Custom Template -->
<ng-template #employeeCodeTemplate let-row>
  <span class="table-action-link" (click)="onClickEditDetails(row.EmployeeID)" style="cursor: pointer;">{{
    row.EmployeeCode }}</span>
</ng-template>

<ng-template #canAccessERPTemplate let-row>
  <span class="{{ row.CanAccessERP ? 'text-success' : 'text-danger' }}">
    <i class="pi {{ row.CanAccessERP ? 'pi-check-circle' : 'pi-times-circle'}}"></i>
  </span>
</ng-template>
