<!--Page Header Action Button Template-->
<ng-template #pageHeaderActionTemplate>
    <button class="btn btn-primary btn-page-header btn-md shadow-sm btn-add-import-order"
        (click)="onClickPageHeaderAddButton()">
        <i class="pi pi-plus"></i>&nbsp;Add Import Order
    </button>
</ng-template>

<div class="col-xl-12 index-page-content">
    <z-dataview [dataViewDef]="dataViewDef" (lazyLoad)="onIndexDataViewLazyLoad($event)"
        (resetFormEmitter)="onResetForm($event)" [itemTemplate]="customTemplate">
    </z-dataview>
</div>

<ng-template #customTemplate let-importOrders>
    <div class="eo-card" *ngFor="let item of importOrders; let first = first">
        <div class="dataview-item eo-card__body">
            <div class="eo-card__top">
                <div class="eo-card__main">
                    <div class="eo-card__line">
                        <a class="eo-card__title-link" (click)="onClickEditDetails(item.ImportOrderID)">
                            <h5 class="eo-card__title">{{item.ImportOrderNo}}</h5>
                        </a>
                        <div class="eo-card__status">
                            <span class="eo-card__badge" [ngStyle]="{color: item.StatusHex}">{{item.StatusText}}</span>
                        </div>
                    </div>
                    <h5 class="eo-card__title eo-card__company">{{item.VendorName}}</h5>
                </div>
            </div>

            <div class="eo-card__grid">
                <div class="eo-col">
                    <div class="dataview-info-item eo-field">
                        <span class="eo-field__label">Order Date</span>
                        <span class="eo-field__value">{{formatDate(item.ImportOrderDate)}}</span>
                    </div>
                    <div class="dataview-info-item eo-field">
                        <span class="eo-field__label">Shipment Mode</span>
                        <span class="eo-field__value">{{item.ShipmentMode || '-'}}</span>
                    </div>
                    <div class="dataview-info-item eo-field">
                        <span class="eo-field__label">Loading Port</span>
                        <span class="eo-field__value">{{item.LoadingPortName || '-'}}</span>
                    </div>
                </div>

                <div class="eo-col">
                    <div class="dataview-info-item eo-field">
                        <span class="eo-field__label">Final Destination</span>
                        <span class="eo-field__value">{{item.FinalDestination || '-'}}</span>
                    </div>
                    <div class="dataview-info-item eo-field eo-field--order-total">
                        <span class="eo-field__label">Order Total</span>
                        <span class="eo-field__value">{{ item.CurrencySymbol }}{{ item.NetAmountBC | number:'1.2-2' }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #container></ng-template>
