<app-form-sidebar [isVisible]="isFormSidebarVisible" [styleClass]="'w-30rem'">
    <div sidebarHeader>
        <h5 class="text-white">Export Container</h5>
    </div>
    <div sidebarContent>
        <form class="form-sidebar" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="col-xl-12 form-group">
                <z-span [text]="form.get('ContainerNo')?.value" [label]="formConfig.ContainerNo.label"></z-span>
            </div>
            <div class="col-xl-12 form-group">
                <z-autocomplete [controlDef]="exportOrderAutoCompleteDef" (onSearch)="loadExportOrder($event)"
                (onSelect)="onSelectExportOrder($event)" 
                (onClear)="onClearExportOrder()">
            </z-autocomplete>
            </div>
            <div class="col-xl-12 form-group">
                <z-inputtext [group]="form" [control]="'ContainerType'" [label]="formConfig.ContainerType.label"></z-inputtext>
            </div>
            <div class="col-xl-12 form-group">
            <z-datepicker [group]="form" [control]="'ShippedDate'" [label]="formConfig.ShippedDate.label"></z-datepicker>
            </div>
            <div class="col-xl-12 form-group">
            <z-datepicker [group]="form" [control]="'EstimatedArrivalDate'" [label]="formConfig.EstimatedArrivalDate.label"></z-datepicker>
            </div>
            <div class="col-xl-12 form-group">
                <z-inputtext [group]="form" [control]="'TrackingURL'" [label]="formConfig.TrackingURL.label"></z-inputtext>
            </div>
        </form>
    </div>
    <div sidebarFooter>
        <div class="col-xl-12 d-grid mt-4 d-flex align-items-center">
            <div class="col-md-6 pe-1">
                <button type="submit" class="btn btn-md btn-primary w-100" (click)="onSubmit()" [disabled]="isSubmitted">
                    {{ isEditMode ? "Update" : "Save" }}
                </button>
            </div>
            <div class="col-md-6 ps-1">
                <button type="button" class="btn btn-md btn-light w-100" (click)="closeSidebar()">Cancel</button>
            </div>
        </div>
    </div>
</app-form-sidebar>