<ng-template #pageHeaderActionTemplate>
  <button class="btn btn-primary btn-sm" (click)="onClickPageHeaderAddButton()"> <i class="bi bi-arrow-left-circle" style="vertical-align: bottom; margin-right: 5px;"></i>Back</button>
</ng-template>

<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="row">
    <div class="col-xl-4"></div>
    <div class="col-xl-4 card card-body">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <div class="col-xl-12 form-group">
          <z-select [group]="form" [control]="'RoleID'" [label]="formConfig.RoleID.label" [validationMessage]="formConfig.RoleID.error" (onChange)="onRoleChange($event)"
                    [options]="RoleList" [optionLabel]="'RoleName'" [optionValue]="'RoleID'">
          </z-select>
        </div>
        <div class="col-xl-12 form-group">
          <z-select [group]="form" [control]="'ModuleID'" [label]="formConfig.ModuleID.label" [validationMessage]="formConfig.ModuleID.error" (onChange)="onModuleChange($event)"
                    [options]="ModuleList" [optionLabel]="'ModuleName'" [optionValue]="'ModuleID'">
          </z-select>
        </div>
      </div>
    </div>
    <div class="col-xl-4"></div>
  </div>

  <div class="col-xl-12" formArrayName="RoleMapping">
    <p-table [value]="RoleMappingArray.controls" styleClass="p-datatable-striped">
      <ng-template pTemplate="header">
        <tr>
          <th> SN</th>
          <th> Group Menu </th>
          <th> Menu Name </th>
          <th> Access Control Name </th>
          <th> Can Read <input class="form-check-input" type="checkbox" [checked]="isAllCanReadSelected" (change)="cbSelectAll('CanRead')" /> </th>
          <th> Can Create <input class="form-check-input" type="checkbox" [checked]="isAllCanCreateSelected" (change)="cbSelectAll('CanCreate')" /> </th>
          <th> Can Update <input class="form-check-input" type="checkbox" [checked]="isAllCanUpdateSelected" (change)="cbSelectAll('CanUpdate')" /> </th>
          <th> Can Delete <input class="form-check-input" type="checkbox" [checked]="isAllCanDeleteSelected" (change)="cbSelectAll('CanDelete')" /> </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-group let-i="rowIndex">
        <tr>
          <td> {{ i + 1 }} </td>
          <td> {{ group.get('GroupMenuName')?.value }} </td>
          <td> {{ group.get('MenuName')?.value }} </td>
          <td> {{ group.get('AccessControlName')?.value }} </td>
          <td>
            <z-checkbox class="text-center" [group]="group" [control]="'CanRead'"></z-checkbox>
          </td>
          <td>
            <z-checkbox class="text-center" [group]="group" [control]="'CanCreate'"></z-checkbox>
          </td>
          <td>
            <z-checkbox class="text-center" [group]="group" [control]="'CanUpdate'"></z-checkbox>
          </td>
          <td>
            <z-checkbox class="text-center" [group]="group" [control]="'CanDelete'"></z-checkbox>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</form>

<p *ngIf="RoleMappingArray.length === 0">No data available in table</p>
<br />
<div class="row justify-content-between">
  <div class="d-flex justify-content-center">
    <div class="col-xl-1 px-1">
      <button type="submit" class="btn btn-md btn-primary w-100" [disabled]="!RoleMappingArray.controls.length" (click)="onSubmit()">UPDATE</button>
    </div>
    <div class="col-xl-2 px-1">
      <button type="submit" class="btn btn-md btn-primary btn-small" (click)="onClickPageHeaderAddButton()">BACK TO LIST</button>
    </div>
  </div>
</div>
