<ng-template #pageHeaderActionTemplate>
  <button class="btn btn-primary btn-sm" (click)="onClickPageHeaderAddButton()"><i class="ri-arrow-go-back-fill" style="vertical-align: bottom;"></i> Back</button>&nbsp;
</ng-template>
<form [formGroup]="form" autocomplete="off">
  <div class="col-xl-12 card card-body">
    <div class="row">
      <div class="col-xl-5">
        <div class="col-xl-12">
          <button class="btn btn-primary btn-sm" (click)="onClickUpdateMapping()"><i style="vertical-align: bottom;"></i>Update Mapping</button>
        </div>
      </div>
      <div class="col-xl-2">
        <div class="col-xl-12 form-group">
          <z-select [group]="form" [control]="'ViewBy'" (onChange)="onViewByChange($event);" [label]="formConfig.ViewBy.label" [options]="viewByList" [optionLabel]="'Text'" [optionValue]="'Value'">
          </z-select>
        </div>
      </div>
      <div class="col-xl-5"></div>
    </div>
    <div class="row">
      <div *ngIf="form.get('ViewBy')?.value == 2 || form.get('ViewBy')?.value == null" class="col-xl-4 form-group">
        <z-select [group]="form" [control]="'WardID'" (onChange)="onWardChange($event)" [label]="formConfig.WardID.label"
                  [options]="wardlist" [optionLabel]="'WardName'" [optionValue]="'WardID'">
        </z-select>
      </div>
      <div *ngIf="form.get('ViewBy')?.value == 1" class="col-xl-4 form-group">
        <z-select [group]="form" [control]="'DepartmentID'" (onChange)="onDepartmentChange($event)" [label]="formConfig.DepartmentID.label"
                  [options]="DepartmentList" [optionLabel]="'DepartmentName'" [optionValue]="'DepartmentID'">
        </z-select>
      </div>
      <div *ngIf="form.get('ViewBy')?.value == 1" class="col-xl-4 form-group">
        <z-select [group]="form" [control]="'ConsultantUnitID'" (onChange)="onConsultantUnitChange($event)" [label]="formConfig.ConsultantUnitID.label"
                  [options]="ConsultantUnitList" [optionLabel]="'ConsultantUnitName'" [optionValue]="'ConsultantUnitID'">
        </z-select>
      </div>
      <div *ngIf="form.get('ViewBy')?.value == null" class="col-xl-6"></div>
      <div *ngIf="form.get('ViewBy')?.value == 2" class="col-xl-6"></div>
      <div *ngIf="form.get('ViewBy')?.value == 1" class="col-xl-2"></div>
      <div class="col-xl-2 form-group">
        <z-select [group]="form" [control]="'StatusID'" [label]="'Status'" (onChange)="onStatusChange($event)"
                  [options]="StatusList" [optionLabel]="'Text'" [optionValue]="'Value'">
        </z-select>
      </div>
    </div>
    <div *ngIf="WardBedUnitMappingArray.length > 0" formArrayName="WardBedUnitMapping">
      <p-table [value]="WardBedUnitMappingArray.controls" [scrollable]="true" scrollHeight="545px">
        <ng-template pTemplate="header">
          <tr class="table-primary text-center">
            <th style="width: 2%;">SN</th>
            <th *ngIf="form.get('ViewBy')?.value == 2" style="width: 8%;">Department</th>
            <th style="width: 8%;">Unit</th>
            <th *ngIf="form.get('ViewBy')?.value == 1" style="width: 8%;">Ward</th>
            <th style="width: 8%;">Effective From</th>
            <th style="width: 8%;">Term End</th>
            <th style="width: 8%;">Total Beds</th>
            <th style="width: 12%;">Bed No</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-group let-i="rowIndex">
          <tr>
            <td>
              <div class="text-center p-0">
                {{ i + 1 }}
              </div>
            </td>
            <td>
              <div class="text-center p-0">
                <span>{{group.get('ConsultantUnitName')?.value}}</span>
              </div>
            </td>
            <td>
              <div class="text-center p-0">
                <span>{{group.get('WardName')?.value}}</span>
              </div>
            </td>
            <td>
              <div class="text-center p-0">
                <span>{{group.get('EffectiveFromDate')?.value | date:'dd-MM-yyyy' }}</span>
              </div>
            </td>
            <td>
              <div class="text-center p-0">
                <span>{{group.get('TermEndDate')?.value | date:'dd-MM-yyyy'}}</span>
              </div>
            </td>
            <td>
              <div class="text-center p-0">
                <span>{{group.get('TotalBeds')?.value}}</span>
              </div>
            </td>
            <td>
              <div class="text-center p-0">
                <span>{{group.get('BedNo')?.value}}</span>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</form>


<app-update-mapping></app-update-mapping>
