<ng-template #pageHeaderActionTemplate>
  <button class="btn btn-primary btn-sm" (click)="onClickPageHeaderBackButton()"> <i class="bi bi-arrow-left-circle" style="vertical-align: bottom; margin-right: 5px;"></i>Back </button>
</ng-template>
<div class="card">
  <form [formGroup]="form" autocomplete="off">
    <div class="row">
      <div class="col-xl-1"></div>
      <div class="col-xl-10">
        <div class="row mt-2">
          <div class="col-xl-4 form-group">
            <z-select [group]="form" [control]="'ServiceCategoryID'" [label]="formConfig.ServiceCategoryID.label" [validationMessage]="formConfig.ServiceCategoryID.error" (onChange)="onServiceCategoryChange()"
                      [options]="CategoryList" [optionLabel]="'ServiceCategoryName'" [optionValue]="'ServiceCategoryID'">
            </z-select>
          </div>
          <div class="col-xl-4 form-group">
            <z-select [group]="form" [control]="'TestID'" [label]="formConfig.TestID.label" [validationMessage]="formConfig.TestID.error"
                      [options]="TestTypeList" [optionLabel]="'ServiceName'" [optionValue]="'ServiceID'">
            </z-select>
          </div>
          <div class="col-xl-4 form-group">
            <z-inputtext [group]="form" [control]="'ReportTemplateName'" [label]="formConfig.ReportTemplateName.label" [validationMessage]="formConfig.ReportTemplateName.error"></z-inputtext>
          </div>
        </div>
        <div>
          <label for="TemplateContent"><b>Template Content</b></label>
          <p-editor id="TemplateContent"
                    formControlName="TemplateContent"
                    [style]="{height: '320px'}"
                    [placeholder]="'Enter your content here...'">
          </p-editor>
        </div>

        <div>
          <label for="TemplateImpression"><b>Impression</b></label>
          <p-editor id="TemplateImpression"
                    formControlName="TemplateImpression"
                    [style]="{height: '270px'}"
                    [placeholder]="'Enter your content here...'">
          </p-editor>
        </div>

        <div class="row pt-2">
          <div class="col-xl-4"></div>
          <div class="col-md-2 pe-1">
            <button type="submit" class="btn btn-md btn-primary w-100" (click)="onSubmit()" autofocus>
              {{ isEditMode ? 'Update' : 'Save' }}
            </button>
          </div>
          <div class="col-md-2 ps-1">
            <button type="button" class="btn btn-md btn-light w-100" (click)="resetForm()">Reset</button>
          </div>
        </div>
        <div class="col-xl-4"></div>
      </div>
    </div>
    <div class="col-xl-1"></div>
</form>
</div>
