<!-- Page Header Action Button Template -->
<ng-template #pageHeaderActionTemplate>
    <button class="btn btn-primary btn-page-header" (click)="onClickPageHeaderAddButton()"><i class="pi pi-plus"></i>&nbsp;Add Letter of Credit</button>
</ng-template>

<!-- Index Table Component -->
<div class="col-xl-12 index-page-content">
  <z-datatable [tableDef]="tableDef"
    (lazyLoad)="onIndexTableLazyLoad($event)">
  </z-datatable>
</div>

<!-- Table Column Custom Template -->
 <ng-template #letterOfCreditTemplate let-row>
    <span class="table-action-link" (click)="onClickEditDetails(row.LCID)" style="cursor: pointer;">{{ row.LCNo }}</span>
</ng-template>

<ng-template #actionColTemplate let-row>
    <div class="d-flex justify-content-end">
        <span class="btn btn-icon btn-sm btn-danger-transparent btn-delete-reactivate" (click)="onClickDelete(row)"><i class="pi pi-trash"></i></span>
    </div>
</ng-template>

<app-create (closeSidebarEvent)="onCloseSidebar()"></app-create>