<ng-template #pageHeaderActionTemplate>
    <button class="btn btn-primary btn-page-header" (click)="onClickPageHeaderAddButton()">
        <i class="pi pi-plus"></i>&nbsp;Add Manufacturer
    </button>
</ng-template>

<div style="overflow-x: auto">
    <z-datatable [tableDef]="tableDef" (lazyLoad)="onIndexTableLazyLoad($event)">
    </z-datatable>
</div>

<!-- ng-template for each data field with added margin for spacing and max-width for scrollable content -->
<ng-template #ManufacturerCodeTemplate let-row>
    <span class="fw-bold font-blue flexible-text" (click)="onClickEditDetails(row.ManufacturerID, row.ActiveStatus)">
        {{ row.ManufacturerCode }}
    </span>
</ng-template>

<ng-template #ManufacturerNameTemplate let-row>
    <span style="
        cursor: pointer;
        margin-right: 10px;
        max-width: 200px;
        display: inline-block;
        overflow-x: auto;
        white-space: nowrap;
      ">
        {{ row.ManufacturerName }}
    </span>
</ng-template>

<ng-template #isActiveTemplate let-item>
    <span [ngClass]="item.ActiveStatus ? 'active' : 'inactive'">
        {{ item.ActiveStatus ? 'Active' : 'Inactive' }}
    </span>
</ng-template>

<ng-template #actionColTemplate let-row>
    <div class="d-flex justify-content-end">
        <span
            class="btn btn-icon btn-sm btn-{{row.ActiveStatus ? 'danger' : 'success'}}-transparent btn-delete-reactivate"
            (click)="onClickDeleteReactivate(row)"><i class="pi pi-{{row.ActiveStatus ? 'trash' : 'undo'}}"></i></span>
    </div>
</ng-template>


<app-create (closeSidebarEvent)="onCloseSidebar()"></app-create>