<!-- Index Table Component -->
<z-datatable [tableDef]="tableDef" (lazyLoad)="onIndexTableLazyLoad($event)">
</z-datatable>

<!-- Table Column Custom Template -->
<ng-template #selectionColTemplate let-row>
    <p-checkbox binary="true" [(ngModel)]="row._selected" (onChange)="onSelectionChange()">
    </p-checkbox>
</ng-template>

<ng-template #salesEnquiryCodeTemplate let-row>
    <span class="table-action-link" (click)="onClickEditDetails(row.SalesEnquiryID)" style="cursor: pointer;">{{
        row.SalesEnquiryNo }}</span>
</ng-template>


<!-- <ng-template #actionColTemplate let-row>
    <div class="d-flex justify-content-end">
        <span
            class="btn btn-icon btn-sm btn-{{row.ActiveStatus ? 'danger' : 'success'}}-transparent btn-delete-reactivate"
            (click)="onClickDeleteReactivate(row)"><i class="pi pi-{{row.ActiveStatus ? 'trash' : 'undo'}}"></i></span>
    </div>
</ng-template> -->