<!--<app-form-sidebar [isVisible]="isFormSidebarVisible" [styleClass]="'w-40rem'">
  <div sidebarHeader>
    <h5 class="text-white">Kashif</h5>
  </div>
  <div sidebarContent>
    <form class="form-sidebar" [formGroup]="mainForm" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="col-xl-12 form-group">
        <div class="card shadow-sm">
          <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Holiday Type Selection</h5>
          </div>
          <div class="card-body">
            <z-picklist [group]="mainForm"
                        [control]="'PickList'" [validationMessage]="formErrors['PickList']" [sourceOptions]="HolidayTypeList" [targetOptions]="selectedHolidayTypes"
                        [optionLabel]="'Text'">
            </z-picklist>
          </div>
        </div>
      </div>

    </form>
  </div>
  <div sidebarFooter>
    <div class="col-xl-12 d-grid mt-4 d-flex align-items-center">
      <div class="col-md-6 pe-1">
        <button type="submit" class="btn btn-md btn-primary w-100" (click)="onSubmit()">
          {{ isEditMode ? 'Update' : 'Save' }}
        </button>
      </div>
      <div class="col-md-6 ps-1">
        <button type="button" class="btn btn-md btn-light w-100" (click)="closeSidebar()">Cancel</button>
      </div>
    </div>
  </div>
</app-form-sidebar>-->
