<div style="height: calc(100vh - 122px);">
    <p-table #dt
      [styleClass]="'p-paginator-striped'" 
      [tableStyleClass]="'table index-table'"
      [value]="tableDef.data"
      [totalRecords]="tableDef.totalRecords" 
      [rows]="25" 
      [showCurrentPageReport]="true"
      [currentPageReportTemplate]="'Showing {first} to {last} of {totalRecords} entries'" 
      [scrollable]="true"
      [scrollHeight]="'flex'"
      [(selection)]="selectedRow"
      [selectionMode]="'multiple'"
      [stateStorage]="'session'"
      [stateKey]="tableStateKey"
      [paginator]="true" 
      [showJumpToPageInput]="true"
      [rowsPerPageOptions]="[25, 50, 100, 200]"
      [showLoader]="true"
      [loading]="tableDef.loading" 
      [lazy]="true"
      (onLazyLoad)="loadData($event)"
      [filterDelay]="300"
      (onFilter)="onFilter($event)"
      [sortField]="tableDef.defaultSortColumn.sortField" 
      [sortOrder]="tableDef.defaultSortColumn.sortOrder">
      <ng-template pTemplate="caption">
        <div class="index-table-action-bar">
          <div class="d-flex justify-content-end">
            <span><i class="pi pi-refresh refresh-filter" (click)="refreshData();" title="Filter"></i></span>
            <span><i class="pi pi-filter filter-toggle" (click)="toggleFilterPanel();" [ngClass]="{'active-toggle': showFilterPanel}" title="Filter"></i></span>
            <span><i class="pi pi-sliders-h column-visibility-toggle" (click)="columnMenu.toggle($event)" [ngClass]="{'active-toggle': columnMenu.overlayVisible}"></i></span>
            <p-overlayPanel #columnMenu>
              <div class="column-toggle-panel">
                <ng-container *ngFor="let col of tableHeaderDef">
                  <p-checkbox
                    *ngIf="!col.hideVisToggle"
                    [(ngModel)]="col.visible"
                    binary="true"
                    [label]="col.label"
                    (ngModelChange)="onChangeColVisSwitch(col)"
                  >
                  </p-checkbox>
                </ng-container>
                <hr class="m-0">
                <button type="button" class="btn btn-primary">Reset to default</button>
              </div>
            </p-overlayPanel>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <!-- colgroup pending hai-->
         <ng-container *ngIf="tableDef.filterForm">
            <tr *ngIf="showFilterPanel" [formGroup]="tableDef.filterForm" class="filter-panel">
                <ng-container *ngFor="let col of tableDef.columnDef">
                  <th
                    *ngIf="col.visible !== false"
                    [class]="col.cssClass"
                    [style.width]="col.width">
                    <p-columnFilter 
                        *ngIf="col.filterable == true"
                        [showMenu]="false"
                        [showClearButton]="false"
                        [matchMode]="'equals'"
                        field="{{ col.filterKey ?? col.data }}" 
                        [type]="'text'"
                    >
                      <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                        <ng-container *ngIf="col.filterType === 'select'">
                          <z-select 
                                [group]="tableDef.filterForm"
                                [control]="col.filterKey"
                                [label]="col.label ?? ''"
                                [options]="col.filterSelectList ?? []"
                                [optionLabel]="'Text'"
                                [optionValue]="'Value'"
                                (onChange)="filter($event)"
                                [showClear]="false">
                            </z-select>
                        </ng-container>
                        <ng-container *ngIf="col.filterType === 'text' || !col.filterType">
                            <z-inputtext [group]="tableDef.filterForm" [control]="col.data" [label]="col.label ?? ''" (change)="filter(tableDef.filterForm.get(col.data)?.value)"></z-inputtext>
                        </ng-container>
                      </ng-template>
                    </p-columnFilter>
                  </th>
                </ng-container>
              </tr>
         </ng-container>
        <tr>
          <ng-container *ngFor="let col of tableHeaderDef">
            <th 
                *ngIf="col.visible !== false"
                [pSortableColumn]="col.orderable !== false ? col.data : ''"
                [attr.colspan]="col.colSpan"
                [attr.rowspan]="col.hasSubHeader === true ? 1 : 2"
                [attr.class]="col.cssClass + (col.hasSubHeader === true ? ' text-center' : '')">
                {{ col.label }}
                <p-sortIcon *ngIf="col.orderable !== false" field="{{ col.data }}"></p-sortIcon>
            </th>
          </ng-container>
        </tr>
        <tr *ngIf="tableSubHeaderDef">
          <ng-container *ngFor="let col of tableSubHeaderDef">
            <th 
                *ngIf="col.visible !== false"
                [pSortableColumn]="col.orderable !== false ? col.data : ''"
                [attr.colspan]="col.colSpan"
                class="{{col.cssClass}}">
                {{ col.label }}
                <p-sortIcon *ngIf="col.orderable !== false" field="{{ col.data }}"></p-sortIcon>
            </th>
          </ng-container>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr [pSelectableRow]="rowData">
          <ng-container *ngFor="let col of tableDef.columnDef">
            <td *ngIf="col.visible !== false" class="{{col.cssClass}}">
              <ng-container *ngIf="col.customTemplate; else defaultTemplate">
                <ng-container *ngTemplateOutlet="col.customTemplate; context: { $implicit: rowData }"></ng-container>
              </ng-container>
              <ng-template #defaultTemplate>
                <!-- {{ rowData[col.data] | titlecase }} -->
                {{ rowData[col.data] }}
                <!-- <span *ngIf="typeof rowData[col.data] === 'string'; else nonString">
                  {{ rowData[col.data] | titlecase }}
                </span>
                <ng-template #nonString>
                  {{ rowData[col.data] }}
                </ng-template> -->
              </ng-template>
            </td>
          </ng-container>
        </tr>
      </ng-template>
      <ng-template pTemplate="footer">
      </ng-template>
    </p-table>
  </div>