<div style="height: calc(100vh - 90px); padding-bottom: 2rem;">
  <p-table #dt [styleClass]="'p-paginator-striped'" [tableStyleClass]="'table index-table'" [value]="tableDef.data"
    [totalRecords]="tableDef.totalRecords" [rows]="25" [showCurrentPageReport]="true"
    [currentPageReportTemplate]="'Showing {first} to {last} of {totalRecords} entries'" [scrollable]="true"
    [scrollHeight]="'flex'" [(selection)]="selectedRow" [selectionMode]="'multiple'" [stateStorage]="'session'"
    [stateKey]="tableStateKey" [paginator]="true" [showJumpToPageInput]="true" [rowsPerPageOptions]="[25, 50, 100, 200]"
    [showLoader]="true" [loading]="tableDef.loading" [lazy]="true" (onLazyLoad)="loadData($event)" [filterDelay]="300"
    (onFilter)="onFilter($event)" [sortField]="tableDef.defaultSortColumn.sortField"
    [sortOrder]="tableDef.defaultSortColumn.sortOrder">
    <ng-template pTemplate="caption">
      <div class="index-table-action-bar">
        <div class="d-flex justify-content-end me-4">
          <!-- Sorting Wrapper -->
          <div class="action-item-wrapper">
            <span class="refresh-filter" (click)="toggleSortPanel();" [ngClass]="{'active-toggle': isSortPanelVisible}"
              title="Sorting">
              <i class="pi pi-sort-alt"></i>
            </span>
            <ng-container *ngIf="tableDef.sortingForm && isSortPanelVisible">
              <div #sortingPanel class="index-sorting-panel card" [formGroup]="tableDef.sortingForm">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <div>
                    <h6>Sorting</h6>
                  </div>
                  <div class="d-flex gap-2">
                    <button class="btn btn-primary" [type]="'button'" (click)="resetForm(tableDef.sortingForm)">Clear
                    </button>
                    <button class="btn btn-primary" [type]="'button'" (click)="onClickApplySorting()">Apply
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div *ngFor="let field of tableDef.sortFields" class="field">
                    <label>
                      {{ field.label }}
                    </label>
                    <div>
                      <z-select-button [group]="tableDef.sortingForm" [control]="field.field" [allowEmpty]="true">
                        {{ getAscLabel(field.field)}}
                      </z-select-button>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>

          <span class="refresh-filter" (click)="refreshData();" title="Refresh">
            <i class="pi pi-refresh"></i>
          </span>

          <!-- Filter Wrapper -->
          <div class="action-item-wrapper">
            <span class="filter-toggle" (click)="toggleFilterPanel();" [ngClass]="{'active-toggle': showFilterPanel}"
              title="Filter">
              <i class="pi pi-filter"></i>
            </span>
            <ng-container *ngIf="tableDef.filterForm && showFilterPanel">
              <div #filterPanel class="index-filter-panel card" [formGroup]="tableDef.filterForm">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <div>
                    <h6>Filter</h6>
                  </div>
                  <div class="d-flex gap-2">
                    <button class="btn btn-primary" [type]="'button'" (click)="resetForm(tableDef.filterForm)">Clear
                    </button>
                    <button class="btn btn-primary" [type]="'button'" (click)="onClickApplyFilter()">Apply
                    </button>
                  </div>
                </div>
                <div class="card-body">
                  <div *ngFor="let field of tableDef.filterFields" class="field">
                    <!-- <label>{{field.label}}</label> -->
                    <z-inputtext *ngIf="field.type === 'text'" [group]="tableDef.filterForm" [control]="field.field"
                      [label]="field.label">
                    </z-inputtext>

                    <z-inputnumber *ngIf="field.type === 'number'" [group]="tableDef.filterForm" [control]="field.field"
                      [label]="field.label">
                    </z-inputnumber>

                    <z-datepicker *ngIf="field.type === 'date'" [group]="tableDef.filterForm" [control]="field.field"
                      [label]="field.label">
                    </z-datepicker>

                    <z-select *ngIf="field.type === 'dropdown'" [group]="tableDef.filterForm" [control]="field.field"
                      [label]="field.label" [options]="field.options ?? []" [showClear]="false" [optionLabel]="'Text'"
                      [optionValue]="'Value'" [appendTo]="'body'">
                    </z-select>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>

          <span class="column-visibility-toggle" (click)="columnMenu.toggle($event)"
            [ngClass]="{'active-toggle': columnMenu.overlayVisible}">
            <i class="pi pi-sliders-h"></i>
          </span>
          <p-overlayPanel #columnMenu>
            <div class="column-toggle-panel">
              <ng-container *ngFor="let col of tableHeaderDef">
                <p-checkbox *ngIf="!col.hideVisToggle" [(ngModel)]="col.visible" binary="true" [label]="col.label"
                  (ngModelChange)="onChangeColVisSwitch(col)">
                </p-checkbox>
              </ng-container>
              <hr class="m-0">
              <button type="button" class="btn btn-primary">Reset to default</button>
            </div>
          </p-overlayPanel>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <!-- colgroup pending hai-->
      <tr>
        <ng-container *ngFor="let col of tableHeaderDef">
          <th *ngIf="col.visible !== false"
            [pSortableColumn]="(col.orderable !== false && !tableDef.sortingForm) ? col.data : ''"
            [attr.colspan]="col.colSpan" [attr.rowspan]="col.hasSubHeader === true ? 1 : 2"
            [attr.class]="col.cssClass + (col.hasSubHeader === true ? ' text-center' : '')">
            {{ col.label }}
            <p-sortIcon *ngIf="col.orderable !== false && !tableDef.sortingForm" field="{{ col.data }}"></p-sortIcon>
          </th>
        </ng-container>
      </tr>
      <tr *ngIf="tableSubHeaderDef">
        <ng-container *ngFor="let col of tableSubHeaderDef">
          <th *ngIf="col.visible !== false" [pSortableColumn]="col.orderable !== false ? col.data : ''"
            [attr.colspan]="col.colSpan" class="{{col.cssClass}}">
            {{ col.label }}
            <p-sortIcon *ngIf="col.orderable !== false" field="{{ col.data }}"></p-sortIcon>
          </th>
        </ng-container>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
      <tr [pSelectableRow]="rowData">
        <ng-container *ngFor="let col of tableDef.columnDef">
          <td *ngIf="col.visible !== false" class="{{col.cssClass}}">
            <ng-container *ngIf="col.customTemplate; else defaultTemplate">
              <ng-container *ngTemplateOutlet="col.customTemplate; context: { $implicit: rowData }"></ng-container>
            </ng-container>
            <ng-template #defaultTemplate>
              <!-- {{ rowData[col.data] | titlecase }} -->
              {{ rowData[col.data] }}
              <!-- <span *ngIf="typeof rowData[col.data] === 'string'; else nonString">
                  {{ rowData[col.data] | titlecase }}
                </span>
                <ng-template #nonString>
                  {{ rowData[col.data] }}
                </ng-template> -->
            </ng-template>
          </td>
        </ng-container>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
    </ng-template>
  </p-table>
</div>