<aside class="app-sidebar sticky" id="sidebar" [ngClass]="{ 'sticky-pin': scrolled }">
  <p-sidebar id="sidebar-scroll" styleClass="main-sidebar mt-0 w-100" [visible]="true" position="right"
    [showCloseIcon]="false" [closeOnEscape]="false" [blockScroll]="true" [modal]="false">
    <div class="sidebar-profile d-flex gap-3 py-2 mx-4">
      <span class="avatar avatar-s avatar-rounded">
        <img src="./assets/images/faces/profile-avatar.png" alt="./assets/images/faces/profile-avatar.png">
      </span>
      <div class="m-0">
        <h6 class="mb-1 profile-name text-nowrap text-truncate fw-bold">{{user?.UserFullName}}</h6>
        <p class="m-0 small profile-name text-nowrap text-truncate">{{user?.UserDesignation}}</p>
      </div>
    </div>
    <hr style="margin: 0 10px; border-color: var(--default-border);" />
    <nav class="main-menu-container nav nav-pills flex-column sub-open">
      <div class="slide-left" id="slide-left" (click)="leftArrowFn()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
          <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
        </svg>
      </div>

      <ul class="main-menu" [ngStyle]="{ display: 'block' }">
        @for (menuItem of menuItems; track menuItem) {
        @if (menuItem.MenuType === 'sub') {
        <li #activeMenuItems [ngClass]="{
                            'slide__category':menuItem.Title,
                            'open': menuItem.Active,
                            'active': menuItem.Selected
                        }">
          <span class="category-name">{{ menuItem.Title }}</span>
        </li>
        }

        <li class="slide" #activeMenuItems [ngClass]="{
                        'slide has-sub':menuItem.MenuType === 'sub',
                        'open': menuItem.Active,
                        'active': menuItem.Selected
                    }">

          <!-- Link Type -->
          @if (menuItem.MenuType === 'link') {
          <a class="side-menu__item" [routerLink]="[menuItem.Path]" routerLinkActive="active"
            (click)="setNavActive($event, menuItem.Path ?? '')">
            <!-- @if (menuItem.Icon) {
                            <i class="side-menu__icon bx bx-{{ menuItem.Icon }}"></i>
                        } -->
            <span class="side-menu__label">{{ menuItem.Title }}</span>
          </a>
          }

          <!-- Submenu -->
          @if (menuItem.MenuType === 'sub') {
          <a class="side-menu__item" (click)="toggleNavActive($event, menuItem)">
            <!-- @if (menuItem.Icon) {
                            <i class="side-menu__icon bx {{getMenuIcons(menuItem.Title)}}"></i>
                        } -->
            <i class="side-menu__icon bx {{getMenuIcons(menuItem.Title)}}"></i>
            <span class="side-menu__label">{{ menuItem.Title }}</span>
            <i class="fe fe-chevron-right side-menu__angle"></i>
          </a>
          }

          <!-- Recursive Children -->
          @if (menuItem.Children?.length) {
          <ul class="slide-menu child1" [ngClass]="{'active': menuItem.Active}"
            [ngStyle]="{ display: menuItem.Active ? 'block' : 'none' }">
            @for (child of menuItem.Children; track child) {
            <li class="slide" [ngClass]="{'active': child.Selected, 'has-sub': child.MenuType === 'sub'}">

              <!-- Link -->
              @if (child.MenuType === 'link') {
              <a class="side-menu__item" [routerLink]="[child.Path]" routerLinkActive="active"
                (click)="setNavActive($event, child.Path ?? '')">
                {{ child.Title }}
              </a>
              }

              <!-- Submenu -->
              @if (child.MenuType === 'sub') {
              <a class="side-menu__item" (click)="toggleNavActive($event, child)">
                <span>{{ child.Title }}</span>
                <i class="fe fe-chevron-right side-menu__angle"></i>
              </a>
              }

              <!-- Recursive Children (3rd Level) -->
              @if (child.Children?.length) {
              <ul class="slide-menu child2" [ngStyle]="{ display: child.Active ? 'block' : 'none' }">
                @for (subChild of child.Children; track subChild) {
                <li class="slide" [ngClass]="{ 'open': subChild.Active }">
                  @if (subChild.MenuType === 'link') {
                  <a class="side-menu__item" [routerLink]="[subChild.Path]" routerLinkActive="active">
                    {{ subChild.Title }}
                  </a>
                  }
                  @if (subChild.MenuType === 'sub') {
                  <a class="side-menu__item" (click)="toggleNavActive($event, subChild)">
                    <span>{{ subChild.Title }}</span>
                    <i class="fe fe-chevron-right side-menu__angle"></i>
                  </a>
                  }
                </li>
                }
              </ul>
              }
            </li>
            }
          </ul>
          }
        </li>
        }
      </ul>
      <div class="slide-right" id="slide-right" (click)="rightArrowFn()">
        <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24">
          <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
        </svg>
      </div>
    </nav>
  </p-sidebar>
</aside>