<ng-template #pageHeaderActionTemplate>
  <button class="btn btn-primary btn-page-header" (click)="onClickPageHeaderBackButton()">
    <i class="pi pi-arrow-left"></i>&nbsp;Back</button>
</ng-template>

<div class="col-xl-12">
  <div class="col-xl-12 page-content">
    <div class="col-xl-12 page-content-scrollable">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="col-xl-12 card m-auto mb-2">
          <div class="card-body">
            <div class="horizontal-form">
              <div class="row">
                <!-- Customer Details -->
                <div class="col-xl-2 form-group px-2">
                  <z-span [text]="form.get('SalesEnquiryNo')?.value" [label]="formConfig.SalesEnquiryNo.label"></z-span>
                </div>
                <div class="col-xl-2 form-group px-2">
                  <z-datepicker [group]="form" [control]="'EnquiryDate'" [label]="formConfig.EnquiryDate.label"
                    [validationMessage]="formConfig.EnquiryDate.error"></z-datepicker>
                </div>
                <div class="col-xl-6"></div>
                <div class="col-xl-2 form-group px-2">
                  <z-datepicker [group]="form" [control]="'ExpectedDeliveryDate'"
                    [label]="formConfig.ExpectedDeliveryDate.label"
                    [validationMessage]="formConfig.ExpectedDeliveryDate.error"></z-datepicker>
                </div>
                <div class="col-xl-3 form-group px-2">
                  <div class="action-input-group">
                    <z-autocomplete [controlDef]="companyMasterAutoCompleteDef" (onSearch)="loadCustomer($event)"
                      (onSelect)="onSelect_Customer($event)" (onClear)="onClear_Customer()">
                    </z-autocomplete>
                    <i *ngIf="!isEditMode" class="bi bi-plus-circle fs-5 z-text-primary" role="button"
                      title="Add New Company" (click)="handleComponentLoad('VendorCreateComponent')"></i>
                  </div>
                </div>
                <div class="col-xl-3"></div>
                <div class="col-xl-2 form-group px-2" *ngIf="false">
                  <z-inputtext [group]="form" [control]="'ContactName'" [label]="formConfig.ContactName.label"
                    [validationMessage]="formConfig.ContactName.error"></z-inputtext>
                </div>
                <div class="col-xl-2 form-group px-2" *ngIf="false">
                  <z-inputtext [group]="form" [control]="'ContactEmail'" [label]="formConfig.ContactEmail.label"
                    [validationMessage]="formConfig.ContactEmail.error"></z-inputtext>
                </div>
                <div class="col-xl-2 form-group px-2" *ngIf="false">
                  <z-inputtext [group]="form" [control]="'ContactPhone'" [label]="formConfig.ContactPhone.label"
                    [validationMessage]="formConfig.ContactPhone.error"></z-inputtext>
                </div>
                <div class="col-xl-12 form-group px-2" *ngIf="form.get('CustomerID')?.value">
                  <z-span [text]="selectedCustomerAddress ?? ''"></z-span>
                </div>
                <!-- Product List -->
                <div class="col-12 px-2 d-flex flex-column mb-2">
                  <h6 class="form-group">Product List</h6>
                  <z-table [tableDef]="this.tableDef">
                  </z-table>
                </div>
                <div class="col-xl-6 form-group px-2">
                  <z-textarea [group]="form" [control]="'Note'" [label]="formConfig.Note.label"
                    [validationMessage]="formConfig.Note.error"></z-textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="page-action-panel">
    <div class="col-xl-4">
      <div class="col-xl-4 px-1" *ngIf="isEditMode && !isQuotationAlreadyExists && statusText == 'Received'">
        <button type="submit" class="btn btn-md btn-primary w-100"
          (click)="onClickNavigateToSalesQuotation(this.form.get('SalesEnquiryID')?.value || null)"> Add Quotation
        </button>
      </div>
      <div class="col-xl-6 px-1" *ngIf="isEditMode">
        <z-button [label]="'Print Sales Enquiry'" (clicked)="printSalesEnquiry()"
          [loading]="disablePrintButton"></z-button>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="status-pill" [ngStyle]="{'background-color': '#'+statusHex}" *ngIf="isEditMode">
        <span>Status: {{statusText}}</span>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="col-xl-3 px-1">
        <button type="submit" class="btn btn-md btn-primary w-100"
          [disabled]="statusText != null && statusText != 'Received'" (click)="onSubmit()"> {{ isEditMode ?
          "Update" :
          "Save" }} </button>
      </div>
      <div class="col-xl-3 px-1">
        <button type="button" class="btn btn-md btn-primary w-100" [disabled]="isEditMode" (click)="resetForm()"> Reset
        </button>
      </div>
    </div>
  </div>
</div>

<ng-template #serialNoColTemplate let-row let-i="index">
  {{i + 1}}
</ng-template>

<ng-template #productAutoCompleteColTemplate let-row let-rowIndex="index">
  <div class="action-input-group">
    <z-autocomplete [controlDef]="productAutoCompleteDef[rowIndex]" (onSearch)="onSearch_Product($event, rowIndex)"
      (onSelect)="onSelect_Product($event, rowIndex)">
    </z-autocomplete>
    <i *ngIf="rowIndex === this.productListArray.length - 1" class="bi bi-plus-circle fs-5 z-text-primary" role="button"
      title="Add New Product" (click)="handleComponentLoad('ProductCreateComponent')"></i>
  </div>
</ng-template>

<ng-template #requestedQtyColTemplate let-row let-i="index">
  <z-inputnumber [group]="productListArray.at(i)" [control]="'RequestedQty'"
    [label]="formConfig.ProductList.items.RequestedQty.label"
    [validationMessage]="formConfig.ProductList.items.RequestedQty.error?.[i]">
  </z-inputnumber>
</ng-template>

<ng-template #remarkColTemplate let-row let-i="index">
  <z-inputtext [group]="productListArray.at(i)" [control]="'Remarks'"
    [label]="formConfig.ProductList.items.Remarks.label"
    [validationMessage]="formConfig.ProductList.items.Remarks.error?.[i]">
  </z-inputtext>
</ng-template>

<ng-template #actionColTemplate let-row let-rowIndex="index">
  <div class="col-12 tables-action-col">
    <div class="col-6 justify-item-center">
      <span class="btn btn-icon btn-sm btn-danger-transparent btn-delete-reactivate"
        (click)="onClickRemoveProductItem(rowIndex)">
        <i class="pi pi-minus-circle"></i></span>
    </div>
    <div class="col-6 justify-item-center">
      <span *ngIf="rowIndex === this.productListArray.length - 1"
        class="btn btn-icon btn-sm btn-success-transparent btn-delete-reactivate" (click)="addProductRow()">
        <i class="pi pi-plus-circle"></i>
      </span>
    </div>
  </div>
</ng-template>

<ng-template #container></ng-template>