<app-form-sidebar [isVisible]="isFormSidebarVisible" [styleClass]="'w-30rem'">
  <div sidebarHeader>
    <h5 class="text-white">Rate Type Master</h5>
  </div>
  <div sidebarContent>
    <form class="form-sidebar" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="col-xl-12">
        <div class="col-xl-12 form-group">
          <z-inputtext [group]="form" control="RateTypeCode" [label]="formConfig.RateTypeCode.label"></z-inputtext>
        </div>
      </div>
      <div class="col-xl-12 form-group">
        <z-inputtext [group]="form" control="RateTypeName" [label]="formConfig.RateTypeName.label" [validationMessage]="formConfig.RateTypeName.error"></z-inputtext>
      </div>
      <div class="col-xl-12 form-group">
        <z-select [group]="form" [control]="'ApplicableFor'" [label]="formConfig.ApplicableFor.label" [validationMessage]="formConfig.ApplicableFor.error"
                  [options]="ApplicationforList" [optionLabel]="'Text'" [optionValue]="'Value'">
        </z-select>
      </div>
      <div *ngIf="!isEditMode" class="col-xl-12 form-group">
        <div class="input-group">
          <span class="input-group-text" id="addon-wrapping"><z-checkbox [group]="form" [control]="'IsCopyRate'" (onChange)="onIsCopyRateChange($event)" [label]="''"></z-checkbox></span>
          <!-- <z-select class='flex-grow-1' [group]="form" [control]="'CopyRateID'" [disabled]="!form.get('IsCopyRate')?.value" [label]="formConfig.CopyRateID.label" [validationMessage]="formConfig.CopyRateID.error"
                    [options]="copyRateList" [optionLabel]="'RateTypeName'" [optionValue]="'RateTypeID'">
          </z-select> -->
        </div>
      </div>
    </form>
  </div>
  <div sidebarFooter>
    <div class="col-xl-12 d-grid mt-4 d-flex align-items-center">
      <div class="col-md-6 pe-1">
        <button type="submit" class="btn btn-md btn-primary w-100" (click)="onSubmit()" [disabled]="isSubmitted || !ActiveStatus">
          {{ isEditMode ? 'Update' : 'Save' }}
        </button>
      </div>
      <div class="col-md-6 ps-1">
        <button type="button" class="btn btn-md btn-light w-100" (click)="closeSidebar()">Cancel</button>
      </div>
    </div>
  </div>
</app-form-sidebar>

