<!-- Page Header Action Button Template -->
<ng-template #pageHeaderActionTemplate>
  <button class="btn btn-primary btn-page-header" (click)="onClickPageHeaderAddButton()"> <i class="pi pi-plus"></i>&nbsp;Add Test Booking</button>
</ng-template>

<div class="col-xl-12 index-page-content">
  <z-datatable [tableDef]="tableDef"
               (lazyLoad)="onIndexTableLazyLoad($event)">
  </z-datatable>
</div>

<ng-template #bookingNoTemplate let-row>
  <span class="fw-bold font-blue" (click)="onClickEditDetails(row.BookingID)" style="cursor: pointer;">{{ row.BookingNo }}</span>
</ng-template>

<ng-template #dtBookingDateTemplate let-row>
  {{ row.dtBookingDate | date: 'dd-MM-yyyy'}}
</ng-template>

<ng-template #bookingActiveStatusTemplate let-row>
  <span class="badge {{ row.ActiveStatus ? 'bg-outline-danger' : 'bg-outline-success' }}">
    {{ !row.ActiveStatus ? 'GENERATED	' : 'CANCELLED	' }}
  </span>
</ng-template>

<ng-template #actionColTemplate let-row>
  <div class="d-flex justify-content-end" *ngIf="row.CanDelete">
    <span class="btn btn-icon btn-sm btn-{{row.ActiveStatus ? 'danger' : 'success'}}-transparent btn-delete-reactivate" (click)="onClickDeleteReactivate(row)"><i class="pi pi-{{row.ActiveStatus ? 'trash' : 'undo'}}"></i></span>
  </div>
</ng-template>
