<ng-template #selectionColTemplate let-row>
    <p-checkbox [ngModel]="row._selected" (onChange)="onSelectionChange()"></p-checkbox>
</ng-template>

<ng-template #quotationCodeTemplate let-row>
    <a class="table-action-link text-decoration-none cursor-pointer" (click)="onClickEditDetails(row.SalesQuotationID)">
        {{ row.SalesQuotationNo }}
    </a>
</ng-template>

<ng-template #statusColTemplate let-row>
    <span class="grid-status-pill" [ngStyle]="{ backgroundColor: row.StatusHex || 'var(--primary-color)' }">
        {{ row.StatusText }}
    </span>
</ng-template>

<z-datatable [tableDef]="tableDef" (lazyLoad)="onIndexTableLazyLoad($event)" (resetFormEmitter)="onResetForm($event)">
</z-datatable>
