 <app-form-sidebar [isVisible]="isFormSidebarVisible" [styleClass]="'w-30rem'">
  <div sidebarHeader>
    <h5 class="text-white">Employee Type Master</h5>
  </div>
  <div sidebarContent>
    <form class="form-sidebar" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="col-xl-12 form-group">
        <z-inputtext [group]="form" control="EmployeeTypeCode" [label]="formConfig.EmployeeTypeCode.label"></z-inputtext>
      </div>
      <div class="col-xl-12 form-group">
        <z-inputtext [group]="form" control="EmployeeTypeName" [label]="formConfig.EmployeeTypeName.label" [validationMessage]="formConfig.EmployeeTypeName.error"></z-inputtext>
      </div>
        <div class="col-xl-12 form-group">
            <z-checkbox [group]="form" [control]="'IsAllowedOvertime'" [label]="formConfig.IsAllowedOvertime.label"></z-checkbox>
        </div>
    </form>
  </div>
  <div sidebarFooter>
    <div class="col-xl-12 d-grid mt-4 d-flex align-items-center">
      <div class="col-md-6 pe-1">
        <button type="submit" class="btn btn-md btn-primary w-100" (click)="onSubmit()" [disabled]="form.get('ActiveStatus')?.value == false">
          {{ isEditMode ? 'Update' : 'Save' }}
        </button>
      </div>
      <div class="col-md-6 ps-1">
        <button type="button" class="btn btn-md btn-light w-100" (click)="onCloseSidebar()">Cancel</button>
      </div>
    </div>
  </div>
</app-form-sidebar>
