<!--Page Header Action Button Template-->
<ng-template #pageHeaderActionTemplate>
    <button class="btn btn-primary btn-page-header" (click)="onClickPageHeaderAddButton()"> <i
            class="pi pi-plus"></i>&nbsp; Add Sales Enquiry</button>
</ng-template>

<div class="col-xl-12 index-page-content">
    <div class="index-action-bar">
        <div class="d-flex align-items-center gap-3">
            <p-checkbox binary="true" [(ngModel)]="selectAll" (onChange)="toggleSelectAll($event)">
            </p-checkbox>

            <span class="text-muted">
                <b>{{ selectedSalesEnquiries.length }} selected</b>
            </span>
        </div>

        <div class="col-6 index-action-bar-actions">
            <!-- VIEW SWITCHER -->
            <div class="btn-group me-2">
                <button class="btn btn-outline-primary" [class.active]="viewType() === 'card'"
                    (click)="toggleView('card')">
                    <i class="pi pi-th-large"></i> Card
                </button>
                <button class="btn btn-outline-primary" [class.active]="viewType() === 'table'"
                    (click)="toggleView('table')">
                    <i class="pi pi-list"></i> Table
                </button>
            </div>

            <!-- BULK ACTIONS -->
            <button class="btn btn-primary" [disabled]="!selectedSalesEnquiries.length" (click)="bulkChangeStatus(1)">
                Revert to Received
            </button>

            <button class="btn btn-primary" [disabled]="!selectedSalesEnquiries.length" (click)="bulkChangeStatus(2)">
                Mark as Under Review
            </button>

            <button class="btn btn-primary" [disabled]="!selectedSalesEnquiries.length" (click)="bulkChangeStatus(6)">
                Cancel
            </button>
        </div>
    </div>

    @if (viewType() === 'card') {
    <app-dataview [filterForm]="filterForm" [sortingForm]="sortingForm"
        (selectionChange)="onSelectionChange($event)"></app-dataview>
    } @else {
    <app-gridview [filterForm]="filterForm" [sortingForm]="sortingForm"
        (selectionChange)="onSelectionChange($event)"></app-gridview>
    }
</div>