
<ng-template #pageHeaderActionTemplate>
  <button class="btn btn-primary btn-sm" (click)="onClickPageHeaderAddButton()"> <i class="bi bi-arrow-left-circle" style="vertical-align: bottom; margin-right: 5px;"></i>Back</button>
</ng-template>

<form [formGroup]="form"
      autocomplete="off">
  <div class="row">
    <div class="col-xl-1"></div>
    <div class="col-xl-10 pt-3">
      <div class="row">
        <div class="col-xl-5 form-group">
          <z-select [group]="form" [control]="'TestID'" [label]="formConfig.TestID.label" [validationMessage]="formConfig.TestID.error"
                    [options]="TestList" [optionLabel]="'Text'" [optionValue]="'Value'">
          </z-select>
        </div>
        <div class="col-xl-5 form-group">
          <z-select [group]="form" [control]="'OrganismID'" [label]="formConfig.OrganismID.label" [validationMessage]="formConfig.OrganismID.error" (onChange)="onOrganismChange()"
                    [options]="OrganismList" [optionLabel]="'OrganismName'" [optionValue]="'OrganismID'">
          </z-select>
        </div>
        <div class="col-xl-2 form-group">
          <z-inputnumber [group]="form" control="TotalMappedAntibiotic" [label]="formConfig.TotalMappedAntibiotic.label"></z-inputnumber>
        </div>
      </div>
    </div>
    <div class="col-xl-1"></div>
  </div>
  <!--<p-pickList
              [source]="AntibioticList"
              [target]="AntibioticMappedList"
              sourceHeader="Antibiotic"
              targetHeader="Mapped Antibiotic"
              [responsive]="true"
              [dragdrop]="true"
              [showSourceControls]="false"
              [showTargetControls]="false"
              [metaKeySelection]="true"
              [sourceStyle]="{ height: '30rem' }"
              [targetStyle]="{ height: '30rem' }"
              (onMoveToSource)="onMoveToSource($event)"
              (onMoveAllToSource)="onMoveToSource($event)"
              (onMoveToTarget)="onMoveToTarget($event)"
              (onMoveAllToTarget)="onMoveToTarget($event)"
              filterBy="TestMethodName"
              sourceFilterPlaceholder="Search by name"
              targetFilterPlaceholder="Search by name"
              breakpoint="1400px">
    <ng-template let-antibioticList pTemplate="item">
      <div class="d-flex align-items-center gap-3 p-2">
        <div class="flex-grow-1">
          <span class="font-bold">{{ antibioticList.AntibioticName }}</span>
        </div>
      </div>
    </ng-template>
  </p-pickList>-->

  <z-picklist [sourceList]="AntibioticList"
              [targetList]="AntibioticMappedList"
              [sourceHeader]="'Antibiotic'"
              [targetHeader]="'Mapped Antibiotic'"
              [itemName]="'AntibioticName'"
              [showActionButton]="false"
              (onMoveToSource)="onMoveToSource($event)"
              (onMoveAllToSource)="onMoveToSource($event)"
              (onMoveToTarget)="onMoveToTarget($event)"
              (onMoveAllToTarget)="onMoveToTarget($event)">
  </z-picklist>

</form>
<div class="row m-1">
  <div class="col-xl-5"></div>
  <div class="col-xl-2">
    <button type="submit" class="btn btn-md btn-primary w-100 p-1" [disabled]="(!AntibioticMappedList.length && !isItemMovedToSource) || isSubmitted" (click)="onSubmit(AntibioticMappedList,OrganismMapping)">Update</button>
  </div>
  <div class="col-xl-5"></div>
</div>
