<div class="table-responsive">
  <table appMydatatable [options]="dtOptions"
         class="row-border hover table table-striped table-hover table-sm dataTable dataTable-column_filter"
         width="100%"
         data-column-filter-types="null,text,text">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
    </thead>
  </table>
  <!--<table datatable [dtOptions]="dtOptions" class="row-border hover">-->
    <!--<tfoot>
      <tr>
        <th><input type="text" placeholder="Search ID" name="search-id" /></th>
        <th><input type="text" placeholder="Search first name" name="search-first-name" /></th>
        <th><input type="text" placeholder="Search last name" name="search-last-name" /></th>
      </tr>
    </tfoot>-->
  <!--</table>-->
  <!--<div appDatatable1 class="dataTables_paginate paging_input"></div>-->
</div>
