<ng-template #pageHeaderActionTemplate>
  <button class="btn btn-primary btn-page-header" (click)="onClickPageHeaderBackButton()">
    <i class="pi pi-arrow-left"></i>&nbsp;Back</button>
</ng-template>

<div class="col-xl-12">
  <div class="col-xl-12 page-content">
    <div class="col-xl-12 page-content-scrollable">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="col-xl-12 card m-auto mb-2">
          <div class="card-body">
            <div class="horizontal-form">
              <div class="row">
                <!-- Order Details -->
                <div class="col-xl-2 form-group px-2">
                  <z-span [text]="form.get('SalesQuotationNo')?.value"
                    [label]="formConfig.SalesQuotationNo.label"></z-span>
                </div>
                <div class="col-xl-2 form-group px-2">
                  <z-select [group]="form" [control]="'BasedOn'" [label]="formConfig.BasedOn.label"
                    [optionLabel]="'Text'" [optionValue]="'iValue'" [options]="basedOnList" [readonly]="isEditMode"
                    (onChange)="onBasedOnChange()"></z-select>
                </div>
                <div class="col-xl-6"></div>
                <div class="col-xl-2 form-group px-2">
                  <z-datepicker [group]="form" [control]="'SalesQuotationDate'"
                    [label]="formConfig.SalesQuotationDate.label"
                    [validationMessage]="formConfig.SalesQuotationDate.error"></z-datepicker>
                </div>
                <div class="col-xl-2 form-group px-2" *ngIf="isBasedOnSalesEnquiry">
                  <z-autocomplete [controlDef]="salesEnquiryAutoCompleteDef" [allowEmptySearch]="true"
                    [isClearable]="!(isBasedOnSalesEnquiry && isEditMode)" (onSearch)="loadSalesEnquiry($event)"
                    (onSelect)="onSelect_SalesEnquiry($event)" (onClear)="onClear_SalesEnquiry()"></z-autocomplete>
                </div>

                <!-- Customer Details -->
                <div class="col-xl-3 form-group px-2">
                  <div class="action-input-group">
                    <z-autocomplete [controlDef]="companyMasterAutoCompleteDef" (onSearch)="loadCustomer($event)"
                      (onSelect)="onSelect_Customer($event)" (onClear)="onClear_Customer()"
                      [isClearable]="!isBasedOnSalesEnquiry" [readonly]="isBasedOnSalesEnquiry">
                    </z-autocomplete>
                    <i class="bi bi-plus-circle fs-5 z-text-primary" role="button" title="Add New Company"
                      (click)="handleComponentLoad('VendorCreateComponent')" *ngIf="!isBasedOnSalesEnquiry"></i>
                  </div>
                </div>
                <div class="col-xl-7"></div>
                <div class="col-xl-12 form-group px-2" *ngIf="form.get('CustomerID')?.value">
                  <z-span [text]="selectedCustomerAddress ?? ''"></z-span>
                </div>

                <!-- Currency & Exchange -->
                <h6 class="form-group px-2">Exchange Rate Details</h6>
                <div class="col-xl-3 form-group px-2">
                  <div class="action-input-group">
                    <z-select [group]="form" [control]="'FCCurrencyID'" [label]="formConfig.FCCurrencyID.label"
                      [optionLabel]="'CurrencyName'" [optionValue]="'CurrencyID'" [options]="currencyList"
                      (onChange)="onCurrencyChange()"></z-select>
                    <i class="bi bi-plus-circle fs-5 z-text-primary" role="button" title="Add New Currency"
                      (click)="handleComponentLoad('CurrencyCreateComponent')"></i>
                  </div>
                </div>
                <div class="col-xl-5"></div>
                <div class="col-xl-2 form-group px-2">
                  <z-inputnumber [group]="form" [control]="'ExchangeRateToBC'"
                    [label]="formConfig.ExchangeRateToBC.label" (onChange)="productCalculation()"></z-inputnumber>
                </div>
                <div class="col-xl-2 form-group px-2">
                  <z-datepicker [group]="form" [control]="'ValidityDate'" [label]="formConfig.ValidityDate.label"
                    [validationMessage]="formConfig.ValidityDate.error"></z-datepicker>
                </div>

                <!-- Incoterm and Charges -->
                <div class="col-xl-3 form-group px-2">
                  <z-select [group]="form" [control]="'IncotermID'" [label]="formConfig.IncotermID.label"
                    [optionLabel]="'Text'" [optionValue]="'iValue'" [options]="incotermList"></z-select>
                </div>
                <div class="col-xl-8"></div>
                <!-- Product List -->
                <div class="col-12 px-2 d-flex flex-column mb-2">
                  <h6 class="form-group">Product List</h6>
                  <z-table [tableDef]="this.tableDef">
                  </z-table>
                </div>
                <!-- Payment & Shipment -->
                <div class="col-xl-2 form-group px-2">
                  <z-select [group]="form" [control]="'PaymentTermID'" [label]="formConfig.PaymentTermID.label"
                    [options]="paymentTermList" [optionLabel]="'PaymentTermName'"
                    [optionValue]="'PaymentTermID'"></z-select>
                </div>
                <!-- Narration -->
                <div class="col-md-6 form-group px-2">
                  <z-textarea [group]="form" [control]="'Narration'" [label]="formConfig.Narration.label"></z-textarea>
                </div>
                <div class="col-xl-2"></div>
                <div class="col-xl-1 pe-2 form-group ms-auto">
                  <z-checkbox [group]="form" [control]="'IsRoundOff'" [label]="formConfig.IsRoundOff.label">
                  </z-checkbox>
                </div>
              </div>
            </div>
            <div class="col-12 d-flex justify-content-end">
              <div class="card pt-2 pb-2 mb-2 col-auto">
                <div class="d-flex flex-column gap-2 px-2">
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-0">Subtotal Amount: </p> &nbsp; &nbsp; &nbsp;
                    <z-inputnumber [group]="form" [control]="'SubtotalAmountFC'"
                      [label]="formConfig.SubtotalAmountFC.label"
                      [validationMessage]="formConfig.SubtotalAmountFC.error" [readonly]="true"></z-inputnumber>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-0">Tax Amount: </p> &nbsp; &nbsp; &nbsp;
                    <z-inputnumber [group]="form" [control]="'TaxAmountFC'" [label]="formConfig.TaxAmountFC.label"
                      [validationMessage]="formConfig.TaxAmountFC.error" [readonly]="true"></z-inputnumber>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-0">Net Amount: </p> &nbsp; &nbsp; &nbsp;
                    <z-inputnumber [group]="form" [control]="'NetAmountFC'" [label]="formConfig.NetAmountFC.label"
                      [validationMessage]="formConfig.NetAmountFC.error" [readonly]="true"></z-inputnumber>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="page-action-panel">
    <div class="col-xl-4">
      <div class="col-xl-4 px-1" *ngIf="isEditMode && !isExportAlreadyExists">
        <button type="submit" class="btn btn-md btn-primary w-100"
          (click)="onClickNavigateToExportOrder(this.form.get('SalesQuotationID')?.value || null)"> Add Export </button>
      </div>
      <div class="col-xl-4 px-1" *ngIf="isEditMode">
        <z-button [label]="'Print Sales Quotation'" (clicked)="printSalesQuotation()"
          [loading]="disablePrintButton"></z-button>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="status-pill" [ngStyle]="{'background-color': '#'+statusHex}" *ngIf="isEditMode">
        <span>Status: {{statusText}}</span>
      </div>
    </div>

    <div class="col-xl-4">
      <div class="col-xl-3 px-1">
        <button type="submit" class="btn btn-md btn-primary w-100" (click)="onSubmit()"> {{ isEditMode ? "Update" :
          "Save" }} </button>
      </div>
      <div class="col-xl-3 px-1">
        <button type="submit" class="btn btn-md btn-primary w-100" (click)="resetForm()"> Reset </button>
      </div>
    </div>
  </div>
</div>

<!-- Export Order Item Table Related Templates Start-->
<ng-template #serialNoColTemplate let-row let-i="index">
  {{i + 1}}
</ng-template>

<ng-template #productAutoCompleteColTemplate let-row let-rowIndex="index">
  <z-autocomplete [controlDef]="productAutoCompleteDef[rowIndex]" (onSearch)="onSearch_Product($event, rowIndex)"
    (onSelect)="onSelect_Product($event, rowIndex)" (onClear)="onClear_Product(rowIndex)">
  </z-autocomplete>
</ng-template>

<ng-template #quotedQtyColTemplate let-row let-i="index">
  <z-inputnumber [group]="productListArray.at(i)" [control]="'QuotedQty'"
    [label]="formConfig.ProductList.items.QuotedQty.label"
    [validationMessage]="formConfig.ProductList.items.QuotedQty.error?.[i]" (onChange)="productCalculation()">
  </z-inputnumber>
</ng-template>

<ng-template #ratePerUnitFCColTemplate let-row let-i="index">
  <div class="input-group">
    <!-- <span class="input-group-text"><i class="pi pi-indian-rupee"></i></span> -->
    <z-inputnumber [group]="productListArray.at(i)" [control]="'RatePerUnitFC'"
      [label]="formConfig.ProductList.items.RatePerUnitFC.label"
      [validationMessage]="formConfig.ProductList.items.RatePerUnitFC.error?.[i]" [styleClass]="'text-end'"
      (onChange)="productCalculation()" [maxFractionDigits]="3"></z-inputnumber>
  </div>
</ng-template>

<ng-template #taxRateColTemplate let-row let-i="index">
  <z-select [group]="productListArray.at(i)" [control]="'TaxRate'" [label]="formConfig.ProductList.items.TaxRate.label"
    [validationMessage]="formConfig.ProductList.items.TaxRate.error?.[i]" [options]="taxSlabList"
    [optionLabel]="'TaxSlabName'" [optionValue]="'TaxRate'" (onChange)="productCalculation();">
  </z-select>
</ng-template>

<ng-template #taxableAmountBCColTemplate let-row let-i="index">
  <div class="input-group" *ngIf="true">
    <!-- <span class="input-group-text"><i class="pi pi-indian-rupee"></i></span> -->
    <z-inputnumber [group]="productListArray.at(i)" [control]="'TaxableAmountFC'"
      [label]="formConfig.ProductList.items.TaxableAmountFC.label" [readonly]="true"
      [validationMessage]="formConfig.ProductList.items.TaxableAmountFC.error?.[i]" [styleClass]="'text-end'"
      [maxFractionDigits]="3"></z-inputnumber>
  </div>
</ng-template>

<ng-template #taxAmountBCColTemplate let-row let-i="index">
  <div class="input-group">
    <!-- <span class="input-group-text"><i class="pi pi-indian-rupee"></i></span> -->
    <z-inputnumber [group]="productListArray.at(i)" [control]="'TaxAmountFC'"
      [label]="formConfig.ProductList.items.TaxAmountFC.label"
      [validationMessage]="formConfig.ProductList.items.TaxAmountFC.error?.[i]" [readonly]="true"
      [styleClass]="'text-end'" [maxFractionDigits]="3"></z-inputnumber>
    <!-- <z-span class="flex-grow-1 numeric-span" [text]="getAmount(i)[1].toString()"></z-span> -->
  </div>
</ng-template>

<ng-template #actionColTemplate let-row let-i="index">
  <div class="d-flex justify-content-end gap-3">
    <span class="btn btn-icon btn-sm btn-danger-transparent btn-delete-reactivate"
      (click)="onClickRemoveProductItem(i)">
      <i class="pi pi-minus-circle"></i></span>
    <span *ngIf="i === this.productListArray.length - 1"
      class="btn btn-icon btn-sm btn-success-transparent btn-delete-reactivate" (click)="addProductRow()">
      <i class="pi pi-plus-circle"></i>
    </span>
  </div>
</ng-template>

<ng-template #container></ng-template>