<ng-template #pageHeaderActionTemplate>
</ng-template>

<div class="col-xl-12 proforma-invoice-create sales-quotation-create" [class.is-edit-mode]="isEditMode">
  <div class="create-header">
    <div class="create-header-left">
      <button class="toolbar-btn icon-btn back-btn" type="button" (click)="OnClickPageHeaderBackButton()"
        aria-label="Back" title="Back">
        <i class="pi pi-angle-left" aria-hidden="true"></i>
        <span class="visually-hidden">Back</span>
      </button>
      <div class="create-title">
        <div class="create-title-eyebrow">
          <div class="create-title-main">{{ isEditMode ? 'Edit' : 'Create' }} Sales Quotation</div>
          <div class="status-pill" *ngIf="isEditMode && statusText"
            [ngStyle]="{ 'background-color': statusHex || 'var(--primary-color)' }">
            <span>{{statusText}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="create-header-right">
      <div class="toolbar">
        <button type="button" class="toolbar-btn" (click)="ResetForm()">
          <span>Reset</span>
        </button>

        <button type="button" class="toolbar-btn is-active" (click)="OnSubmit()">
          <span>{{ isEditMode ? 'Update' : 'Save' }}</span>
        </button>

        <button type="button" class="toolbar-btn" *ngIf="isEditMode && !isExportAlreadyExists && statusText == 'Sent'"
          (click)="OnClickNavigateToExportOrder(this.form.get('SalesQuotationID')?.value || null)">
          <span>Add Export</span>
        </button>

        <button type="button" class="toolbar-btn" *ngIf="isEditMode" [disabled]="disablePrintButton"
          (click)="PrintSalesQuotation()">
          <span class="spinner-border spinner-border-sm me-2" *ngIf="disablePrintButton" aria-hidden="true"></span>
          <span>Print Sales Quotation</span>
        </button>
      </div>
    </div>
  </div>

  <div class="col-xl-12 page-content">
    <div class="col-xl-12 page-content-scrollable">
      <form class="create-form" [formGroup]="form" (ngSubmit)="OnSubmit()" autocomplete="off">
        <div class="col-xl-12 card m-auto mb-2">
          <div class="card-body">
            <div class="horizontal-form">
              <div class="row">
                <div class="proforma-fields-group proforma-fields-group--pre">
                  <div class="col-xl-2 form-group px-2">
                    <z-span [text]="form.get('SalesQuotationNo')?.value" [label]="formConfig.SalesQuotationNo.label"></z-span>
                  </div>

                  <div class="col-xl-2 form-group px-2">
                    <z-select [group]="form" [control]="'BasedOn'" [label]="formConfig.BasedOn.label"
                      [optionLabel]="'Text'" [optionValue]="'iValue'" [options]="basedOnList" [readonly]="isEditMode"
                      (onChange)="OnBasedOnChange()"></z-select>
                  </div>

                  <div class="col-xl-6"></div>

                  <div class="col-xl-2 form-group px-2">
                    <z-datepicker [group]="form" [control]="'SalesQuotationDate'" [label]="formConfig.SalesQuotationDate.label"
                      [validationMessage]="formConfig.SalesQuotationDate.error"></z-datepicker>
                  </div>

                  <div class="col-xl-2 form-group px-2" *ngIf="isBasedOnSalesEnquiry">
                    <z-autocomplete [controlDef]="salesEnquiryAutoCompleteDef" [allowEmptySearch]="true"
                      [isClearable]="!(isBasedOnSalesEnquiry && isEditMode)" (onSearch)="LoadSalesEnquiry($event)"
                      (onSelect)="OnSelect_SalesEnquiry($event)" (onClear)="OnClear_SalesEnquiry()"></z-autocomplete>
                  </div>

                  <div class="col-xl-3 form-group px-2 simple-field proforma-customer-field">
                    <label class="simple-label">{{formConfig.CustomerID.label}}:</label>
                    <div class="simple-control plus-field-control">
                      <div class="plus-field-row">
                        <z-autocomplete class="customer-autocomplete" [controlDef]="companyMasterAutoCompleteDef"
                          (onSearch)="LoadCustomer($event)" (onSelect)="OnSelect_Customer($event)" (onClear)="OnClear_Customer()"
                          [isClearable]="!isBasedOnSalesEnquiry" [readonly]="isBasedOnSalesEnquiry">
                        </z-autocomplete>
                        <button *ngIf="!isBasedOnSalesEnquiry" type="button" class="simple-action-btn plus-field-btn"
                          title="Add New Company" (click)="HandleComponentLoad('VendorCreateComponent')">
                          <i class="pi pi-plus" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-{{isBasedOnSalesEnquiry ? 5 : 7}}"></div>

                  <div class="col-xl-12 form-group px-2" *ngIf="form.get('CustomerID')?.value">
                    <z-span [text]="selectedCustomerAddress ?? ''"
                      [label]="isEditMode ? 'Address' : 'Billing Address'"></z-span>
                  </div>

                  <h6 class="form-group px-2">Exchange Rate Details</h6>

                  <div class="col-xl-3 form-group px-2 simple-field proforma-fc-field">
                    <label class="simple-label">{{formConfig.FCCurrencyID.label}}:</label>
                    <div class="simple-control plus-field-control">
                      <div class="plus-field-row">
                        <z-select [group]="form" [control]="'FCCurrencyID'" [label]="''" [optionLabel]="'CurrencyName'"
                          [optionValue]="'CurrencyID'" [options]="currencyList" (onChange)="OnCurrencyChange()"></z-select>
                        <button type="button" class="simple-action-btn plus-field-btn" title="Add New Currency"
                          (click)="HandleComponentLoad('CurrencyCreateComponent')">
                          <i class="pi pi-plus" aria-hidden="true"></i>
                        </button>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-5"></div>

                  <div class="col-xl-2 form-group px-2">
                    <z-inputnumber [group]="form" [control]="'ExchangeRateToBC'" [label]="formConfig.ExchangeRateToBC.label"
                      (onChange)="ProductCalculation()" [maxFractionDigits]="8"></z-inputnumber>
                  </div>

                  <div class="col-xl-2 form-group px-2">
                    <z-datepicker [group]="form" [control]="'ValidityDate'" [label]="formConfig.ValidityDate.label"
                      [validationMessage]="formConfig.ValidityDate.error"></z-datepicker>
                  </div>

                  <div class="col-xl-3 form-group px-2">
                    <z-select [group]="form" [control]="'IncotermID'" [label]="formConfig.IncotermID.label"
                      [optionLabel]="'Text'" [optionValue]="'iValue'" [options]="incotermList"></z-select>
                  </div>
                </div>

                <div class="simple-field simple-field-table">
                  <div class="simple-control">
                    <z-table [tableDef]="this.tableDef"></z-table>
                  </div>
                </div>

                <div class="table-add-row">
                  <button type="button" class="simple-btn" [disabled]="isAddProductBtnLoading" (click)="AddProductRow()">
                    <span class="spinner-border spinner-border-sm" *ngIf="isAddProductBtnLoading" aria-hidden="true"></span>
                    <i class="pi pi-plus" aria-hidden="true" *ngIf="!isAddProductBtnLoading"></i>
                    <span>Add line</span>
                  </button>
                </div>

                <div class="proforma-fields-group proforma-fields-group--post">
                  <div class="col-xl-3 form-group px-2">
                    <z-select [group]="form" [control]="'PaymentTermID'" [label]="formConfig.PaymentTermID.label"
                      [options]="paymentTermList" [optionLabel]="'PaymentTermName'" [optionValue]="'PaymentTermID'"></z-select>
                  </div>

                  <div class="col-xl-2 form-group px-2 simple-field proforma-roundoff-field">
                    <label class="simple-label"></label>
                    <div class="simple-control checkbox-control proforma-roundoff-control">
                      <z-checkbox [group]="form" [control]="'IsRoundOff'" [label]="formConfig.IsRoundOff.label"></z-checkbox>
                    </div>
                  </div>

                  <div class="col-md-6 form-group px-2">
                    <z-textarea [group]="form" [control]="'Narration'" [label]="formConfig.Narration.label"
                      [autoResize]="true" [rows]="1"></z-textarea>
                  </div>
                </div>
              </div>
            </div>

            <div class="amount-summary-wrap">
              <div class="amount-summary-card">
                <div class="amount-summary-row">
                  <span>Subtotal Amount:</span>
                  <z-inputnumber [group]="form" [control]="'SubtotalAmountFC'" [label]="''"
                    [validationMessage]="formConfig.SubtotalAmountFC.error" [readonly]="true"></z-inputnumber>
                </div>
                <div class="amount-summary-row">
                  <span>Tax Amount:</span>
                  <z-inputnumber [group]="form" [control]="'TaxAmountFC'" [label]="''"
                    [validationMessage]="formConfig.TaxAmountFC.error" [readonly]="true"></z-inputnumber>
                </div>
                <div class="amount-summary-row">
                  <span>Net Amount:</span>
                  <z-inputnumber [group]="form" [control]="'NetAmountFC'" [label]="''"
                    [validationMessage]="formConfig.NetAmountFC.error" [readonly]="true"></z-inputnumber>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #serialNoColTemplate let-row let-i="index">
  {{i + 1}}
</ng-template>

<ng-template #productAutoCompleteColTemplate let-row let-rowIndex="index">
  <div class="action-input-group">
    <div class="col-11">
      <z-autocomplete [controlDef]="productAutoCompleteDef[rowIndex]" (onSearch)="OnSearch_Product($event, rowIndex)"
        (onSelect)="OnSelect_Product($event, rowIndex)" (onClear)="OnClear_Product(rowIndex)">
      </z-autocomplete>
    </div>
    <button type="button" class="inline-add-btn" title="Add New Product"
      *ngIf="rowIndex === this.productListArray.length - 1" (click)="HandleComponentLoad('ProductCreateComponent')">
      <i class="pi pi-plus" aria-hidden="true"></i>
    </button>
  </div>
</ng-template>

<ng-template #quotedQtyColTemplate let-row let-i="index">
  <z-inputnumber [group]="productListArray.at(i)" [control]="'QuotedQty'"
    [label]="formConfig.ProductList.items.QuotedQty.label"
    [validationMessage]="formConfig.ProductList.items.QuotedQty.error?.[i]" (onChange)="ProductCalculation()">
  </z-inputnumber>
</ng-template>

<ng-template #ratePerUnitFCColTemplate let-row let-i="index">
  <div class="input-group">
    <z-inputnumber [group]="productListArray.at(i)" [control]="'RatePerUnitFC'"
      [label]="formConfig.ProductList.items.RatePerUnitFC.label"
      [validationMessage]="formConfig.ProductList.items.RatePerUnitFC.error?.[i]" [styleClass]="'text-end'"
      (onChange)="ProductCalculation()" [maxFractionDigits]="3"></z-inputnumber>
  </div>
</ng-template>

<ng-template #taxRateColTemplate let-row let-i="index">
  <z-select [group]="productListArray.at(i)" [control]="'TaxRate'" [label]="formConfig.ProductList.items.TaxRate.label"
    [validationMessage]="formConfig.ProductList.items.TaxRate.error?.[i]" [options]="taxSlabList"
    [optionLabel]="'TaxSlabName'" [optionValue]="'TaxRate'" (onChange)="ProductCalculation();">
  </z-select>
</ng-template>

<ng-template #taxableAmountFCColTemplate let-row let-i="index">
  <div class="input-group" *ngIf="true">
    <z-inputnumber [group]="productListArray.at(i)" [control]="'TaxableAmountFC'"
      [label]="formConfig.ProductList.items.TaxableAmountFC.label" [readonly]="true"
      [validationMessage]="formConfig.ProductList.items.TaxableAmountFC.error?.[i]" [styleClass]="'text-end'"
      [maxFractionDigits]="3"></z-inputnumber>
  </div>
</ng-template>

<ng-template #taxAmountFCColTemplate let-row let-i="index">
  <div class="input-group">
    <z-inputnumber [group]="productListArray.at(i)" [control]="'TaxAmountFC'"
      [label]="formConfig.ProductList.items.TaxAmountFC.label"
      [validationMessage]="formConfig.ProductList.items.TaxAmountFC.error?.[i]" [readonly]="true"
      [styleClass]="'text-end'" [maxFractionDigits]="3"></z-inputnumber>
  </div>
</ng-template>

<ng-template #actionColTemplate let-row let-rowIndex="index">
  <div class="col-12 tables-action-col">
    <button type="button" class="simple-btn simple-btn-icon" title="Remove line"
      (click)="OnClickRemoveProductItem(rowIndex)">
      <i class="pi pi-minus" aria-hidden="true"></i>
    </button>
  </div>
</ng-template>

<ng-template #container></ng-template>
