<app-form-sidebar [isVisible]="isFormSidebarVisible" [styleClass]="'w-30rem module-create-sidebar'">
  <div sidebarHeader>
    <h5 class="module-create-title">{{ isEditMode ? 'Edit Module' : 'Create Module' }}</h5>
  </div>
  <div sidebarContent>
    <form class="module-create-form" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="simple-form">
        <div class="simple-field">
          <label class="simple-label">{{ formConfig.ModuleCode.label }}:</label>
          <div class="simple-control">
            <z-inputtext [group]="form" [control]="'ModuleCode'" [label]="''"
              [validationMessage]="formConfig.ModuleCode.error"></z-inputtext>
          </div>
        </div>

        <div class="simple-field">
          <label class="simple-label">{{ formConfig.ModuleName.label }}:</label>
          <div class="simple-control">
            <z-inputtext [group]="form" [control]="'ModuleName'" [label]="''"
              [validationMessage]="formConfig.ModuleName.error"></z-inputtext>
          </div>
        </div>

        <div class="simple-field">
          <label class="simple-label">{{ formConfig.ImagePath.label }}:</label>
          <div class="simple-control">
            <z-inputtext [group]="form" [control]="'ImagePath'" [label]="''"
              [validationMessage]="formConfig.ImagePath.error"></z-inputtext>
          </div>
        </div>

        <div class="simple-field">
          <label class="simple-label">{{ formConfig.DisplayOrder.label }}:</label>
          <div class="simple-control">
            <z-inputnumber [group]="form" [control]="'DisplayOrder'" [label]="''"
              [validationMessage]="formConfig.DisplayOrder.error"></z-inputnumber>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div sidebarFooter>
    <div class="module-create-footer">
      <button type="button" class="simple-btn" (click)="closeSidebar()">Cancel</button>
      <button type="submit" class="simple-btn is-active" (click)="onSubmit()" [disabled]="isSubmitted || !activeStatus || form.invalid">
        {{ isEditMode ? 'Update' : 'Save' }}
      </button>
    </div>
  </div>
</app-form-sidebar>
