<ng-template #pageHeaderActionTemplate>
  <button class="btn btn-primary btn-page-header" (click)="onClickPageHeaderBackButton()">
    <i class="pi pi-arrow-left"></i>&nbsp;Back</button>
</ng-template>

<div class="col-xl-12">
  <div class="col-xl-12 page-content">
    <div class="col-xl-12 page-content-scrollable">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="col-xl-12 card m-auto mb-2">
          <div class="card-body">
            <div class="horizontal-form">
              <div class="row">
                <!-- Order Details -->
                <div class="col-xl-2 form-group px-2">
                  <z-span [text]="form.get('ExportOrderNo')?.value" [label]="formConfig.ExportOrderNo.label"></z-span>
                </div>
                <div class="col-xl-2 form-group px-2">
                  <z-datepicker [group]="form" [control]="'ExportOrderDate'" [label]="formConfig.ExportOrderDate.label"
                    [validationMessage]="formConfig.ExportOrderDate.error"></z-datepicker>
                </div>
                <div class="col-xl-4"></div>
                <div class="col-xl-2 form-group px-2">
                  <z-datepicker [group]="form" [control]="'ReferenceDate'" [label]="formConfig.ReferenceDate.label"
                    [validationMessage]="formConfig.ReferenceDate.error"></z-datepicker>
                </div>
                <div class="col-xl-2 form-group px-2">
                  <z-inputtext [group]="form" [control]="'ReferenceNo'" [label]="formConfig.ReferenceNo.label"
                    [validationMessage]="formConfig.ReferenceNo.error"></z-inputtext>
                </div>

                <!-- Customer Details -->
                <div class="col-xl-3 form-group px-2">
                  <z-autocomplete [controlDef]="companyMasterAutoCompleteDef" (onSearch)="loadCompany($event)"
                    (onSelect)="OnCustomerSelect($event)" (onClear)="onClear_Company()"></z-autocomplete>
                </div>
                <div class="col-xl-9"></div>
                <div class="col-xl-12 form-group px-2">
                  <z-span [text]="selectedCustomerAddress ?? ''"></z-span>
                </div>

                <!-- Currency & Exchange -->
                <h6 class="form-group px-2">Exchange Rate Details</h6>
                <div class="col-xl-3 form-group px-2">
                  <z-select [group]="form" [control]="'FCCurrencyID'" [label]="formConfig.FCCurrencyID.label"
                    [optionLabel]="'cValue'" [optionValue]="'iValue'" [options]="currencyList"></z-select>
                </div>
                <div class="col-xl-5"></div>
                <div class="col-xl-2 form-group px-2">
                  <z-datepicker [group]="form" [control]="'ExchangeRateDate'"
                    [label]="formConfig.ExchangeRateDate.label"></z-datepicker>
                </div>
                <div class="col-xl-2 form-group px-2">
                  <z-inputnumber [group]="form" [control]="'ExchangeRateToBC'"
                    [label]="formConfig.ExchangeRateToBC.label" (onChange)="productCalculation()"></z-inputnumber>
                </div>

                <!-- Incoterm and Charges -->
                <div class="col-xl-3 form-group px-2">
                  <z-select [group]="form" [control]="'IncotermID'" [label]="formConfig.IncotermID.label"
                    [optionLabel]="'Text'" [optionValue]="'iValue'" [options]="incotermList"></z-select>
                </div>
                <div class="col-xl-7"></div>
                <div class="col-md-2 form-group px-2">
                  <z-inputnumber [group]="form" [control]="'FreightChargeBC'"
                    [label]="formConfig.FreightChargeBC.label"></z-inputnumber>
                </div>
                <div class="col-xl-2 form-group px-2">
                  <z-checkbox [group]="form" [control]="'IsDutyDrawable'"
                    [label]="formConfig.IsDutyDrawable.label"></z-checkbox>
                </div>
                <div class="col-xl-2 px-2">
                  <z-checkbox [group]="form" [control]="'IsRoDTEP'" [label]="formConfig.IsRoDTEP.label"></z-checkbox>
                </div>
                <div class="col-xl-6"></div>
                <div class="col-md-2 form-group px-2">
                  <z-inputnumber [group]="form" [control]="'InsuranceAmountBC'"
                    [label]="formConfig.InsuranceAmountBC.label"></z-inputnumber>
                </div>
                <!-- Product List -->
                <div class="col-12 px-2">
                  <h6 class="form-group">Product List</h6>
                  <div class="col-xl-3 form-group">
                    <z-autocomplete [controlDef]="productAutoCompleteDef" (onSearch)="onSearch_Product($event)"
                      (onSelect)="onSelect_Product($event)"></z-autocomplete>
                  </div>
                  <z-table [tableDef]="this.tableDef">
                  </z-table>
                </div>
                <!-- Payment & Shipment -->
                <div class="col-xl-12 form-group px-2">
                  <z-textarea [group]="form" [control]="'PaymentTerms'"
                    [label]="formConfig.PaymentTerms.label"></z-textarea>
                </div>
                <!-- Shipment -->
                <h6 class="form-group px-2">Shipment</h6>
                <div class="col-xl-2 form-group px-2">
                  <z-select [group]="form" [control]="'ShipmentModeID'" [label]="formConfig.ShipmentModeID.label"
                    [options]="shipmentModeList" [optionLabel]="'Text'" [optionValue]="'iValue'" (onChange)="onChangeShipmentMode()"></z-select>
                </div>
                <div class="col-xl-1"></div>
                <div class="col-md-3 form-group px-2">
                  <z-select [group]="form" [control]="'LoadingPortID'" [label]="formConfig.LoadingPortID.label"
                    [validationMessage]="formConfig.LoadingPortID.error" [options]="portList" [optionLabel]="'PortName'"
                    [optionValue]="'PortID'"></z-select>
                </div>
                <div class="col-md-3 form-group px-2">
                  <z-select [group]="form" [control]="'DischargePortID'" [label]="formConfig.DischargePortID.label"
                    [validationMessage]="formConfig.DischargePortID.error" [options]="portList" [optionLabel]="'PortName'"
                    [optionValue]="'PortID'"></z-select>
                </div>
                <div class="col-md-3 form-group px-2">
                  <z-inputtext [group]="form" [control]="'FinalDestination'"
                    [label]="formConfig.FinalDestination.label"></z-inputtext>
                </div>
                <!-- Narration -->
                <div class="col-md-6 form-group px-2">
                  <z-textarea [group]="form" [control]="'Narration'" [label]="formConfig.Narration.label"></z-textarea>
                </div>
                <div class="col-xl-4"></div>
                <!-- Status -->
                <div class="col-md-2 form-group px-2">
                  <z-select [group]="form" [control]="'StatusID'" [label]="formConfig.StatusID.label"
                    [optionLabel]="'Text'" [optionValue]="'iValue'" [options]="statusList"></z-select>
                </div>
              </div> <!-- row -->
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="page-action-panel">
    <div class="col-xl-4"></div>
    <div class="col-xl-4"></div>
    <div class="col-xl-4">
      <div class="col-xl-3 px-1">
        <button type="submit" class="btn btn-md btn-primary w-100" (click)="onSubmit()"> {{ isEditMode ? "Update" : "Save" }} </button>
      </div>
      <div class="col-xl-3 px-1">
        <button type="submit" class="btn btn-md btn-primary w-100" (click)="resetForm()"> Reset </button>
      </div>
    </div>
  </div>
</div>


<ng-template #serialNoColTemplate let-row let-i="index">
  {{i + 1}}
</ng-template>

<ng-template #salesQtyColTemplate let-row let-i="index">
  <z-inputnumber [group]="productListArray.at(i)" [control]="'SalesQty'" [label]="formConfig.ProductList.items.SalesQty.label" [validationMessage]="formConfig.ProductList.items.SalesQty.error"
    (onChange)="productCalculation()">
  </z-inputnumber>
</ng-template>

<ng-template #ratePerUnitColTemplate let-row let-i="index">
  <div class="input-group">
    <span class="input-group-text"><i class="pi pi-indian-rupee"></i></span>
    <z-inputnumber [group]="productListArray.at(i)" [control]="'RatePerUnitBC'" [mode]="'currency'" [label]="formConfig.ProductList.items.RatePerUnitBC.label"
      [validationMessage]="formConfig.ProductList.items.RatePerUnitBC.error" (onChange)="productCalculation()"></z-inputnumber>
  </div>
</ng-template>

<ng-template #taxRateColTemplate let-row let-i="index">
  <z-select [group]="productListArray.at(i)" [control]="'SalesTaxRate'" [label]="formConfig.ProductList.items.SalesTaxRate.label" [validationMessage]="formConfig.ProductList.items.SalesTaxRate.error"
    [options]="taxSlabList" [optionLabel]="'TaxSlabName'" [optionValue]="'TaxRate'" (onChange)="onTaxSlabChange();">
  </z-select>
</ng-template>

<ng-template #taxableAmountBCColTemplate let-row let-i="index">
  <div class="input-group">
    <span class="input-group-text"><i class="pi pi-indian-rupee"></i></span>
    <z-span class="flex-grow-1 numeric-span" [text]="getAmount(i)[0].toString()"></z-span>
  </div>
</ng-template>

<ng-template #taxAmountBCColTemplate let-row let-i="index">
  <div class="input-group">
    <span class="input-group-text"><i class="pi pi-indian-rupee"></i></span>
    <z-span class="flex-grow-1 numeric-span" [text]="getAmount(i)[1].toString()"></z-span>
  </div>
</ng-template>

<ng-template #removeProductItemColTemplate let-row let-i="index">
  <div class="d-flex justify-content-end">
    <span class="btn btn-icon btn-sm btn-danger-transparent btn-delete-reactivate" 
     (click)="onClickRemoveProductItem(i)" >
    <i class="pi pi-minus-circle"></i></span>
  </div>
</ng-template>