<ng-template #pageHeaderActionTemplate>
  <button class="btn btn-primary btn-page-header" (click)="onClickPageHeaderBackButton()">
    <i class="pi pi-arrow-left"></i>&nbsp;Back</button>
</ng-template>

<div class="col-xl-12">
  <div class="col-xl-12 page-content">
    <div class="col-xl-12 page-content-scrollable">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="col-xl-12 card m-auto mb-2">
          <div class="card-body">
            <div class="horizontal-form">
              <div class="row">
                <!-- Order Details -->
                <div class="col-xl-2 form-group px-2">
                  <z-span [text]="form.get('ExportOrderNo')?.value" [label]="formConfig.ExportOrderNo.label"></z-span>
                </div>
                <div class="col-xl-2 form-group px-2">
                  <z-select [group]="form" [control]="'BasedOn'" [label]="formConfig.BasedOn.label"
                    [optionLabel]="'Text'" [optionValue]="'iValue'" [options]="basedOnList" [readonly]="isEditMode"
                    (onChange)="onBasedOnChange()"></z-select>
                </div>
                <div class="col-xl-6"></div>
                <div class="col-xl-2 form-group px-2">
                  <z-datepicker [group]="form" [control]="'ExportOrderDate'" [label]="formConfig.ExportOrderDate.label"
                    [validationMessage]="formConfig.ExportOrderDate.error"></z-datepicker>
                </div>
                <div class="col-xl-2 form-group px-2" *ngIf="isBasedOnSalesQuotation">
                  <z-autocomplete [controlDef]="salesQuotationAutoCompleteDef" (onSearch)="loadSalesQuotation($event)"
                    (onSelect)="onSelect_SalesQuotation($event)" (onClear)="onClear_SalesQuotation()"></z-autocomplete>
                </div>
                <!-- Customer Details -->
                <div class="col-xl-3 form-group px-2">
                  <div class="action-input-group">
                    <z-autocomplete [controlDef]="companyMasterAutoCompleteDef"
                      [isClearable]="form.get('BasedOn')?.value == 2" (onSearch)="loadCustomer($event)"
                      (onSelect)="onSelect_Customer($event)" (onClear)="onClear_Customer()">
                    </z-autocomplete>
                    <i class="bi bi-plus-circle fs-5 z-text-primary" role="button" title="Add New Company"
                      (click)="handleComponentLoad('VendorCreateComponent')"></i>
                  </div>
                </div>
                <div class="col-xl-{{isBasedOnSalesQuotation ? 3 : 5}}"></div>
                <div class="col-xl-2 form-group px-2">
                  <z-datepicker [group]="form" [control]="'ReferenceDate'" [label]="formConfig.ReferenceDate.label"
                    [validationMessage]="formConfig.ReferenceDate.error"></z-datepicker>
                </div>
                <div class="col-xl-2 form-group px-2">
                  <z-inputtext [group]="form" [control]="'ReferenceNo'" [label]="formConfig.ReferenceNo.label"
                    [validationMessage]="formConfig.ReferenceNo.error"></z-inputtext>
                </div>
                <div class="col-xl-5 form-group px-2">
                  <z-span [text]="selectedCustomerAddress ?? ''"></z-span>
                </div>
                <div class="col-xl-6"></div>
                <!-- Currency & Exchange -->
                <h6 class="form-group px-2">Exchange Rate Details</h6>
                <div class="col-xl-3 form-group px-2">
                  <div class="action-input-group">
                    <z-select [group]="form" [control]="'FCCurrencyID'" [label]="formConfig.FCCurrencyID.label"
                      [optionLabel]="'CurrencyName'" [optionValue]="'CurrencyID'" [readonly]="isBasedOnSalesQuotation"
                      [options]="currencyList"></z-select>
                    <i class="bi bi-plus-circle fs-5 z-text-primary" role="button" title="Add New Currency"
                      (click)="handleComponentLoad('CurrencyCreateComponent')"></i>
                  </div>
                </div>
                <div class="col-xl-5"></div>
                <div class="col-xl-2 form-group px-2">
                  <z-datepicker [group]="form" [control]="'ExchangeRateDate'"
                    [label]="formConfig.ExchangeRateDate.label"></z-datepicker>
                </div>
                <div class="col-xl-2 form-group px-2">
                  <z-inputnumber [group]="form" [control]="'ExchangeRateToBC'"
                    [label]="formConfig.ExchangeRateToBC.label" (onChange)="productCalculation()"></z-inputnumber>
                </div>

                <!-- Incoterm and Charges -->
                <div class="col-xl-3 form-group px-2">
                  <z-select [group]="form" [control]="'IncotermID'" [label]="formConfig.IncotermID.label"
                    [optionLabel]="'Text'" [optionValue]="'iValue'" [readonly]="isBasedOnSalesQuotation"
                    [options]="incotermList"></z-select>
                </div>
                <div class="col-xl-5"></div>
                <div class="col-md-2 form-group px-2">
                  <z-inputnumber [group]="form" [control]="'FreightChargeFC'" [label]="formConfig.FreightChargeFC.label"
                    (onChange)="productCalculation()"></z-inputnumber>
                </div>
                <div class="col-md-2 form-group px-2">
                  <z-inputnumber [group]="form" [control]="'BankChargesFC'" [label]="formConfig.BankChargesFC.label"
                    (onChange)="productCalculation()"></z-inputnumber>
                </div>
                <div class="col-xl-2 form-group px-2">
                  <z-checkbox [group]="form" [control]="'IsDutyDrawable'"
                    [label]="formConfig.IsDutyDrawable.label"></z-checkbox>
                </div>
                <div class="col-xl-2 px-2">
                  <z-checkbox [group]="form" [control]="'IsRoDTEP'" [label]="formConfig.IsRoDTEP.label"></z-checkbox>
                </div>
                <div class="col-xl-6"></div>
                <div class="col-md-2 form-group px-2">
                  <z-inputnumber [group]="form" [control]="'InsuranceAmountFC'"
                    [label]="formConfig.InsuranceAmountFC.label" (onChange)="productCalculation()"></z-inputnumber>
                </div>
                <!-- Product List -->
                <div class="col-12 px-2">
                  <h6 class="form-group">Product List</h6>
                  <div class="col-xl-4 form-group px-2" *ngIf="!isBasedOnSalesQuotation">
                    <div class="action-input-group">
                      <z-autocomplete class="flex-grow-1" [controlDef]="productAutoCompleteDef"
                        (onSearch)="onSearch_Product($event)" (onSelect)="onSelect_Product($event)">
                      </z-autocomplete>
                      <i class="bi bi-plus-circle fs-5 z-text-primary" role="button" title="Add New Product"
                        (click)="handleComponentLoad('ProductCreateComponent')">
                      </i>
                    </div>
                  </div>
                  <z-table [tableDef]="this.tableDef">
                  </z-table>
                </div>
                <!-- Payment & Shipment -->
                <div class="col-xl-2 form-group px-2">
                  <z-select [group]="form" [control]="'PaymentTermID'" [label]="formConfig.PaymentTermID.label"
                    [options]="paymentTermList" [optionLabel]="'PaymentTermName'"
                    [readonly]="isBasedOnSalesQuotation && this.form.get('PaymentTermID')?.value != null"
                    [optionValue]="'PaymentTermID'"></z-select>
                </div>
                <div class="col-xl-1 pe-2 form-group ms-auto">
                  <z-checkbox [group]="form" [control]="'IsRoundOff'" [label]="formConfig.IsRoundOff.label">
                  </z-checkbox>
                </div>
                <!-- Shipment -->
                <h6 class="form-group px-2">Shipment</h6>
                <div class="col-xl-2 form-group px-2">
                  <z-select [group]="form" [control]="'ShipmentModeID'" [label]="formConfig.ShipmentModeID.label"
                    [options]="shipmentModeList" [optionLabel]="'Text'" [optionValue]="'iValue'"
                    (onChange)="onChangeShipmentMode()"></z-select>
                </div>
                <div class="col-xl-1"></div>
                <div class="col-xl-3 form-group px-2">
                  <div class="action-input-group">
                    <z-autocomplete [controlDef]="loadingPortAutoCompleteDef" (onSearch)="loadLoadingPort($event)"
                      (onSelect)="OnLoadingPortSelect($event)" (onClear)="onClear_LoadingPort()"></z-autocomplete>
                    <i class="bi bi-plus-circle fs-5 z-text-primary" role="button" title="Add New Port"
                      (click)="handleComponentLoad('PortCreateComponent')"></i>
                  </div>
                </div>
                <div class="col-xl-3 form-group px-2">
                  <div class="action-input-group">
                    <z-autocomplete [controlDef]="dischargePortAutoCompleteDef" (onSearch)="loadDischargePort($event)"
                      (onSelect)="OnDischargePortSelect($event)" (onClear)="onClear_DischargePort()"></z-autocomplete>
                    <i class="bi bi-plus-circle fs-5 z-text-primary" role="button" title="Add New Port"
                      (click)="handleComponentLoad('PortCreateComponent')"></i>
                  </div>
                </div>
                <div class="col-md-3 form-group px-2">
                  <z-inputtext [group]="form" [control]="'FinalDestination'" [label]="formConfig.FinalDestination.label"
                    [validationMessage]="formConfig.FinalDestination.error"></z-inputtext>
                </div>
                <!-- Narration -->
                <div class="col-md-6 form-group px-2">
                  <z-textarea [group]="form" [control]="'Narration'" [label]="formConfig.Narration.label"></z-textarea>
                </div>
                <div class="col-xl-4"></div>
                <!-- Status -->
                <div class="col-md-2 form-group px-2" *ngIf="!isEditMode">
                  <z-select [group]="form" [control]="'StatusID'" [label]="formConfig.StatusID.label"
                    [optionLabel]="'Text'" [optionValue]="'iValue'" [options]="statusList"></z-select>
                </div>
              </div> <!-- row -->
            </div>
          </div>
        </div>
        <div class="card-body pt-2 pb-2">
          <div class="col-12 px-2 d-flex flex-column align-items-end gap-2">
            <div class="col-12 col-xl-3">
              <div class="d-flex justify-content-between align-items-center">
                <p class="mb-0">Subtotal Amount: </p>
                <z-inputnumber [group]="form" [control]="'SubtotalAmountFC'" [label]="formConfig.SubtotalAmountFC.label"
                  [validationMessage]="formConfig.SubtotalAmountFC.error" [readonly]="true"></z-inputnumber>
              </div>
            </div>
            <div class="col-12 col-xl-3">
              <div class="d-flex justify-content-between align-items-center">
                <p class="mb-0">Tax Amount: </p>
                <z-inputnumber [group]="form" [control]="'TaxAmountFC'" [label]="formConfig.TaxAmountFC.label"
                  [validationMessage]="formConfig.TaxAmountFC.error" [readonly]="true"></z-inputnumber>
              </div>
            </div>
            <div class="col-12 col-xl-3">
              <div class="d-flex justify-content-between align-items-center">
                <p class="mb-0">Net Amount: </p>
                <z-inputnumber [group]="form" [control]="'NetAmountFC'" [label]="formConfig.NetAmountFC.label"
                  [validationMessage]="formConfig.NetAmountFC.error" [readonly]="true"></z-inputnumber>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-12 card m-auto mb-2" *ngIf="isEditMode">
          <div class="card-header">
            <h6>Export Order Documents</h6>
          </div>
          <div class="card-body lazyload-data-container">
            <div class="col-xl-12">
              <div class="col-xl-2 m-auto" *ngIf="isLoadDocumentVisible">
                <button class="btn btn-primary" [type]="'button'" (click)="onClickLoadDocuments()">
                  <i class="pi pi-spinner-dotted"></i>&nbsp;&nbsp;
                  <span class="text-white">Load Documents</span>
                </button>
              </div>
              <z-table [tableDef]="exportOrderDocumentTableDef" *ngIf="!isLoadDocumentVisible"></z-table>
            </div>
          </div>
        </div>
        <div class="col-xl-12 card m-auto mb-2" *ngIf="isEditMode">
          <div class="card-header">
            <h6>Export Order Payments</h6>
          </div>
          <div class="card-body lazyload-data-container">
            <div class="col-xl-12">
              <div class="col-xl-2 m-auto" *ngIf="isLoadPaymentVisible">
                <button class="btn btn-primary" [type]="'button'" (click)="onClickLoadPayments()">
                  <i class="pi pi-spinner-dotted"></i>&nbsp;&nbsp;
                  <span class="text-white">Load Payments</span>
                </button>
              </div>
              <z-table [tableDef]="exportOrderPaymentTableDef" *ngIf="!isLoadPaymentVisible"></z-table>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="page-action-panel">
    <div class="col-xl-4"></div>
    <div class="col-xl-4">
      <div class="status-pill" [ngStyle]="{'background-color': '#'+statusHex}" *ngIf="isEditMode">
        <span>Status: {{statusText}}</span>
      </div>
    </div>
    <div class="col-xl-4">
      <div class="col-xl-3 px-1">
        <button type="submit" class="btn btn-md btn-primary w-100" (click)="onSubmit()"> {{ isEditMode ? "Update" :
          "Save" }} </button>
      </div>
      <div class="col-xl-3 px-1">
        <button type="submit" class="btn btn-md btn-primary w-100" (click)="resetForm()"> Reset </button>
      </div>
    </div>
  </div>
</div>

<!-- Export Order Item Table Related Templates Start-->
<ng-template #serialNoColTemplate let-row let-i="index">
  {{i + 1}}
</ng-template>

<ng-template #salesQtyColTemplate let-row let-i="index">
  <z-inputnumber [group]="productListArray.at(i)" [control]="'SalesQty'"
    [label]="formConfig.ProductList.items.SalesQty.label"
    [validationMessage]="formConfig.ProductList.items.SalesQty.error?.[i]" [readonly]="isBasedOnSalesQuotation"
    (onChange)="productCalculation()">
  </z-inputnumber>
</ng-template>

<ng-template #ratePerUnitFCColTemplate let-row let-i="index">
  <div class="input-group">
    <!-- <span class="input-group-text"><i class="pi pi-indian-rupee"></i></span> -->
    <z-inputnumber [group]="productListArray.at(i)" [control]="'RatePerUnitFC'"
      [label]="formConfig.ProductList.items.RatePerUnitFC.label"
      [validationMessage]="formConfig.ProductList.items.RatePerUnitFC.error?.[i]" [readonly]="isBasedOnSalesQuotation"
      [styleClass]="'text-end'" (onChange)="productCalculation()"></z-inputnumber>
  </div>
</ng-template>

<ng-template #taxRateColTemplate let-row let-i="index">
  <z-select [group]="productListArray.at(i)" [control]="'SalesTaxRate'"
    [label]="formConfig.ProductList.items.SalesTaxRate.label"
    [validationMessage]="formConfig.ProductList.items.SalesTaxRate.error?.[i]" [readonly]="isBasedOnSalesQuotation"
    [options]="taxSlabList" [optionLabel]="'TaxSlabName'" [optionValue]="'TaxRate'" (onChange)="productCalculation();">
  </z-select>
</ng-template>

<ng-template #taxableAmountFCColTemplate let-row let-i="index">
  <div class="input-group">
    <!-- <span class="input-group-text"><i class="pi pi-indian-rupee"></i></span> -->
    <z-inputnumber [group]="productListArray.at(i)" [control]="'TaxableAmountFC'"
      [label]="formConfig.ProductList.items.TaxableAmountFC.label"
      [validationMessage]="formConfig.ProductList.items.TaxableAmountFC.error?.[i]" [readonly]="true"
      [styleClass]="'text-end'"></z-inputnumber>
  </div>
</ng-template>

<ng-template #taxAmountFCColTemplate let-row let-i="index">
  <div class="input-group">
    <!-- <span class="input-group-text"><i class="pi pi-indian-rupee"></i></span> -->
    <z-inputnumber [group]="productListArray.at(i)" [control]="'TaxAmountFC'"
      [label]="formConfig.ProductList.items.TaxAmountFC.label"
      [validationMessage]="formConfig.ProductList.items.TaxAmountFC.error?.[i]" [readonly]="true"
      [styleClass]="'text-end'"></z-inputnumber>
    <!-- <z-span class="flex-grow-1 numeric-span" [text]="getAmount(i)[1].toString()"></z-span> -->
  </div>
</ng-template>

<ng-template #removeProductItemColTemplate let-row let-i="index">
  <div class="d-flex justify-content-end" *ngIf="!isBasedOnSalesQuotation">
    <span class="btn btn-icon btn-sm btn-danger-transparent btn-delete-reactivate"
      (click)="onClickRemoveProductItem(i)">
      <i class="pi pi-minus-circle"></i></span>
  </div>
</ng-template>
<!-- Export Order Item Table Related Templates End-->


<!-- Export Order Document Related Templates Start-->
<ng-template #documentActionColTemplate let-row let-i="index">
  <div class="col-xl-12 d-flex justify-content-between">
    <div class="d-flex justify-content-end px-2">
      <span class="btn btn-icon btn-sm btn-success-transparent btn-delete-reactivate"
        (click)="onClickViewDocumentItem(row)">
        <i class="pi pi-eye"></i></span>
    </div>

    <div class="d-flex justify-content-end px-2">
      <span class="btn btn-icon btn-sm btn-success-transparent btn-delete-reactivate"
        (click)="onClickDownloadDocumentItem(row)">
        <i class="pi pi-arrow-circle-down"></i></span>
    </div>

    <div class="d-flex justify-content-end px-2">
      <span class="btn btn-icon btn-sm btn-danger-transparent btn-delete-reactivate"
        (click)="onClickRemoveDocumentItem(row)">
        <i class="pi pi-minus-circle"></i></span>
    </div>
  </div>
</ng-template>

<ng-template #isDocumentVerifiedTemplate let-row let-i="index">
  <span class="{{ row.IsVerified ? 'text-success' : 'text-danger' }}">
    <i class="pi {{ row.IsVerified ? 'pi-check-circle' : 'pi-times-circle'}}"></i>
  </span>
</ng-template>

<ng-template #documentUploadDateTemplate let-row let-i="index">
  {{formatDate(row.UploadedDateTime)}}
</ng-template>
<!-- Export Order Document Related Templates End-->

<!-- Export Order Payment Related Templates Start-->

<ng-template #paymentDateTemplate let-row let-i="index">
  {{formatDate(row.PaymentDate)}}
</ng-template>

<ng-template #paymentActionColTemplate let-row let-i="index">
  <div class="d-flex justify-content-end">
    <span class="btn btn-icon btn-sm btn-danger-transparent btn-delete-reactivate"
      (click)="onClickRemovePaymentItem(row)">
      <i class="pi pi-minus-circle"></i></span>
  </div>
</ng-template>
<!-- Export Order Payment Related Templates End-->

<ng-template #container></ng-template>