<ng-template #pageHeaderActionTemplate>
  <button class="btn btn-primary btn-page-header" (click)="OnClickPageHeaderAddButton()"><i
      class="pi pi-arrow-left"></i>&nbsp;Back</button>
</ng-template>

<div class="col-xl-12">
  <div class="col-xl-12 page-content">
    <div class="col-xl-12 page-content-scrollable">
      <div class="col-xl-12 card m-auto">
        <form [formGroup]="form" (ngSubmit)="OnSubmit()" autocomplete="off">
          <div class="col-xl-12 card m-auto mb-2">
            <div class="card-body p-0">
              <div class="card-header">
                <div class="card-body form-horizontal d-flex flex-wrap">
                  <div class="col-xl-3 div-center">
                    <div class="input-group justify-content-center">
                      <span class="input-group-text">Employee Code</span>
                      <span class="input-span"> {{ form.get('EmployeeCode')?.value }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-xl-12 card m-auto mb-2">
            <div class="card-body p-0">
              <div class="card-header text-start">
                <span><strong>Personal Details</strong></span>
              </div>
              <div class="card-body form-horizontal d-flex flex-wrap">
                <div class="col-xl-2 form-group">
                  <z-select [group]="form" [control]="'EmployeePrefix'" [label]="formConfig.EmployeePrefix.label"
                    [validationMessage]="formConfig.EmployeePrefix.error" [options]="prefixList"
                    [optionLabel]="'cValue'" [optionValue]="'cValue'">
                  </z-select>
                </div>
                <div class="col-xl-4 form-group">
                  <z-inputtext [group]="form" control="EmployeeName" [label]="formConfig.EmployeeName.label"
                    [validationMessage]="formConfig.EmployeeName.error"></z-inputtext>
                </div>
                <div class="col-xl-3 form-group">
                  <z-select [group]="form" [control]="'Gender'" [label]="formConfig.Gender.label"
                    [validationMessage]="formConfig.Gender.error" [options]="genderList" [optionLabel]="'GenderName'"
                    [optionValue]="'GenderID'">
                  </z-select>
                </div>
                <div class="col-xl-3 form-group">
                  <z-datepicker [group]="form" control="DOB" [label]="formConfig.DOB.label"
                    [validationMessage]="formConfig.DOB.error"></z-datepicker>
                </div>
                <div class="col-xl-6 form-group">
                  <z-inputtext [group]="form" control="FatherSpouse"
                    [label]="formConfig.FatherSpouse.label"></z-inputtext>
                </div>
                <div class="col-xl-3 form-group">
                  <z-select [group]="form" [control]="'MaritalStatus'" [label]="formConfig.MaritalStatus.label"
                    [validationMessage]="formConfig.MaritalStatus.error" [options]="maritalStatusList"
                    [optionLabel]="'cValue'" [optionValue]="'iValue'">
                  </z-select>
                </div>
                <div class="col-xl-3 form-group">
                  <z-select [group]="form" [control]="'BloodGroup'" [label]="formConfig.BloodGroup.label"
                    [options]="bloodGroupList" [optionLabel]="'cValue'" [optionValue]="'cValue'">
                  </z-select>
                </div>
                <div class="col-xl-3 form-group">
                  <z-inputtext [group]="form" control="MobileNo" [label]="formConfig.MobileNo.label"
                    [validationMessage]="formConfig.MobileNo.error"></z-inputtext>
                </div>
                <div class="col-xl-3 form-group">
                  <z-inputtext [group]="form" control="AlternateMobileNo" [label]="formConfig.AlternateMobileNo.label"
                    [validationMessage]="formConfig.AlternateMobileNo.error"></z-inputtext>
                </div>
                <div class="col-xl-6 form-group">
                  <z-inputtext [group]="form" control="EmailID" label="Email ID" [label]="formConfig.EmailID.label"
                    [validationMessage]="formConfig.EmailID.error"></z-inputtext>
                </div>
                <div class="col-xl-3 form-group">
                  <z-inputtext [group]="form" control="EmployeeAadhaarNo" [label]="formConfig.EmployeeAadhaarNo.label"
                    [validationMessage]="formConfig.EmployeeAadhaarNo.error"></z-inputtext>
                </div>
                <div class="col-xl-3 form-group">
                  <z-inputtext [group]="form" control="EmployeePANNo" [label]="formConfig.EmployeePANNo.label"
                    [validationMessage]="formConfig.EmployeePANNo.error"></z-inputtext>
                </div>
                <div class="col-xl-6">

                </div>
                <div class="col-xl-12 form-group">
                  <z-textarea [group]="form" control="EmployeeAddress" [label]="formConfig.EmployeeAddress.label"
                    [validationMessage]="formConfig.EmployeeAddress.error"></z-textarea>
                </div>

                <div class="col-xl-3 form-group">
                  <z-inputtext [group]="form" control="EmployeeCity" [label]="formConfig.EmployeeCity.label"
                    [validationMessage]="formConfig.EmployeeCity.error"></z-inputtext>
                </div>
                <div class="col-xl-3 form-group">
                  <z-select [group]="form" [control]="'EmployeeStateID'" [label]="formConfig.EmployeeStateID.label"
                    [validationMessage]="formConfig.EmployeeStateID.error" [options]="stateList"
                    [optionLabel]="'StateName'" [optionValue]="'StateID'">
                  </z-select>
                </div>
                <div class="col-xl-3 form-group">
                  <z-select [group]="form" [control]="'EmployeeCountryID'" [label]="formConfig.EmployeeCountryID.label"
                    [validationMessage]="formConfig.EmployeeCountryID.error" [options]="countryList"
                    [optionLabel]="'CountryName'" [optionValue]="'CountryID'" (onChange)="OnChangeCountry()">
                  </z-select>
                </div>
                <div class="col-xl-3 form-group">
                  <z-inputtext [group]="form" control="EmployeePinCode" [label]="formConfig.EmployeePinCode.label"
                    [validationMessage]="formConfig.EmployeePinCode.error"></z-inputtext>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-12 card m-auto mb-2">
            <div class="card-body p-0">
              <div class="card-header text-start">
                <span>
                  <strong>
                    <div class="col-xl-12 form-group">
                      <z-checkbox [group]="form" [control]="'EmergencyContactDetails'"
                        [label]="formConfig.EmergencyContactDetails.label"></z-checkbox>
                    </div>
                  </strong>
                </span>
              </div>
              <div class="card-body form-horizontal d-flex flex-wrap"
                *ngIf="form.get('EmergencyContactDetails')?.value">
                <div class="col-xl-4 form-group" *ngIf="form.get('EmergencyContactDetails')?.value">
                  <z-inputtext [group]="form" control="EmergencyContactName"
                    [label]="formConfig.EmergencyContactName.label"
                    [validationMessage]="formConfig.EmergencyContactName.error"></z-inputtext>
                </div>
                <div class="col-xl-4 form-group" *ngIf="form.get('EmergencyContactDetails')?.value">
                  <z-inputtext [group]="form" control="EmergencyContactMobileNo"
                    [label]="formConfig.EmergencyContactMobileNo.label"
                    [validationMessage]="formConfig.EmergencyContactMobileNo.error"></z-inputtext>
                </div>
                <div class="col-xl-4 form-group" *ngIf="form.get('EmergencyContactDetails')?.value">
                  <z-select [group]="form" [control]="'EmergencyContactRelationship'"
                    [label]="formConfig.EmergencyContactRelationship.label" [options]="relationshipList"
                    [optionLabel]="'cValue'" [optionValue]="'iValue'">
                  </z-select>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xl-12 card m-auto mb-2">
            <div class="card-body p-0">
              <div class="card-header text-start">
                <span><strong>Official Details</strong></span>
              </div>
              <div class="card-body form-horizontal d-flex flex-wrap">
                <div class="col-xl-4 form-group">
                  <z-datepicker [group]="form" control="DOJ" [label]="formConfig.DOJ.label"
                    [validationMessage]="formConfig.DOJ.error"></z-datepicker>
                </div>
                <div class="col-xl-4 form-group" [style.visibility]="isEditMode ? 'visible' : 'hidden'">
                  <z-datepicker [group]="form" control="DOT" [label]="formConfig.DOT.label"
                    [validationMessage]="formConfig.DOT.error"></z-datepicker>
                </div>
                <!-- <div class="col-xl-4 form-group" [style.visibility]="form.get('DOT')?.value ? 'visible' : 'hidden'">
                  <z-textarea [group]="form" control="ReasonForTermination" [label]="formConfig.ReasonForTermination.label"></z-textarea>
                </div> -->
                <div class="col-xl-4 form-group">
                  <z-select [group]="form" [control]="'EmployeeTypeID'" [label]="formConfig.EmployeeTypeID.label"
                    [validationMessage]="formConfig.EmployeeTypeID.error" [options]="employeeTypeList"
                    [optionLabel]="'EmployeeTypeName'" [optionValue]="'EmployeeTypeID'">
                  </z-select>
                </div>
                <div class="col-xl-4 form-group">
                  <z-select [group]="form" [control]="'DepartmentID'" [label]="formConfig.DepartmentID.label"
                    [validationMessage]="formConfig.DepartmentID.error" [options]="departmentList"
                    [optionLabel]="'DepartmentName'" [optionValue]="'DepartmentID'">
                  </z-select>
                </div>
                <div class="col-xl-4 form-group">
                  <z-select [group]="form" [control]="'DesignationID'" [label]="formConfig.DesignationID.label"
                    [validationMessage]="formConfig.DesignationID.error" [options]="designationList"
                    [optionLabel]="'DesignationName'" [optionValue]="'DesignationID'">
                  </z-select>
                </div>
                <div class="col-xl-4 form-group">
                  <z-select [group]="form" [control]="'ReportingTo'" [label]="formConfig.ReportingTo.label"
                    [validationMessage]="formConfig.ReportingTo.error" [options]="reportingToList"
                    [optionLabel]="'cValue'" [optionValue]="'iValue'">
                  </z-select>
                </div>
                <div class="col-xl-3 form-group">
                  <z-checkbox [group]="form" [control]="'CanApproveEmployeeRequest'"
                    [label]="formConfig.CanApproveEmployeeRequest.label"></z-checkbox>
                </div>
                <div class="col-xl-3 form-group">
                  <z-checkbox [group]="form" [control]="'CanApproveBillingDiscount'"
                    [label]="formConfig.CanApproveBillingDiscount.label"></z-checkbox>
                </div>
                <div class="col-xl-2 form-group">
                  <div class="input-group">
                    <z-checkbox [group]="form" [control]="'DisablePayroll'"
                      [label]="formConfig.DisablePayroll.label"></z-checkbox>
                    &nbsp;&nbsp;
                    <div pTooltip="Help: Check this option for those employees who are not on the payroll.">
                      <i class="fa fa-question-circle"></i>
                    </div>
                  </div>
                </div>
               </div> 
            </div>
          </div>
          <div class="col-xl-12 card m-auto mb-2">
            <div class="card-body p-0">
              <div class="card-header text-start">
                <span><strong>Access Details</strong></span>
              </div>
              <div class="card-body form-horizontal d-flex flex-wrap">
                <div class="col-xl-4 form-group">

                </div>
                <div class="col-xl-4 form-group">
                  <div class="input-group">
                    <span class="input-group-addon px-1">
                      <z-checkbox [group]="form" [control]="'CanAccessERP'" [label]="'Can Access ERP'"
                        (onChange)="OnChangeCanAccessERP()"></z-checkbox>
                    </span>
                    <z-select class='flex-grow-1' [group]="form" [control]="'RoleID'" [label]="formConfig.RoleID.label"
                      [validationMessage]="formConfig.RoleID.error" [options]="roleList" [optionLabel]="'cValue'"
                      [optionValue]="'iValue'">
                    </z-select>
                  </div>
                </div>
                <div class="col-xl-1">

                </div>
                <div class="col-xl-3 form-group " *ngIf="isEditMode">
                  <z-checkbox [group]="form" [control]="'CanAccessEmployeePortal'"
                    [label]="'Can Access Employee Portal'"></z-checkbox>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="page-action-panel">
    <div class="col-xl-4">

    </div>
    <!-- <div class="col-xl-4">
      <div class="col-xl-6 px-1" *ngIf="isEditMode">
        <div class="input-group">
          <span class="input-group-text" id="addon-wrapping">Status</span>
          <z-span class="flex-grow-1" [text]="form.get('StatusText')?.value"
            [ngStyle]="{ color: form.get('HexValue')?.value }"></z-span>
        </div>
      </div>
    </div> -->
    <div class="col-xl-4">
      <!-- <div class="col-xl-3 px-1" *ngIf="isEditMode">
        <button class="btn btn-md btn-primary w-100"
          [disabled]="!form.get('IsSignatory')?.value || !form.get('CanUpdate')?.value"
          (click)="ShowDialog('consultantSignature')"
          *ngIf="[3].includes(form.get('EmployeeCategory')?.value)">Signature File</button>
      </div> -->
      <div class="col-xl-4 px-1" *ngIf="isEditMode">
        <button class="btn btn-md btn-primary w-100" [disabled]="!form.get('DOT')?.value || form.get('StatusID')?.value == 2" (click)="terminateEmployee()">
          {{ form.get('StatusID')?.value == 1 ? 'Terminate Employee' : 'Employee Terminated' }}
        </button>
      </div>
      <!-- <div class="col-xl-3 px-1" *ngIf="isEditMode">
        <button class="btn btn-md btn-primary w-100" [disabled]="!form.get('CanUpdate')?.value"
          (click)="ShowDialog('resetPassword')">Reset Password</button>
      </div> -->
      <div class="col-xl-3 px-1">
        <button type="submit" class="btn btn-md btn-primary w-100" (click)="OnSubmit()">
          <!-- [disabled]="isSubmitted || !form.get('CanUpdate')?.value"> -->
          {{ isEditMode ? 'Update' : 'Save' }}
        </button>
      </div>
      <div class="col-xl-3 px-1" *ngIf="!isEditMode">
        <button type="submit" class="btn btn-md btn-primary w-100" (click)="ResetForm()">Reset</button>
      </div>
      <!-- <div class="col-xl-3 px-1" *ngIf="isEditMode">
        <button type="submit" class="btn btn-md btn-primary w-100" (click)="OnClickPageHeaderBackToListButton()">Back To
          List</button>
      </div> -->
    </div>
  </div>
</div>