<form [formGroup]="form"
      autocomplete="off">
  <div class="row">
    <div class="col-xl-1"></div>
    <div class="col-xl-10 pt-3">
      <div class="row">
        <div class="col-xl-6 form-group">
          <z-select [group]="form" [control]="'ProfileID'" [label]="formConfig.ProfileID.label" [validationMessage]="formConfig.ProfileID.error" (onChange)="onProfileChange()"
                    [options]="ProfileList" [optionLabel]="'ServiceName'" [optionValue]="'ServiceID'">
          </z-select>
        </div>
        <div class="col-xl-2 form-group">
          <z-inputnumber [group]="form" control="TotalMappedTest" [label]="formConfig.TotalMappedTest.label"></z-inputnumber>
        </div>
      </div>
    </div>
    <div class="col-xl-1"></div>
  </div>

  <z-picklist [sourceList]="ProfileTestList"
              [targetList]="ProfileTestMappedList"
              [sourceHeader]="'All Test'"
              [targetHeader]="'Mapped Test'"
              [itemName]="'ServiceName'"
              (onMoveToSource)="onMoveToSource($event)"
              (onMoveAllToSource)="onMoveToSource($event)"
              (onMoveToTarget)="onMoveToTarget($event)"
              (onMoveAllToTarget)="onMoveToTarget($event)">
  </z-picklist>

</form>
<div class="row m-1">
  <div class="col-xl-5"></div>
  <div class="col-xl-2">
    <button type="submit" class="btn btn-md btn-primary w-100 p-1" [disabled]="(!ProfileTestMappedList.length && !isItemMovedToSource) || isSubmitted" (click)="onSubmit(ProfileTestMappedList,ProfileTestMapping)">Update</button>
  </div>
  <div class="col-xl-5"></div>
</div>
