<div class="col-xl-12 index-page-content">
    <z-dataview [dataViewDef]="dataViewDef" (lazyLoad)="onIndexDataViewLazyLoad($event)"
        (resetFormEmitter)="onResetForm($event)" [itemTemplate]="customTemplate">
    </z-dataview>
</div>

<ng-template #customTemplate let-salesQuotations>
    <div class="eo-card eo-card--clickable" *ngFor="let item of salesQuotations; let first = first"
        role="button" tabindex="0" (click)="onClickEditDetails(item.SalesQuotationID)"
        (keydown.enter)="onClickEditDetails(item.SalesQuotationID)"
        (keydown.space)="$event.preventDefault(); onClickEditDetails(item.SalesQuotationID)">
        <div class="dataview-item eo-card__body">
            <div class="eo-card__top">
                <p-checkbox class="eo-card__checkbox" binary="true" [(ngModel)]="item._selected"
                    (onChange)="onSelectionChange(item)" (click)="$event.stopPropagation()"
                    (keydown.enter)="$event.stopPropagation()" (keydown.space)="$event.stopPropagation()"></p-checkbox>

                <div class="eo-card__main">
                    <div class="eo-card__line">
                        <a class="eo-card__title-link" (click)="$event.stopPropagation(); onClickEditDetails(item.SalesQuotationID)">
                            <h5 class="eo-card__title">{{item.SalesQuotationNo}}</h5>
                        </a>
                        <div class="eo-card__status">
                            <span class="eo-card__badge" [ngStyle]="{color: item.StatusHex}">{{item.StatusText}}</span>
                        </div>
                    </div>
                    <h5 class="eo-card__title eo-card__company">{{item.CustomerName}}</h5>
                </div>
            </div>

            <div class="eo-card__grid">
                <div class="eo-col">
                    <div class="dataview-info-item eo-field">
                        <span class="eo-field__label">Quotation Date</span>
                        <span class="eo-field__value">{{formatDate(item.SalesQuotationDate)}}</span>
                    </div>
                    <div class="dataview-info-item eo-field">
                        <span class="eo-field__label">Valid Till</span>
                        <span class="eo-field__value">{{formatDate(item.ValidityDate)}}</span>
                    </div>
                    <div class="dataview-info-item eo-field">
                        <span class="eo-field__label">No of Products</span>
                        <span class="eo-field__value">{{item.NoOfProducts}}</span>
                    </div>
                </div>

                <div class="eo-col">
                    <div class="dataview-info-item eo-field">
                        <span class="eo-field__label">Subtotal Amount (FC)</span>
                        <span class="eo-field__value">{{ item.CurrencySymbol }} {{item.SubtotalAmountFC | number:'1.2-2'}}</span>
                    </div>
                    <div class="dataview-info-item eo-field">
                        <span class="eo-field__label">Tax Amount (FC)</span>
                        <span class="eo-field__value">{{ item.CurrencySymbol }} {{item.TaxAmountFC | number:'1.2-2'}}</span>
                    </div>
                    <div class="dataview-info-item eo-field eo-field--order-total">
                        <span class="eo-field__label">Order Total</span>
                        <span class="eo-field__value">{{ item.CurrencySymbol }} {{item.NetAmountFC | number:'1.2-2'}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #selectionColTemplate let-row>
    <p-checkbox binary="true" [(ngModel)]="row._selected" (onChange)="onSelectionChange(row)">
    </p-checkbox>
</ng-template>

<ng-template #salesQuotationCodeTemplate let-row>
    <span class="table-action-link" (click)="onClickEditDetails(row.SalesQuotationID)" style="cursor: pointer;">{{ row.SalesQuotationNo }}</span>
</ng-template>

<ng-template #container></ng-template>
