
<ng-template #pageHeaderActionTemplate>
  <button class="btn btn-primary btn-sm" (click)="onClickPageHeaderAddButton()"> <i class="bi bi-arrow-left-circle" style="vertical-align: bottom; margin-right: 5px;"></i>Back</button>
</ng-template>

<form [formGroup]="form" (ngSubmit)="onSubmit(TestMethodMappedList,TestMethodMapping)"
      autocomplete="off">
  <div class="row">
    <div class="col-xl-1"></div>
    <div class="col-xl-10 pt-3">
      <div class="row">
        <div class="col-xl-6 form-group">
          <z-select [group]="form" [control]="'TestID'" [label]="formConfig.TestID.label" [validationMessage]="formConfig.TestID.error" (onChange)="onTestChange()"
                    [options]="TestList" [optionLabel]="'ServiceName'" [optionValue]="'ServiceID'">
          </z-select>
        </div>
        <div class="col-xl-2 form-group">
          <z-inputnumber [group]="form" control="TotalMappedMethod" [label]="formConfig.TotalMappedMethod.label"></z-inputnumber>
        </div>
      </div>
    </div>
    <div class="col-xl-1"></div>
  </div>
  <!--<p-pickList [source]="TestMethodList"
              [target]="TestMethodMappedList"
              sourceHeader="Test Method"
              [responsive]="true"
              [dragdrop]="true"
              [showSourceControls]="false"
              [showTargetControls]="false"
              [metaKeySelection]="true"
              [sourceStyle]="{ height: '30rem' }"
              [targetStyle]="{ height: '30rem' }"
              (onTargetSelect)="onTargetSelect($event)"
              (onMoveToSource)="onMoveToSource($event)"
              (onMoveAllToSource)="onMoveToSource($event)"
              (onMoveToTarget)="onMoveToTarget($event)"
              (onMoveAllToTarget)="onMoveToTarget($event)"
              filterBy="TestMethodName"
              sourceFilterPlaceholder="Search by name"
              targetFilterPlaceholder="Search by name"
              breakpoint="1400px">
    <ng-template pTemplate="targetHeader">
      <div class="flex justify-content-between align-items-center">
        <div class="row">
          <div class="col-xl-8">
            <div class="font-bold">Mapped Method</div>
          </div>
          <div class="col-xl-4">
            <button type="button" class="btn btn-md btn-primary w-100 p-0" *ngIf="TestMethodMappedList.length" [disabled]="!selectedConsultant || isItemMovedToTarget || isItemMovedToSource || isSubmitted" (click)="makeDefault(TestMethodMapping)">Default</button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template let-testMethodList pTemplate="item">
      <div class="d-flex align-items-center gap-3 p-2">
        <div class="flex-grow-1">
          <span class="font-bold">{{ testMethodList.TestMethodName }}</span>
        </div>
      </div>
    </ng-template>
  </p-pickList>-->

  <z-picklist [sourceList]="TestMethodList"
              [targetList]="TestMethodMappedList"
              [sourceHeader]="'Test Method'"
              [targetHeader]="'Mapped Method'"
              [itemName]="'TestMethodName'"
              [showActionButton]="true"
              [disableActionButton]="!selectedTarget || isItemMovedToTarget || isItemMovedToSource || isSubmitted"
              [actionButtonLabel]="'Default'"
              (onTargetSelect)="onTargetSelect($event)"
              (onMoveToSource)="onMoveToSource($event)"
              (onMoveAllToSource)="onMoveToSource($event)"
              (onMoveToTarget)="onMoveToTarget($event)"
              (onMoveAllToTarget)="onMoveToTarget($event)"
              (onActionButtonClick)="makeDefault(TestMethodMapping)">
  </z-picklist>


</form>
<div class="row m-1">
  <div class="col-xl-5"></div>
  <div class="col-xl-2">
    <button type="submit" class="btn btn-md btn-primary w-100 p-1" [disabled]="(!TestMethodMappedList.length && !isItemMovedToSource) || isSubmitted" (click)="onSubmit(TestMethodMappedList,TestMethodMapping)">Update</button>
  </div>
  <div class="col-xl-5"></div>
</div>
