<div [formGroup]="group" class="zfu-root" [class.zfu-invalid]="isInvalid">
  <p-fileUpload #uploader name="file" [multiple]="multiple" [accept]="accept" [maxFileSize]="maxFileSize"
    customUpload="true" [auto]="true" [showUploadButton]="false" [showCancelButton]="false"
    (uploadHandler)="onUpload($event)" (onSelect)="onSelectedFiles($event)" (onClear)="onClearFiles()"
    (onRemove)="onRemoveEvent($event)">
    <ng-template pTemplate="header"></ng-template>

    <ng-template pTemplate="content" let-files let-removeFileCallback="removeFileCallback">
      <div class="zfu-content" *ngIf="hasFiles(files)">
        <div class="zfu-file-row" *ngFor="let file of files; let i = index">
          <i class="pi" [ngClass]="getFileIconClass(file)" aria-hidden="true"></i>
          <div class="zfu-file-copy">
            <span class="zfu-file-name">{{ file.name }}</span>
            <span class="zfu-file-size">{{ formatSize(file.size) }}</span>
          </div>
          <button type="button" class="zfu-remove-btn" (click)="removeSelectedFile(removeFileCallback, i)"
            aria-label="Remove file" title="Remove">
            <i class="pi pi-times" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="empty" *ngIf="showDragnDrop">
      <button type="button" class="zfu-empty" (click)="uploader.choose()">
        <i class="pi pi-cloud-upload" aria-hidden="true"></i>
        <span>Drag and drop Or Click here</span>
      </button>
    </ng-template>
  </p-fileUpload>
</div>
