<div [formGroup]="group">
  <p-fileUpload
      name="file"
      [multiple]="multiple"
      [accept]="accept"
      [maxFileSize]="maxFileSize"
      customUpload="true"
      [auto]="false"
      (uploadHandler)="onUpload($event)"
      (onSelect)="onSelectedFiles($event)"
      (onRemove)="onRemoveFile(1)"
    >
    <ng-template pTemplate="header" let-files let-chooseCallback="chooseCallback" let-clearCallback="clearCallback" let-uploadCallback="uploadCallback">
      <div class="d-flex flex-wrap justify-content-between align-items-center flex-1 gap-2">
          <div class="d-flex gap-2 align-items-center flex-1">
              <p-button (onClick)="chooseCallback()" icon="pi pi-images" [rounded]="true" [outlined]="true" />
              <p-button (onClick)="uploadCallback()" icon="pi pi-upload" [rounded]="true" severity="success" [disabled]="!(files?.length > 0)" />
              <p-button (onClick)="clearCallback()" icon="pi pi-times" [rounded]="true" [outlined]="true" severity="danger" [disabled]="!group.get(control)?.value?.length" />   
            <div class="label text-center flex-1">
              <strong>Upload {{label}}</strong>
            </div>
          </div>
      </div>
    </ng-template>
    <ng-template
      pTemplate="content"
      let-files
      let-removeFileCallback="removeFileCallback"
    >
      <div *ngIf="files?.length > 0">
        <h5>Selected Files</h5>
        <div class="flex flex-wrap p-0 sm:p-5 gap-5">
          <div
            *ngFor="let file of files; let i = index"
            class="card m-0 px-6 flex flex-column border-1 surface-border align-items-center gap-3"
          >
            <div>
              <img
                role="presentation"
                [alt]="file.name"
                [src]="file.objectURL"
                width="100"
                height="50"
              />
            </div>
            <span class="font-semibold">{{ file.name }}</span>
            <div>{{ formatSize(file.size) }}</div>
            <p-button
              icon="pi pi-times"
              [outlined]="true"
              [rounded]="true"
              severity="danger"
            ></p-button>
            
            <!-- (onClick)="removeFile(file, removeFileCallback, i)" -->
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="empty" *ngIf="showDragnDrop">
      <div class="flex align-items-center justify-content-center flex-column text-center">
        <i
          class="pi pi-cloud-upload border-2 border-circle p-5 text-8xl text-400 border-400"
        ></i>
        <p class="mt-4 mb-0">Drag and drop {{label}} here to upload.</p>
      </div>
    </ng-template>
  </p-fileUpload>
</div>