<div class="main p-2">
  <div class="row">
    <div class="col-lg-2 module-item p-4" *ngFor="let item of moduleList">
      <a [href]="getExternalUrl('')">
        <div class="text-center p-3">
          <div class="col-xl-9 p-2 div-center">
            <span class="avatar avatar-xxl">
              <img src="./assets/images/icons/{{ getFileName(item.ImagePath) }}" alt="" />
            </span>
            <span class="d-block fs-13 fw-bold">{{item.ModuleName}}</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
<br />
<hr style="border: 1px solid #000;" />
<br />

<div class="main p-2">
  <div class="row">
    <div class="col-lg-2 p-4" *ngFor="let item of moduleList">
      <div class="module-card">
        <a [href]="getExternalUrl('')">
          <div class="text-center p-3">
            <div class="col-xl-9 p-2 div-center">
              <span class="avatar avatar-xxl">
                <img src="./assets/images/icons/{{ getFileName(item.ImagePath) }}" alt="" />
              </span>
              <span class="d-block fs-13 fw-bold">{{item.ModuleName}}</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>












<!--<div class="col-lg-2" *ngFor="let item of moduleList">
  <a [href]="getExternalUrl(item.ModuleCode)">
    <div class="text-center p-3 module-card">
      <span class="avatar avatar-xxl avatar-rounded">
        <img src="./assets/images/v3/{{ getFileName(item.ImagePath) }}" alt="" />
      </span>
      <span class="d-block fs-13 fw-bold">{{item.ModuleName}}</span>
    </div>
  </a>
</div>-->
<!--<div class="col-lg-2">
  <a [href]="getExternalUrl('')">
    <div class="text-center p-3">
      <div class="module-card col-xl-9 p-2 div-center">
        <span class="avatar avatar-xxl">
          <img src="./assets/images/icons/Admin.svg" alt="" />
        </span>
        <span class="d-block fs-13 fw-bold">-1Admin<</span>
      </div>
    </div>
  </a>
</div>
<div class="col-lg-2">
  <a [href]="getExternalUrl('')">
    <div class="text-center p-3">
      <div class="module-card col-xl-9 p-2 div-center">
        <span class="avatar avatar-xxl">
          <img src="./assets/images/icons/Billing.svg" alt="" />
        </span>
        <span class="d-block fs-13 fw-bold">Billing</span>
      </div>
    </div>
  </a>
</div>
<div class="col-lg-2">
  <a [href]="getExternalUrl('')">
    <div class="text-center p-3">
      <div class="module-card col-xl-9 p-2 div-center">
        <span class="avatar avatar-xxl">
          <img src="./assets/images/icons/Doctor.svg" alt="" />
        </span>
        <span class="d-block fs-13 fw-bold">Doctor</span>
      </div>
    </div>
  </a>
</div>
<div class="col-lg-2">
  <a [href]="getExternalUrl('')">
    <div class="text-center p-3">
      <div class="module-card col-xl-9 p-2 div-center">
        <span class="avatar avatar-xxl">
          <img src="./assets/images/icons/HealthCard.svg" alt="" />
        </span>
        <span class="d-block fs-13 fw-bold">Health Card</span>
      </div>
    </div>
  </a>
</div>
<div class="col-lg-2">
  <a [href]="getExternalUrl('')">
    <div class="text-center p-3">
      <div class="module-card col-xl-9 p-2 div-center">
        <span class="avatar avatar-xxl">
          <img src="./assets/images/icons/HR.svg" alt="" />
        </span>
        <span class="d-block fs-13 fw-bold">HRMS</span>
      </div>
    </div>
  </a>
</div>
<div class="col-lg-2">
  <a [href]="getExternalUrl('')">
    <div class="text-center p-3">
      <div class="module-card col-xl-9 p-2 div-center border">
        <span class="avatar avatar-xxl">
          <img src="./assets/images/icons/Insurance.svg" alt="" />
        </span>
        <span class="d-block fs-13 fw-bold">Insurance</span>
      </div>
    </div>
  </a>
</div>-->
<!--<div class="col-lg-2">
  <a [href]="getExternalUrl('')">
    <div class="text-center p-3 module-card">
      <span class="avatar avatar-xxl">
        <img src="./assets/images/icons/Billing.svg" alt="" />
      </span>
      <span class="d-block fs-13 fw-bold">Billing</span>
    </div>
  </a>
</div>
<div class="col-lg-2">
  <a [href]="getExternalUrl('')">
    <div class="text-center p-3 module-card">
      <span class="avatar avatar-xxl">
        <img src="./assets/images/icons/Doctor.svg" alt="" />
      </span>
      <span class="d-block fs-13 fw-bold">Doctor</span>
    </div>
  </a>
</div>
<div class="col-lg-2">
  <a [href]="getExternalUrl('')">
    <div class="text-center p-3 module-card">
      <span class="avatar avatar-xxl">
        <img src="./assets/images/icons/HealthCard.svg" alt="" />
      </span>
      <span class="d-block fs-13 fw-bold">Health Card</span>
    </div>
  </a>
</div>
<div class="col-lg-2">
  <a [href]="getExternalUrl('')">
    <div class="text-center p-3 module-card">
      <span class="avatar avatar-xxl">
        <img src="./assets/images/icons/HR.svg" alt="" />
      </span>
      <span class="d-block fs-13 fw-bold">HRMS</span>
    </div>
  </a>
</div>
<div class="col-lg-2">
  <a [href]="getExternalUrl('')">
    <div class="text-center p-3 module-card">
      <span class="avatar avatar-xxl">
        <img src="./assets/images/icons/Insurance.svg" alt="" />
      </span>
      <span class="d-block fs-13 fw-bold">Insurance</span>
    </div>
  </a>
</div>-->
<!--<div class="col-lg-2">
  <a [href]="getExternalUrl('')">
    <div class="text-center p-3 module-card">
      <span class="avatar avatar-xxl">
        <img src="./assets/images/icons/Lab.svg" alt="" />
      </span>
      <span class="d-block fs-13 fw-bold">Laboratory</span>
    </div>
  </a>
</div>
<div class="col-lg-2">
  <a [href]="getExternalUrl('')">
    <div class="text-center p-3 module-card">
      <span class="avatar avatar-xxl">
        <img src="./assets/images/icons/Nurse.svg" alt="" />
      </span>
      <span class="d-block fs-13 fw-bold">Nurse</span>
    </div>
  </a>
</div>
<div class="col-lg-2">
  <a [href]="getExternalUrl('')">
    <div class="text-center p-3 module-card">
      <span class="avatar avatar-xxl">
        <img src="./assets/images/icons/Patients.svg" alt="" />
      </span>
      <span class="d-block fs-13 fw-bold">Patient</span>
    </div>
  </a>
</div>
<div class="col-lg-2">
  <a [href]="getExternalUrl('')">
    <div class="text-center p-3 module-card">
      <span class="avatar avatar-xxl">
        <img src="./assets/images/icons/Payroll.svg" alt="" />
      </span>
      <span class="d-block fs-13 fw-bold">Payroll</span>
    </div>
  </a>
</div><div class="col-lg-2">
  <a [href]="getExternalUrl('')">
    <div class="text-center p-3 module-card">
      <span class="avatar avatar-xxl">
        <img src="./assets/images/icons/Radiology.svg" alt="" />
      </span>
      <span class="d-block fs-13 fw-bold">Radiology</span>
    </div>
  </a>
</div>
<div class="col-lg-2">
  <a [href]="getExternalUrl('')">
    <div class="text-center p-3 module-card">
      <span class="avatar avatar-xxl">
        <img src="./assets/images/icons/BDP.svg" alt="" />
      </span>
      <span class="d-block fs-13 fw-bold">BDP</span>
    </div>
  </a>
</div>
<div class="col-lg-2">
  <a [href]="getExternalUrl('')">
    <div class="text-center p-3 module-card">
      <span class="avatar avatar-xxl">
        <img src="./assets/images/icons/Ward.svg" alt="" />
      </span>
      <span class="d-block fs-13 fw-bold">Ward</span>
    </div>
  </a>
</div>-->
<!--<div class="col-lg-2">
    <a href="javascript:void(0);">
      <div class="text-center p-3 module-card">
        <span class="avatar avatar-md avatar-rounded">
          <img src="./assets/images/apps/figma.png" alt="" />
        </span>
        <span class="d-block fs-12">Figma</span>
      </div>
    </a>
  </div>
  <div class="col-lg-2">
    <a href="javascript:void(0);">
      <div class="text-center p-3 module-card">
        <span class="avatar avatar-md avatar-rounded">
          <img src="./assets/images/apps/microsoft-powerpoint.png"
               alt="" />
        </span>
        <span class="d-block fs-12">Power Point</span>
      </div>
    </a>
  </div>
  <div class="col-lg-2">
    <a href="javascript:void(0);">
      <div class="text-center p-3 module-card">
        <span class="avatar avatar-md avatar-rounded">
          <img src="./assets/images/apps/microsoft-word.png"
               alt="" />
        </span>
        <span class="d-block fs-12">MS Word</span>
      </div>
    </a>
  </div>
  <div class="col-lg-2">
    <a href="javascript:void(0);">
      <div class="text-center p-3 module-card">
        <span class="avatar avatar-md avatar-rounded">
          <img src="./assets/images/apps/calender.png" alt="" />
        </span>
        <span class="d-block fs-12">Calendar</span>
      </div>
    </a>
  </div>
  <div class="col-lg-2">
    <a href="javascript:void(0);">
      <div class="text-center p-3 module-card">
        <span class="avatar avatar-md avatar-rounded">
          <img src="./assets/images/apps/sketch.png" alt="" />
        </span>
        <span class="d-block fs-12">Sketch</span>
      </div>
    </a>
  </div>
  <div class="col-lg-2">
    <a href="javascript:void(0);">
      <div class="text-center p-3 module-card">
        <span class="avatar avatar-md avatar-rounded">
          <img src="./assets/images/apps/google-docs.png" alt="" />
        </span>
        <span class="d-block fs-12">Docs</span>
      </div>
    </a>
  </div>
  <div class="col-lg-2">
    <a href="javascript:void(0);">
      <div class="text-center p-3 module-card">
        <span class="avatar avatar-md avatar-rounded">
          <img src="./assets/images/apps/google.png" alt="" />
        </span>
        <span class="d-block fs-12">Google</span>
      </div>
    </a>
  </div>
  <div class="col-lg-2">
    <a href="javascript:void(0);">
      <div class="text-center p-3 module-card">
        <span class="avatar avatar-md avatar-rounded">
          <img src="./assets/images/apps/translate.png" alt="" />
        </span>
        <span class="d-block fs-12">Translate</span>
      </div>
    </a>
  </div>
  <div class="col-lg-2">
    <a href="javascript:void(0);">
      <div class="text-center p-3 module-card">
        <span class="avatar avatar-md avatar-rounded">
          <img src="./assets/images/apps/google-sheets.png"
               alt="" />
        </span>
        <span class="d-block fs-12">Sheets</span>
      </div>
    </a>
  </div>
  </div>
</div>-->
