<form class="form-sidebar" [formGroup]="form" autocomplete="off">
  <div class="row pt-3">
    <div class="col-xl-4"></div>
    <div class="col-xl-4 card card-body p-3">
      <div class="col-xl-12 form-group">
        <z-select [group]="form" [control]="'ModuleCode'" (onChange)="onModuleChange()" [label]="formConfig.ModuleCode.label" [options]="moduleList" [optionLabel]="'ModuleName'" [optionValue]="'ModuleCode'"></z-select>
      </div>
      <div class="col-xl-12 form-group">
        <z-select [group]="form" [control]="'FormatFor'" (onChange)="onFormatForChange()" [label]="formConfig.FormatFor.label" [options]="formatForList" [optionLabel]="'Text'" [optionValue]="'Text'"></z-select>
      </div>
      <div class="col-xl-12 form-group">
        <z-inputnumber [group]="form" [control]="'StartNumber'" [label]="formConfig.StartNumber.label"></z-inputnumber>
      </div>
      <div class="col-xl-12">
        <div class="row">
          <div class="col-xl-6 form-group">
            <z-inputnumber [group]="form" [control]="'WidthOfNumberPart'" [label]="formConfig.WidthOfNumberPart.label"></z-inputnumber>
          </div>
          <div class="col-xl-4 form-group px-3">
            <z-checkbox [group]="form" [control]="'PrefillZero'" [label]="formConfig.PrefillZero.label"></z-checkbox>
          </div>
        </div>
      </div>
      <div class="col-xl-12 form-group">
        <z-inputtext [group]="form" [control]="'PrefixFront'" [label]="formConfig.PrefixFront.label"></z-inputtext>
      </div>
      <div class="col-xl-12 form-group">
        <z-inputtext [group]="form" [control]="'PrefixRear'" [label]="formConfig.PrefixRear.label"></z-inputtext>
      </div>
      <div class="col-xl-12 form-group">
        <z-inputtext [group]="form" [control]="'Suffix'" [label]="formConfig.Suffix.label"></z-inputtext>
      </div>
      <div class="col-xl-12 form-group">
        <z-datepicker [group]="form" [control]="'EffectiveFromDate'" [label]="formConfig.EffectiveFromDate.label"></z-datepicker>
      </div>
      <div class="col-xl-12 form-group">
        <z-select [group]="form" [control]="'RestartType'" [label]="formConfig.RestartType.label" [options]="restartTypeList" [optionLabel]="'Text'" [optionValue]="'Value'"></z-select>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4 pe-1">
          <button type="submit" class="btn btn-md btn-primary w-100" (click)="onSubmit()" [disabled]="isSubmitted">Save </button>
        </div>
        <div class="col-md-4 ps-1">
          <button type="reset" class="btn btn-md btn-light w-100" (click)="resetForm()">Reset</button>
        </div>
      </div>
    </div>
    <div class="col-xl-4"></div>
  </div>
</form>

<p-table [value]="tableData">
  <ng-template pTemplate="header">
    <tr>
      <th>SN</th>
      <th>Sample Number</th>
      <th>Effective From</th>
      <th>Term Date</th>
      <th>Starting Number</th>
      <th>WidthOf Number</th>
      <th>Prefill Zero</th>
      <th>Prefix Front</th>
      <th>Prefix Rear</th>
      <th>Suffix</th>
      <th>Restart</th>
      <th>Added By</th>
      <th>Added Time</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-item let-i="rowIndex">
    <tr>
      <td>{{ i + 1 }}</td>
      <td> <b>{{ item.SampleNumberFormat }}</b></td>
      <td>{{ item.EffectiveFromDate | date: 'dd-MM-yyyy' }}</td>
      <td>{{ item.TermEndDate | date: 'dd-MM-yyyy' }}</td>
      <td>{{ item.StartNumber }}</td>
      <td>{{ item.WidthOfNumberPart }}</td>
      <td>{{ item.PrefillZero ? 'Yes' : 'No' }}</td>
      <td>{{ item.PrefixFront }}</td>
      <td>{{ item.PrefixRear }}</td>
      <td>{{ item.Suffix }}</td>
      <td>
        {{ item.RestartType === 'N' ? 'Never' : item.RestartType === 'D' ? 'Daily' : item.RestartType === 'Y' ? 'Yearly' : item.RestartType === 'F' ? 'Financial Year' : item.RestartType === 'M' ? 'Monthly' : item.RestartType }}
      </td>
      <td>{{ item.CreatedBy }}</td>
      <td>{{ item.CreatedDateTime }}</td>
    </tr>
  </ng-template>
</p-table>
<p *ngIf="tableData.length === 0">No data available in table</p>
