<ng-container *ngIf="controlDef.type === 'formControl'">
  <div [formGroup]="controlDef.group">
    <div class="input-group">
      <p-floatLabel class="flex-grow-1">
        <p-autoComplete [formControlName]="controlDef.control" [appShowValidationTooltip]="controlDef.validationMessage"
          [placeholder]="controlDef.placeholder" [suggestions]="controlDef.options"
          [optionLabel]="controlDef.optionLabel" [readonly]="isValueSelected || readonly" [forceSelection]="true"
          [inputId]="resolvedInputId" [minLength]="2" [completeOnFocus]="allowEmptySearch" [delay]="500" [autoHighlight]="true"
          [autoOptionFocus]="true" (completeMethod)="searchHandler($event)" (onSelect)="selectHandler($event)">

          <!-- Header template -->
          <ng-template pTemplate="header" *ngIf="!controlDef.hideHeader">
            <table class="autocomplete-table">
              <thead>
                <tr>
                  <th *ngFor="let col of controlDef.columns" [ngStyle]="{ 'width': col.width || 'auto' }">
                    {{ col.label }}
                  </th>
                </tr>
              </thead>
            </table>
          </ng-template>

          <!-- Item template -->
          <ng-template let-item pTemplate="item">
            <table class="autocomplete-table">
              <tbody>
                <tr>
                  <td *ngFor="let col of controlDef.columns" [ngStyle]="{ 'width': col.width || 'auto' }">
                    {{ item[col.data] }}
                  </td>
                </tr>
              </tbody>
            </table>
          </ng-template>
        </p-autoComplete>
        <label [attr.for]="resolvedInputId">{{ controlDef.label }}</label>
      </p-floatLabel>
      <button *ngIf="isValueSelected && isClearable" class="input-group-addon" type="button" (click)="clearHandler()"
        tabindex="-1">
        <i class="pi pi-times"></i>
      </button>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="controlDef.type === 'suggestions'">
  <p-floatLabel>
    <p-autoComplete [ngModel]="controlDef.value" [placeholder]="controlDef.placeholder" [inputId]="resolvedInputId"
      [suggestions]="controlDef.options" [optionLabel]="controlDef.optionLabel" [forceSelection]="true" [minLength]="2"
      [delay]="500" [autoHighlight]="true" [autoOptionFocus]="true" (completeMethod)="searchHandler($event)"
      (onSelect)="selectHandler($event)">

      <ng-template pTemplate="header" *ngIf="!controlDef.hideHeader">
        <table class="autocomplete-table">
          <thead>
            <tr>
              <th *ngFor="let col of controlDef.columns" [ngStyle]="{ 'width': col.width || 'auto' }">
                {{ col.label }}
              </th>
            </tr>
          </thead>
        </table>
      </ng-template>

      <ng-template let-item pTemplate="item">
        <table class="autocomplete-table">
          <tbody>
            <tr>
              <td *ngFor="let col of controlDef.columns" [ngStyle]="{ 'width': col.width || 'auto' }">
                {{ item[col.data] }}
              </td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </p-autoComplete>
    <label [attr.for]="resolvedInputId">{{ controlDef.label }}</label>
  </p-floatLabel>
</ng-container>



<!-- <div [formGroup]="controlDef.group!">
    <p-floatLabel>
      <p-autoComplete
        [ngModel]="isInForm ? null : controlDef.value"
        formControlName="{{(controlDef.group && controlDef.control) ? controlDef.control : null}}"
        [appShowValidationTooltip]="controlDef.validationMessage"
        [placeholder]="controlDef.placeholder"
        [suggestions]="controlDef.options"
        [optionLabel]="controlDef.optionLabel"
        [forceSelection]="true"
        [minLength]="2"
        [delay]="500"
        [autoHighlight]="true"
        [autoOptionFocus]="true"
        (completeMethod)="filterHandler($event)"
        (onSelect)="selectHandler($event)"
        (dblclick)="dblclickHandler()">
        
        <ng-template pTemplate="header" *ngIf="controlDef.showHeader">
          <table class="autocomplete-table">
            <thead>
              <tr>
                <th *ngFor="let col of controlDef.columns" [ngStyle]="{ 'width': col.width || 'auto' }">
                  {{ col.label }}
                </th>
              </tr>
            </thead>
          </table>
        </ng-template>
        
        <ng-template let-item pTemplate="item">
          <table class="autocomplete-table">
            <tbody>
              <tr>
                <td *ngFor="let col of controlDef.columns"
                    [ngStyle]="{ 'width': col.width || 'auto' }">
                  {{ item[col.data] }}
                </td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </p-autoComplete>
      <label>{{ controlDef.label }}</label>
    </p-floatLabel>
  </div> -->
