<ng-template #pageHeaderActionTemplate>
  <button class="btn btn-primary btn-page-header" (click)="onClickPageHeaderBackButton()"><i class="pi pi-arrow-left"></i>&nbsp;Back</button>
</ng-template>

<div class="page-content">
  <div class="page-content-scrollable">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="card m-auto mb-2" style="max-width: 1200px;">
        <div class="card-body">
          <div class="horizontal-form">
            <div class="row">

              <!-- Order Details -->
              <div class="col-md-3 form-group px-2">
                <z-span [text]="form.get('ExportOrderNo')?.value" [label]="formConfig.ExportOrderNo.label"></z-span>
              </div>
              <div class="col-md-3 form-group px-2">
                <z-datepicker [group]="form" [control]="'ExportOrderDate'" [label]="formConfig.ExportOrderDate.label"></z-datepicker>
              </div>
              <div class="col-md-3 form-group px-2">
                <z-datepicker [group]="form" [control]="'ReferenceDate'" [label]="formConfig.ReferenceDate.label"></z-datepicker>
              </div>
              <div class="col-md-3 form-group px-2">
                <z-inputtext [group]="form" [control]="'ReferenceNo'" [label]="formConfig.ReferenceNo.label"></z-inputtext>
              </div>

              <!-- Customer Details -->
              <div class="col-md-3 form-group px-2">
                <z-inputtext [group]="form" [control]="'CustomerID'" [label]="formConfig.CustomerID.label"></z-inputtext>
              </div>
              <div class="col-md-6 form-group px-2">
                <z-textarea [group]="form" [control]="'CustomerAddress'" [label]="formConfig.CustomerAddress.label"></z-textarea>
              </div>

              <!-- Currency & Exchange -->
              <div class="col-md-3 form-group px-2">
                <z-select [group]="form" [control]="'CurrencyID'" [label]="formConfig.CurrencyID.label" [optionLabel]="'cValue'" [optionValue]="'iValue'" [options]="currencyList"></z-select>
              </div>
              <div class="col-md-3 form-group px-2">
                <z-datepicker [group]="form" [control]="'ExchangeRateDate'" [label]="formConfig.ExchangeRateDate.label"></z-datepicker>
              </div>
              <div class="col-md-3 form-group px-2">
                <z-inputnumber [group]="form" [control]="'ExchangeRateToBC'" [label]="formConfig.ExchangeRateToBC.label"></z-inputnumber>
              </div>

              <!-- Incoterm and Charges -->
              <div class="col-md-3 form-group px-2">
                <z-select [group]="form" [control]="'IncotermID'" [label]="formConfig.IncotermID.label" [optionLabel]="'cValue'" [optionValue]="'iValue'" [options]="incotermList"></z-select>
              </div>
              <div class="col-md-3 form-group px-2">
                <z-checkbox [group]="form" [control]="'IsDutyDrawable'" [label]="formConfig.IsDutyDrawable.label"></z-checkbox>
              </div>
              <div class="col-md-3 px-2">
                <z-checkbox [group]="form" [control]="'IsRoDTEP'" [label]="formConfig.IsRoDTEP.label"></z-checkbox>
              </div>
              <div class="col-md-3 form-group px-2">
                <z-inputnumber [group]="form" [control]="'FreightChargeBC'" [label]="formConfig.FreightChargeBC.label"></z-inputnumber>
              </div>
              <div class="col-md-3 form-group px-2">
                <z-inputnumber [group]="form" [control]="'InsuranceAmountBC'" [label]="formConfig.InsuranceAmountBC.label"></z-inputnumber>
              </div>

              <!-- Product List -->
              <div class="col-12">
                <label>Product List</label>
                <div class="d-flex align-items-center">
                  <div class="col-xl-10 px-2" formArrayName="ProductList">
                      <div *ngFor="let group of productListArray.controls; let i = index" [formGroupName]="i">
                          <div class="col-xl-12 form-group d-flex align-items-center">
                              <h6 class="col-xl-1">{{i + 1}}.</h6>
                              <div class="col-xl-11 d-flex align-items-center">
                                <div class="col-xl-3 form-group px-2">
                                  <z-inputtext [group]="group"
                                      [control]="'ProductID'" [label]="formConfig.ProductList.items.ProductID.label"
                                      [validationMessage]="formConfig.ProductList.items.ProductID.error">
                                  </z-inputtext>
                                </div>
                                <div class="col-xl-3 form-group px-2">
                                  <z-inputnumber [group]="group"
                                      [control]="'Quantity'" [label]="formConfig.ProductList.items.Quantity.label"
                                      [validationMessage]="formConfig.ProductList.items.Quantity.error">
                                  </z-inputnumber>
                                </div>
                                <div class="col-xl-3 form-group px-2">
                                  <z-inputnumber [group]="group"
                                      [control]="'RatePerUnitBC'" [label]="formConfig.ProductList.items.RatePerUnitBC.label"
                                      [validationMessage]="formConfig.ProductList.items.RatePerUnitBC.error">
                                  </z-inputnumber>
                                </div>
                                <div class="col-xl-3 form-group px-2">
                                  <label>Total Amount</label>
                                  <div>
                                    {{ (group.get('Quantity')?.value || 0) * (group.get('RatePerUnitBC')?.value || 0) }}
                                  </div>
                                </div>
                              </div>
                              <div class="col-xl-1 d-flex align-items-center px-2">
                                  <button type="button" class="btn btn-md btn-danger"
                                      (click)="productListArray.removeAt(i)">
                                      <i class="pi pi-trash"></i>
                                  </button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-2 form-group align-self-end px-2">
                      <button type="button" class="btn btn-md btn-primary w-100" (click)="addproduct()">
                          <i class="pi pi-plus"></i>&nbsp;Add</button>
                  </div>
              </div>
                <!-- <div formArrayName="products">
                  <div *ngFor="let product of products.controls; let i = index" [formGroupName]="i" class="row mb-2">
                    <div class="col-md-3">
                      <z-inputtext [group]="product" [control]="'ProductName'" [label]="'Product Name'"></z-inputtext>
                    </div>
                    <div class="col-md-2">
                      <z-inputnumber [group]="product" [control]="'Quantity'" [label]="'Quantity'"></z-inputnumber>
                    </div>
                    <div class="col-md-2">
                      <z-inputnumber [group]="product" [control]="'Rate'" [label]="'Rate'"></z-inputnumber>
                    </div>
                    <div class="col-md-2">
                    <z-span [text]="getAmount(i).toString()" [label]="'Amount'"></z-span>
                    </div>
                    <div class="col-md-3 d-flex align-items-center">
                      <button type="button" (click)="removeProduct(i)" class="btn btn-danger btn-sm">Remove</button>
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary mt-2" (click)="addProduct()">Add Product</button>
                </div> -->
              </div>

              <!-- Payment & Shipment -->
              <div class="col-md-3 form-group px-2">
                <z-inputtext [group]="form" [control]="'PaymentTerms'" [label]="formConfig.PaymentTerms.label"></z-inputtext>
              </div>
              <div class="col-md-3 form-group px-2">
                <z-select [group]="form" [control]="'ShipmentMode'" [label]="formConfig.ShipmentMode.label" [options]="shipmentModes" [optionLabel]="'label'" [optionValue]="'value'"></z-select>
              </div>
              <div class="col-md-3 form-group px-2">
                <z-inputtext [group]="form" [control]="'LoadingPortID'" [label]="formConfig.LoadingPortID.label"></z-inputtext>
              </div>
              <div class="col-md-3 form-group px-2">
                <z-inputtext [group]="form" [control]="'DischargePortID'" [label]="formConfig.DischargePortID.label"></z-inputtext>
              </div>
              <div class="col-md-3 form-group px-2">
                <z-inputtext [group]="form" [control]="'DestinationName'" [label]="formConfig.DestinationName.label"></z-inputtext>
              </div>

              <!-- Narration -->
              <div class="col-md-6 form-group px-2">
                <z-textarea [group]="form" [control]="'Narration'" [label]="formConfig.Narration.label"></z-textarea>
              </div>

              <!-- Status -->
              <div class="col-md-3 form-group px-2">
                <z-select [group]="form" [control]="'StatusID'" [label]="formConfig.StatusID.label" [optionLabel]="'cValue'" [optionValue]="'iValue'" [options]="statusList"></z-select>
              </div>

            </div> <!-- row -->
          </div>
        </div>
      </div>

      <!-- Form Action Buttons -->
      <div class="row justify-content-end mt-3 px-3 pr-4">
        <div class="col-md-2 px-2">
          <button type="submit" class="btn btn-primary w-100">{{ isEditMode ? 'Update' : 'Save' }}</button>
        </div>
        <div class="col-md-2 px-2">
          <button type="button" class="btn btn-secondary w-100" (click)="resetForm()">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>