<app-form-sidebar [isVisible]="isFormSidebarVisible" [styleClass]="'w-30rem'">
  <div sidebarHeader>
    <h5 class="text-white">Holiday Master</h5>
  </div>
  <div sidebarContent>
        <form class="form-sidebar" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="col-xl-12 form-group">
                <z-span [text]="form.get('HolidayCode')?.value" [label]="formConfig.HolidayCode.label"></z-span>
            </div>
      <div class="col-xl-12 form-group">
        <z-inputtext [group]="form" control="HolidayName" [label]="formConfig.HolidayName.label" [validationMessage]="formConfig.HolidayName.error"></z-inputtext>
      </div>
      <div class="col-xl-12 form-group">
        <z-select [group]="form" [control]="'HolidayTypeID'" [label]="formConfig.HolidayTypeID.label" [validationMessage]="formConfig.HolidayTypeID.error"
                  [options]="holidayTypeList" [optionLabel]="'cValue'" [optionValue]="'iValue'">
        </z-select>
      </div>
      <div class="col-xl-12 form-group">
        <z-datepicker [group]="form" [control]="'HolidayDate'" [label]="formConfig.HolidayDate.label" [validationMessage]="formConfig.HolidayDate.error"></z-datepicker>
      </div>
      <div class="col-xl-12 form-group">
        <z-textarea [group]="form" [control]="'HolidayDescription'" [label]="formConfig.HolidayDescription.label"></z-textarea>
      </div>
    </form>
  </div>
  <div sidebarFooter>
    <div class="col-xl-12 d-grid mt-4 d-flex align-items-center">
      <div class="col-md-6 pe-1">
        <button type="submit" class="btn btn-md btn-primary w-100" (click)="onSubmit()" [disabled]="isSubmitted || !activeStatus">
          {{ isEditMode ? 'Update' : 'Save' }}
        </button>
      </div>
      <div class="col-md-6 ps-1">
        <button type="button" class="btn btn-md btn-light w-100" (click)="closeSidebar()">Cancel</button>
      </div>
    </div>
  </div>
</app-form-sidebar>
