<app-form-sidebar [isVisible]="isFormSidebarVisible" [styleClass]="'w-30rem'">
  <div sidebarHeader>
    <h5 class="text-white">Service Category Master</h5>
  </div>
  <div sidebarContent>
    <form class="form-sidebar" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="col-xl-12 form-group">
        <z-inputtext [group]="form" control="ServiceCategoryCode" [label]="formConfig.ServiceCategoryCode.label"></z-inputtext>
      </div>
      <div class="col-xl-12 form-group">
        <z-select [group]="form" [control]="'ServiceCategoryType'" [label]="formConfig.ServiceCategoryType.label" (onChange)="onServiceCategoryChange($event)" [validationMessage]="formConfig.ServiceCategoryType.error"
                  [options]="ServiceCateogryList" [optionLabel]="'Text'" [optionValue]="'Value'">
        </z-select>
      </div>
      <div class="col-xl-12 form-group">
        <z-select [group]="form" [control]="'ServiceGroupID'" [label]="formConfig.ServiceGroupID.label" [validationMessage]="formConfig.ServiceGroupID.error"
                  [options]="ServiceGroupList" [optionLabel]="'ServiceGroupName'" [optionValue]="'ServiceGroupID'">
        </z-select>
      </div>
      <div class="row">
        <div class="col-xl-7 form-group">
          <z-inputtext [group]="form" control="ServiceCategoryName" [label]="formConfig.ServiceCategoryName.label" [validationMessage]="formConfig.ServiceCategoryName.error"></z-inputtext>
        </div>
        <div class="col-xl-5 form-group">
          <z-inputtext [group]="form" control="ShortCode" [label]="formConfig.ShortCode.label" [validationMessage]="formConfig.ShortCode.error"></z-inputtext>
        </div>
      </div>
    </form>
  </div>
  <div sidebarFooter>
    <div class="col-xl-12 d-grid mt-4 d-flex align-items-center">
      <div class="col-md-6 pe-1">
        <button type="submit" class="btn btn-md btn-primary w-100" (click)="onSubmit()" [disabled]="isSubmitted || !ActiveStatus">
          {{ isEditMode ? 'Update' : 'Save' }}
        </button>
      </div>
      <div class="col-md-6 ps-1">
        <button type="button" class="btn btn-md btn-light w-100" (click)="closeSidebar()">Cancel</button>
      </div>
    </div>
  </div>
</app-form-sidebar>
