<app-form-sidebar [isVisible]="isFormSidebarVisible" [styleClass]="'w-30rem'">
  <div sidebarHeader>
    <h5 class="text-white">Ward Bed Unit Mapping</h5>
  </div>
  <div sidebarContent>
    <form class="form-sidebar" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="col-xl-12 form-group">
        <z-select [group]="form" [control]="'DepartmentID'" (onChange)="onDepartmentChange($event)" [label]="formConfig.DepartmentID.label" [validationMessage]="formConfig.DepartmentID.error"
                  [options]="DepartmentList" [optionLabel]="'DepartmentName'" [optionValue]="'DepartmentID'">
        </z-select>
      </div>
      <div class="col-xl-12 form-group">
        <z-select [group]="form" [control]="'ConsultantUnitID'" [label]="formConfig.ConsultantUnitID.label" [validationMessage]="formConfig.ConsultantUnitID.error"
                  [options]="ConsultantUnitList" [optionLabel]="'ConsultantUnitName'" [optionValue]="'ConsultantUnitID'">
        </z-select>
      </div>
      <div class="col-xl-12 form-group">
        <z-select [group]="form" [control]="'WardID'" [label]="formConfig.WardID.label" [validationMessage]="formConfig.WardID.error"
                  [options]="wardlist" [optionLabel]="'WardName'" [optionValue]="'WardID'">
        </z-select>
      </div>
      <div class="row">
        <div class="col-xl-6 form-group">
          <z-inputnumber [group]="form" [control]="'FromBedNo'" [label]="formConfig.FromBedNo.label" [validationMessage]="formConfig.FromBedNo.error"></z-inputnumber>
        </div>
        <div class="col-xl-6 form-group">
          <z-inputnumber [group]="form" [control]="'ToBedNo'" [label]="formConfig.ToBedNo.label" [validationMessage]="formConfig.ToBedNo.error"></z-inputnumber>
        </div>
      </div>
      <div class="col-xl-12 form-group">
        <z-datepicker [group]="form" control="EffectiveFromDate" [label]="formConfig.EffectiveFromDate.label" [validationMessage]="formConfig.EffectiveFromDate.error"></z-datepicker>
      </div>
      <div class="col-xl-12 form-group">
        <z-checkbox [group]="form" [control]="'KeepOpenWardBedUnitMappingModal'" [label]="formConfig.KeepOpenWardBedUnitMappingModal.label"></z-checkbox>
      </div>
    </form>
  </div>
  <div sidebarFooter>
    <div class="col-xl-12 d-grid mt-4 d-flex align-items-center">
      <div class="col-md-6 pe-1">
        <button type="submit" class="btn btn-md btn-primary w-100" (click)="onSubmit()"  [disabled]="isSubmitted">Update</button>
      </div>
      <div class="col-md-6 ps-1">
        <button type="button" class="btn btn-md btn-light w-100" (click)="closeSidebar()">Cancel</button>
      </div>
    </div>
  </div>
</app-form-sidebar>
