<div class="col-sm-12 nopadding" style="margin: 0px auto; text-align: center; padding-top: 0px;">   
    <br />
    <br />
    <br />
    <div class="col-sm-12 nopadding">
        <img src='../../../assets/images/v3/access_denied.jpg' alt="Access Denied" />
    </div>
    <div class="col-sm-12 nopadding" style="font-size:20px; color:Red; font-family:Comic Sans MS; font-weight:bold;">
        You have been denied permission to access this resource. Please navigate back to the main screen.
    </div>
</div>