<app-form-sidebar [isVisible]="isFormSidebarVisible" [styleClass]="'w-30rem'">
  <div sidebarHeader>
    <h5 class="text-white">Outside Test Mapping</h5>
  </div>
  <div sidebarContent>
    <form class="form-sidebar" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="col-xl-12 form-group">
        <z-select [group]="form" [control]="'OutsideLabID'" [label]="formConfig.OutsideLabID.label" [validationMessage]="formConfig.OutsideLabID.error"
                  [options]="OutSideLabList" [optionLabel]="'OutsideLabName'" [optionValue]="'OutsideLabID'">
        </z-select>
      </div>
      <div class="col-xl-12 form-group">
        <z-select [group]="form" [control]="'ServiceCategoryID'" [label]="formConfig.ServiceCategoryID.label" [validationMessage]="formConfig.ServiceCategoryID.error" (onChange)="onServiceCategoryChange()"
                  [options]="ServiceCategoryList" [optionLabel]="'ServiceCategoryName'" [optionValue]="'ServiceCategoryID'">
        </z-select>
      </div>
      <div class="col-xl-12 form-group">
        <z-select [group]="form" [control]="'ServiceID'" [label]="formConfig.ServiceID.label" [validationMessage]="formConfig.ServiceID.error"
                  [options]="ServiceList" [optionLabel]="'ServiceName'" [optionValue]="'ServiceID'">
        </z-select>
      </div>
      <div class="col-xl-12 form-group">
        <div class="input-group">
          <span class="input-group-text" id="addon-wrapping"><i class="pi pi-indian-rupee"></i></span>
          <z-inputtext class='flex-grow-1' [group]="form" control="AmountToPay" [label]="formConfig.AmountToPay.label" [validationMessage]="formConfig.AmountToPay.error"></z-inputtext>
          <span class="input-group-text" id="addon-wrapping">.00</span>
        </div>
      </div>
    </form>
  </div>
  <div sidebarFooter>
    <div class="col-xl-12 d-grid mt-4 d-flex align-items-center">
      <div class="col-md-6 pe-1">
        <button type="submit" class="btn btn-md btn-primary w-100" (click)="onSubmit()" [disabled]="isSubmitted || !ActiveStatus">
          {{ isEditMode ? 'Update' : 'Save' }}
        </button>
      </div>
      <div class="col-md-6 ps-1">
        <button type="button" class="btn btn-md btn-light w-100" (click)="closeSidebar()">Cancel</button>
      </div>
    </div>
  </div>
</app-form-sidebar>
