<app-form-sidebar [isVisible]="isFormSidebarVisible" [styleClass]="'w-30rem'">
    <div sidebarHeader>
        <h5 class="text-white">Letter of Credit</h5>
    </div>
    <div sidebarContent>
        <form class="form-sidebar" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="col-xl-12 form-group">
                <z-span [text]="form.get('LCNo')?.value" [label]="formConfig.LCNo.label"></z-span>
            </div>
            <div class="col-xl-12 form-group">
                <z-autocomplete [controlDef]="exportOrderAutoCompleteDef" (onSearch)="loadExportOrder($event)"
                    (onClear)="onClearExportOrder()">
                </z-autocomplete>
            </div>
            <!-- (onSelect)="onSelectExportOrder($event)"  -->
            <div class="col-xl-12 form-group">
                <z-inputtext [group]="form" [control]="'LCRefNo'" [label]="formConfig.LCRefNo.label"
                    [validationMessage]="formConfig.LCRefNo.error">
                </z-inputtext>
            </div>
            <div class="col-xl-12 form-group">
                <z-inputtext [group]="form" [control]="'IssuerBank'" [label]="formConfig.IssuerBank.label"
                    [validationMessage]="formConfig.IssuerBank.error">
                </z-inputtext>
            </div>
            <div class="col-xl-12 form-group">
                <z-datepicker [group]="form" [control]="'IssueDate'" [label]="formConfig.IssueDate.label"
                    [validationMessage]="formConfig.IssueDate.error">
                </z-datepicker>
            </div>
            <div class="col-xl-12 form-group">
                <z-inputnumber [group]="form" [control]="'LCAmountFC'" [label]="formConfig.LCAmountFC.label"
                    [validationMessage]="formConfig.LCAmountFC.error" (onChange)="calculateBaseCurrencyAmount()"
                    [styleClass]="'text-end'">
                </z-inputnumber>
            </div>
            <div class="col-xl-12 form-group">
                <div class="input-group">
                    <span class="input-group-text"><i class="pi pi-indian-rupee"></i></span>
                    <z-inputnumber [group]="form" [control]="'ExchangeRateToBC'" [label]="formConfig.ExchangeRateToBC.label"
                        [validationMessage]="formConfig.ExchangeRateToBC.error" (onChange)="calculateBaseCurrencyAmount()"
                        [styleClass]="'text-end'">
                    </z-inputnumber>
                </div>
            </div>
            <div class="col-xl-12 form-group">
                <div class="input-group">
                    <span class="input-group-text"><i class="pi pi-indian-rupee"></i></span>
                    <z-inputnumber [group]="form" [control]="'LCAmountBC'" [label]="formConfig.LCAmountBC.label"
                        [validationMessage]="formConfig.LCAmountBC.error" [readonly]="true" [styleClass]="'text-end'">
                    </z-inputnumber>
                </div>
            </div>
            <div class="col-xl-12 form-group">
            <z-datepicker [group]="form" [control]="'ExpiryDate'" [label]="formConfig.ExpiryDate.label"></z-datepicker>
            </div>
        </form>
    </div>
    <div sidebarFooter>
        <div class="col-xl-12 d-grid mt-4 d-flex align-items-center">
            <div class="col-md-6 pe-1">
                <button type="submit" class="btn btn-md btn-primary w-100" (click)="onSubmit()" [disabled]="isSubmitted">
                    {{ isEditMode ? "Update" : "Save" }}
                </button>
            </div>
            <div class="col-md-6 ps-1">
                <button type="button" class="btn btn-md btn-light w-100" (click)="closeSidebar()">Cancel</button>
            </div>
        </div>
    </div>
</app-form-sidebar>