<app-form-sidebar [isVisible]="isFormSidebarVisible" [styleClass]="'w-30rem lc-create-sidebar'">
  <div sidebarHeader>
    <h5 class="lc-create-title">{{ isEditMode ? 'Edit Letter of Credit' : 'Create Letter of Credit' }}</h5>
  </div>
  <div sidebarContent>
    <form class="lc-create-form" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="simple-form">
        <div class="simple-field">
          <label class="simple-label">{{ formConfig.LCNo.label }}:</label>
          <div class="simple-control">
            <div class="simple-static">{{ form.get('LCNo')?.value || 'NEW' }}</div>
          </div>
        </div>
        <div class="simple-field">
          <label class="simple-label">{{ formConfig.ExportOrderID.label }}:</label>
          <div class="simple-control">
            <z-autocomplete [controlDef]="exportOrderAutoCompleteDef" (onSearch)="loadExportOrder($event)"
              (onClear)="onClearExportOrder()">
            </z-autocomplete>
          </div>
        </div>
        <div class="simple-field">
          <label class="simple-label">{{ formConfig.LCRefNo.label }}:</label>
          <div class="simple-control">
            <z-inputtext [group]="form" [control]="'LCRefNo'" [label]="''" [validationMessage]="formConfig.LCRefNo.error">
            </z-inputtext>
          </div>
        </div>
        <div class="simple-field">
          <label class="simple-label">{{ formConfig.IssuerBank.label }}:</label>
          <div class="simple-control">
            <z-inputtext [group]="form" [control]="'IssuerBank'" [label]="''"
              [validationMessage]="formConfig.IssuerBank.error">
            </z-inputtext>
          </div>
        </div>
        <div class="simple-field">
          <label class="simple-label">{{ formConfig.IssueDate.label }}:</label>
          <div class="simple-control">
            <z-datepicker [group]="form" [control]="'IssueDate'" [label]="''" [validationMessage]="formConfig.IssueDate.error">
            </z-datepicker>
          </div>
        </div>
        <div class="simple-field">
          <label class="simple-label">{{ formConfig.LCAmountFC.label }}:</label>
          <div class="simple-control">
            <z-inputnumber [group]="form" [control]="'LCAmountFC'" [label]="''"
              [validationMessage]="formConfig.LCAmountFC.error" (onChange)="calculateBaseCurrencyAmount()"
              [styleClass]="'text-end'">
            </z-inputnumber>
          </div>
        </div>
        <div class="simple-field">
          <label class="simple-label">{{ formConfig.ExchangeRateToBC.label }}:</label>
          <div class="simple-control simple-control-currency">
            <span class="simple-currency-icon"><i class="pi pi-indian-rupee"></i></span>
            <z-inputnumber [group]="form" [control]="'ExchangeRateToBC'" [label]="''"
              [validationMessage]="formConfig.ExchangeRateToBC.error" (onChange)="calculateBaseCurrencyAmount()"
              [styleClass]="'text-end'">
            </z-inputnumber>
          </div>
        </div>
        <div class="simple-field">
          <label class="simple-label">{{ formConfig.LCAmountBC.label }}:</label>
          <div class="simple-control simple-control-currency">
            <span class="simple-currency-icon"><i class="pi pi-indian-rupee"></i></span>
            <z-inputnumber [group]="form" [control]="'LCAmountBC'" [label]="''"
              [validationMessage]="formConfig.LCAmountBC.error" [readonly]="true" [styleClass]="'text-end'">
            </z-inputnumber>
          </div>
        </div>
        <div class="simple-field">
          <label class="simple-label">{{ formConfig.ExpiryDate.label }}:</label>
          <div class="simple-control">
            <z-datepicker [group]="form" [control]="'ExpiryDate'" [label]="''" [validationMessage]="formConfig.ExpiryDate.error">
            </z-datepicker>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div sidebarFooter>
    <div class="lc-create-footer">
      <button type="button" class="simple-btn" (click)="closeSidebar()">Cancel</button>
      <button type="submit" class="simple-btn is-active" (click)="onSubmit()" [disabled]="isSubmitted">
        {{ isEditMode ? 'Update' : 'Save' }}
      </button>
    </div>
  </div>
</app-form-sidebar>
