<!-- page header Start -->
<div class="d-flex d-block align-items-center justify-content-between page-header-breadcrumb">
  <div>
    <ng-container *ngIf="pageHeaderActionTemplate">
      <ng-container *ngTemplateOutlet="pageHeaderActionTemplate"></ng-container>
    </ng-container>
  </div>
  <nav>
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item d-flex align-items-center">
        <a routerLink="/home">Home</a>
      </li>
      <li *ngFor="let breadcrumb of breadcrumbs; let last = last" class="breadcrumb-item d-flex align-items-center">
        <!-- Clickable breadcrumb (if URL is provided) -->
        <a *ngIf="breadcrumb.url && !last" [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>

        <!-- Display-only breadcrumb (if no URL) -->
        <span *ngIf="!breadcrumb.url || last" style="color: #333335;">{{ breadcrumb.label }}</span>
      </li>
    </ol>
  </nav>
</div>