<app-form-sidebar [isVisible]="isFormSidebarVisible" [styleClass]="'w-30rem'">
  <div sidebarHeader>
    <h5 class="text-white">Export Order Document </h5>
  </div>

  <div sidebarContent>
    <form class="form-sidebar" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="col-xl-12 form-group">
          <z-autocomplete
           [controlDef]="exportOrderAutoCompleteDef"
           (onSearch)="loadExportOrder($event)"
           (onSelect)="OnSelect_ExportOrder($event)">
          </z-autocomplete>
        </div>
      <div class="col-xl-12 form-group">
        <z-select [group]="form" [control]="'DocumentTypeID'"
          [label]="formConfig.DocumentTypeID.label"
          [validationMessage]="formConfig.DocumentTypeID.error" [options]="documentTypeList"
          [optionLabel]="'DocumentTypeName'" [optionValue]="'DocumentTypeID'">
        </z-select>
      </div>  
      <div class="col-xl-12 form-group" *ngIf="form.get('DocumentTypeID')?.value === 0">
        <z-inputtext [group]="form" [control]="'DocumentTypeName'" [label]="formConfig.DocumentTypeName.label"
          [validationMessage]="formConfig.DocumentTypeName.error">
        </z-inputtext>
      </div>  
      <div class="col-xl-12 form-group">
        <z-file-upload [group]="form" [control]="'DocumentFile'" [label]="formConfig.DocumentFile.label"
          [multiple]="true" [accept]="'.pdf'" [maxFileSize]="1048576" fieldLabel="image">
        </z-file-upload>
      </div>
    </form>
  </div>
  <div sidebarFooter>
    <div class="col-xl-12 d-grid mt-4 d-flex align-items-center">
      <div class="col-md-6 pe-1">
        <button type="submit" class="btn btn-md btn-primary w-100" (click)="onSubmit()">
          {{ isEditMode ? 'Update' : 'Save' }}
        </button>
      </div>
      <div class="col-md-6 ps-1">
        <button type="button" class="btn btn-md btn-light w-100" (click)="closeSidebar()">Cancel</button>
      </div>
    </div>
  </div>
</app-form-sidebar>