<app-form-sidebar [isVisible]="isFormSidebarVisible" [styleClass]="'w-30rem document-create-sidebar'">
  <div sidebarHeader>
    <h5 class="document-create-title">{{ isEditMode ? 'Edit Export Order Document' : 'Create Export Order Document' }}</h5>
  </div>

  <div sidebarContent>
    <form class="document-create-form" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="simple-form">
        <div class="simple-field">
          <label class="simple-label">{{ formConfig.ExportOrderID.label }}:</label>
          <div class="simple-control">
            <z-autocomplete [controlDef]="exportOrderAutoCompleteDef" (onSearch)="loadExportOrder($event)"
              (onSelect)="OnSelect_ExportOrder($event)">
            </z-autocomplete>
          </div>
        </div>

        <div class="simple-field">
          <label class="simple-label">{{ formConfig.DocumentTypeID.label }}:</label>
          <div class="simple-control">
            <z-select [group]="form" [control]="'DocumentTypeID'" [label]="''"
              [validationMessage]="formConfig.DocumentTypeID.error" [options]="documentTypeList"
              [optionLabel]="'DocumentTypeName'" [optionValue]="'DocumentTypeID'">
            </z-select>
          </div>
        </div>

        <div class="simple-field" *ngIf="form.get('DocumentTypeID')?.value === 0">
          <label class="simple-label">{{ formConfig.DocumentTypeName.label }}:</label>
          <div class="simple-control">
            <z-inputtext [group]="form" [control]="'DocumentTypeName'" [label]="''"
              [validationMessage]="formConfig.DocumentTypeName.error">
            </z-inputtext>
          </div>
        </div>

        <div class="simple-field">
          <label class="simple-label">{{ formConfig.DocumentFile.label }}:</label>
          <div class="simple-control">
            <z-file-upload [group]="form" [control]="'DocumentFile'" [label]="formConfig.DocumentFile.label"
              [validationMessage]="formConfig.DocumentFile.error || ''" [multiple]="true" [accept]="'.pdf'" [maxFileSize]="1048576">
            </z-file-upload>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div sidebarFooter>
    <div class="document-create-footer">
      <button type="button" class="simple-btn" (click)="closeSidebar()">Cancel</button>
      <button type="submit" class="simple-btn is-active" [disabled]="isSubmitted" (click)="onSubmit()">
        {{ isEditMode ? 'Update' : 'Save' }}
      </button>
    </div>
  </div>
</app-form-sidebar>
