<app-form-sidebar [isVisible]="isFormSidebarVisible" [styleClass]="'w-30rem'">
  <div sidebarHeader>
    <h5 class="text-white">Service Master</h5>
  </div>
  <div sidebarContent>
    <form class="form-sidebar" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="col-xl-12 form-group">
        <z-inputtext [group]="form" [control]="'ServiceCode'" [label]="formConfig.ServiceCode.label"></z-inputtext>
      </div>
      <div class="col-xl-12 form-group">
        <z-select [group]="form" [control]="'ServiceCategoryID'" [label]="formConfig.ServiceCategoryID.label" [validationMessage]="formConfig.ServiceCategoryID.error"
                  [options]="ServiceCategoryList" [optionLabel]="'ServiceCategoryName'" [optionValue]="'ServiceCategoryID'">
        </z-select>
      </div>
      <div class="col-xl-12 form-group">
        <z-inputtext [group]="form" [control]="'ServiceName'" [label]="formConfig.ServiceName.label" [validationMessage]="formConfig.ServiceName.error"></z-inputtext>
      </div>
      <div class="col-xl-12 form-group">
        <z-inputnumber [group]="form" [control]="'ServiceRate'" [label]="formConfig.ServiceRate.label" [validationMessage]="formConfig.ServiceRate.error"></z-inputnumber>
      </div>
    </form>
  </div>
  <div sidebarFooter>
    <div class="col-xl-12 d-grid mt-4 d-flex align-items-center">
      <div class="col-md-6 pe-1">
        <button type="submit" class="btn btn-md btn-primary w-100" (click)="onSubmit()" [disabled]="isSubmitted || !ActiveStatus">
          {{ isEditMode ? 'Update' : 'Save' }}
        </button>
      </div>
      <div class="col-md-6 ps-1">
        <button type="button" class="btn btn-md btn-light w-100" (click)="closeSidebar()">Cancel</button>
      </div>
    </div>
  </div>
</app-form-sidebar>


