.login-bg {
  background-color: #000;
  background-image: url('./../../../assets/images/authentication/login-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.login-card {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 1.5rem;
}

.signin-text-container {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 2rem;
  margin-bottom: 8px;
}

.signin-text {
  padding: 1rem;
  border-radius: 2rem;
}

input {
  background-color: transparent;
  border: 1px solid #fff;
  width: 100%;
  border-radius: 5px;
  padding: 1rem 0.75rem;
}


input:hover,
input:focus,
input:active {
  border: 1px solid #fff;
}

input::placeholder {
  color: #fff;
}