.background-vector{
    position: fixed;
    z-index: -1;
    opacity: 0.4;
}

.cls-1, .cls-2, .cls-3, .cls-4, .cls-5 {
  stroke-width: 0px;
}

.cls-1, .cls-2, .cls-4, .cls-5 {
  fill: #069af3;
}

.cls-1, .cls-4, .cls-5 {
  mix-blend-mode: overlay;
}

.cls-6 {
  isolation: isolate;
}

.cls-3 {
  fill: none;
}

.cls-4 {
  opacity: .17;
}

.cls-5 {
  opacity: .1;
}

.cls-1 {
  opacity: .7;
}

.login-container {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 0px 30px -11px rgba(0, 0, 0, 0.25);
}

.brand-logo {
  width: 100%;
}

.client-logo img {
    width: 100%;
    height: 80px;
}

.login-divider {
  position: relative;
  height: 1px;
}

.div-transparent:before {
  content: "";
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(to right, transparent, var(--primary-color), transparent);
}

input, button {
  border-radius: 5px !important;
  border: 1px solid #747775;
}

#Password {
    border-radius: 5px 0 0 5px !important;
    border-right: 0;
}

.form-floating > .form-control, .form-floating > .form-control-plaintext, .form-floating > .form-select {
  min-height: unset;
}

.ng-invalid.ng-touched {
  border-color: red;
}

#btn-toggle-password {
  border-radius: 0 5px 5px 0 !important;
  background-color: #fff;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.form-check-label {
  font-weight: 600;
  color: #747775;
}

/*Start Form Floating CSS*/

/*.form-floating > .form-control {
  padding: 0 0.75rem;
}

.form-floating > label {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  padding: 0 0.25rem;
  transition: all 0.2s;
  pointer-events: none;
}

.form-floating > .form-control:focus + label {
  top: -0.1rem;
  left: 0.5rem;
  color: var(--primary-color) !important;
  background-color: white;
  height: unset;
}

.form-floating > .form-control:not(:placeholder-shown) + label {
  top: -0.1rem;
  left: 0.5rem;
  background-color: white;
  height: unset;
}


.form-floating > .form-control, .form-floating > .form-control-plaintext, .form-floating > .form-select {
  height: calc(3.2rem - 4px);
}

.form-floating > .form-control:placeholder-shown:not(:focus) + label {
  opacity: 1;
  visibility: visible;
  top: 0.75rem;
  left: 0.75rem;
}

.form-floating .form-control:focus {
  border-color: var(--primary-color);
}*/






.form-floating > span {
  padding: 0.75rem 0.75rem !important;
  font-size: 1rem;
}

.form-floating > label {
  position: absolute;
  top: 0.75rem;
  left: 0.75rem;
  padding: 0 0.25rem;
  transition: all 0.2s;
  pointer-events: none;
}

.form-floating > .form-control:focus + label {
  top: -0.1rem;
  left: 0.5rem;
  color: var(--primary-color) !important;
  background-color: white;
  height: unset;
}

.form-floating > .form-control:not(:placeholder-shown) + label {
  top: -0.1rem;
  left: 0.5rem;
  background-color: white;
  height: unset;
}


.form-floating > .form-control, .form-floating > .form-control-plaintext, .form-floating > .form-select {
  height: calc(3rem - 8px);
}

  .form-floating > .form-control:placeholder-shown:not(:focus) + label {
    opacity: 1;
    visibility: visible;
    top: 0;
    left: 0.6rem;
  }

.form-floating .form-control:focus {
  border-color: var(--primary-color);
}

.form-floating > .form-control:not(:placeholder-shown) ~ label {
  transform: scale(0.8) translateY(-0.5rem) translateX(0.15rem);
}








/*End Form Floating CSS*/



/*.validation-tooltip {
  position: absolute;
  background: #ffdddd;
  color: red;
  border: 1px solid red;
  border-radius: 4px;
  padding: 4px;
  z-index: 1000;
}*/

/*.tooltip-container {
  position: absolute;
}

.validation-tooltip, .password-capslock-tooltip {
  background-color: #FFFFA3;
  color: #555;
  border: 1px solid #F78B83;
  border-radius: 4px;
  padding: 4px;
  z-index: 1000;*/
  /* Position the tooltip */
  /*margin-top: 8px;*/ /* Adjust if needed */
/*}

.password-capslock-tooltip::after {
  content: "";
  position: absolute;
  top: -20px;
  left: calc((100% - 20px) / 2);
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #F78B83 transparent;
}

span#password-capslock-tooltip {
  position: absolute;
  right: 0;
  bottom: -40px;
}

.validation-tooltip::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: calc((100% - 20px)/2);
  border-width: 10px;
  border-style: solid;
  border-color: #F78B83 transparent transparent transparent;
}*/

@media(min-width: 768px) {
  .login-sub-container {
    aspect-ratio: 1.2;
  }
}
