<app-form-sidebar [isVisible]="isFormSidebarVisible" [styleClass]="'w-30rem role-create-sidebar'">
  <div sidebarHeader>
    <h5 class="role-create-title">{{ isEditMode ? 'Edit Role' : 'Create Role' }}</h5>
  </div>
  <div sidebarContent>
    <form class="role-create-form" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="simple-form">
        <div class="simple-field">
          <label class="simple-label">{{ formConfig.RoleCode.label }}:</label>
          <div class="simple-control">
            <div class="simple-static">{{ form.get('RoleCode')?.value || 'NEW' }}</div>
          </div>
        </div>

        <div class="simple-field">
          <label class="simple-label">{{ formConfig.RoleName.label }}:</label>
          <div class="simple-control">
            <z-inputtext [group]="form" [control]="'RoleName'" [label]="''" [validationMessage]="formConfig.RoleName.error">
            </z-inputtext>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div sidebarFooter>
    <div class="role-create-footer">
      <button type="button" class="simple-btn" (click)="closeSidebar()">Cancel</button>
      <button type="submit" class="simple-btn is-active" (click)="onSubmit()"
        [disabled]="isSubmitted || !ActiveStatus || form.invalid">
        {{ isEditMode ? 'Update' : 'Save' }}
      </button>
    </div>
  </div>
</app-form-sidebar>


