<ng-template #pageHeaderActionTemplate>
</ng-template>

<div class="col-xl-12 proforma-invoice-create">
    <div class="create-header">
        <div class="create-header-left">
            <button class="toolbar-btn icon-btn back-btn" type="button" (click)="OnClickPageHeaderBackButton()"
                aria-label="Back" title="Back">
                <i class="pi pi-angle-left" aria-hidden="true"></i>
                <span class="visually-hidden">Back</span>
            </button>
            <div class="create-title">
                <div class="create-title-eyebrow">
                    <div class="create-title-main">{{ isEditMode ? 'Edit' : 'Create' }} Proforma Invoice</div>
                    <div class="status-pill" *ngIf="isEditMode && statusText"
                        [ngStyle]="{ 'background-color': statusHex || 'var(--primary-color)' }">
                        <span>{{statusText}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="create-header-right">
            <div class="toolbar">
                <button type="button" class="toolbar-btn" [disabled]="form.get('BasedOn')?.value == 1 && isEditMode"
                    (click)="ResetForm()">
                    <span>Reset</span>
                </button>

                <button type="button" class="toolbar-btn is-active"
                    [disabled]="(statusText === 'Ready To Dispatch' || statusText === 'Dispatched' || statusText === 'Completed') && isEditMode"
                    (click)="OnSubmit()">
                    <span>{{ isEditMode ? "Update" : "Save" }}</span>
                </button>

                <button type="button" class="toolbar-btn" *ngIf="isEditMode && !isTaxAlreadyExists"
                    (click)="OnClickNavigateToTaxInvoice(this.form.get('ProformaInvoiceID')?.value || null)">
                    <span>Print Performa Invoice</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-xl-12 page-content">
        <div class="col-xl-12 page-content-scrollable">
            <form class="create-form" [formGroup]="form" (ngSubmit)="OnSubmit()" autocomplete="off">
                <div class="col-xl-12 card m-auto mb-2">
                    <div class="card-body">
                        <div class="horizontal-form">
                            <div class="row">
                                <div class="proforma-fields-group proforma-fields-group--pre">
                                    <div class="col-xl-2 form-group px-2">
                                        <z-inputtext [group]="form" [control]="'ProformaInvoiceNo'"
                                            [label]="formConfig.ProformaInvoiceNo.label"
                                            [validationMessage]="formConfig.ProformaInvoiceNo.error"></z-inputtext>
                                    </div>
                                    <div class="col-xl-2 form-group px-2">
                                        <z-select [group]="form" [control]="'BasedOn'"
                                            [label]="formConfig.BasedOn.label" [optionLabel]="'Text'"
                                            [optionValue]="'iValue'" [options]="basedOnList" [readonly]="isEditMode"
                                            (onChange)="OnBasedOnChange()" [showClear]="false"></z-select>
                                    </div>
                                    <div class="col-xl-6 form-group px-2"></div>
                                    <div class="col-xl-2 form-group px-2">
                                        <z-datepicker [group]="form" [control]="'ProformaInvoiceDate'"
                                            [label]="formConfig.ProformaInvoiceDate.label"
                                            [validationMessage]="formConfig.ProformaInvoiceDate.error"></z-datepicker>
                                    </div>
                                    <div class="col-xl-2 form-group px-2" *ngIf="isBasedOnExportOrder">
                                        <z-autocomplete [controlDef]="exportOrderAutoCompleteDef"
                                            [allowEmptySearch]="true" (onSearch)="LoadExportOrder($event)"
                                            [isClearable]="!isEditMode" (onSelect)="OnSelect_ExportOrder($event)"
                                            (onClear)="OnClear_ExportOrder()"></z-autocomplete>
                                    </div>
                                    <div class="col-xl-3 form-group px-2 simple-field proforma-customer-field">
                                        <label class="simple-label">{{formConfig.CustomerID.label}}:</label>
                                        <div class="simple-control"
                                            [ngClass]="{ 'has-action': form.get('BasedOn')?.value == 2 && !isEditMode }">
                                            <z-autocomplete class="customer-autocomplete"
                                                [controlDef]="companyMasterAutoCompleteDef"
                                                [readonly]="form.get('BasedOn')?.value == 1"
                                                [isClearable]="form.get('BasedOn')?.value == 2"
                                                (onSearch)="LoadCustomer($event)" (onSelect)="OnSelect_Customer($event)"
                                                (onClear)="OnClear_Customer()">
                                            </z-autocomplete>
                                            <button *ngIf="form.get('BasedOn')?.value == 2 && !isEditMode" type="button"
                                                class="simple-action-btn" title="Add New Company"
                                                (click)="HandleComponentLoad('VendorCreateComponent')">
                                                <i class="pi pi-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-xl-{{isBasedOnExportOrder ? 3 : 5}}"></div>
                                    <div class="col-xl-2 form-group px-2">
                                        <z-datepicker [group]="form" [control]="'ReferenceDate'"
                                            [label]="formConfig.ReferenceDate.label"
                                            [validationMessage]="formConfig.ReferenceDate.error"
                                            [maxDate]="todayDate"></z-datepicker>
                                    </div>
                                    <div class="col-xl-2 form-group px-2">
                                        <z-inputtext [group]="form" [control]="'ReferenceNo'"
                                            [label]="formConfig.ReferenceNo.label"
                                            [validationMessage]="formConfig.ReferenceNo.error"></z-inputtext>
                                    </div>
                                    <div class="col-xl-12 form-group px-2"
                                        *ngIf="form.get('CustomerID')?.value !== null">
                                        <z-span [text]="selectedCustomerAddress"></z-span>
                                    </div>

                                    <h6 class="form-group px-2">Exchange Rate Details</h6>
                                    <div class="col-xl-3 form-group px-2 simple-field proforma-fc-field">
                                        <label class="simple-label">{{formConfig.FCCurrencyID.label}}:</label>
                                        <div class="simple-control has-action">
                                            <z-select [group]="form" [control]="'FCCurrencyID'" [label]="''"
                                                [optionLabel]="'CurrencyName'" [optionValue]="'CurrencyID'"
                                                [readonly]="isBasedOnExportOrder" [options]="currencyList"
                                                (onChange)="OnCurrencyChange()"></z-select>
                                            <button type="button"
                                                class="simple-action-btn" title="Add New Currency"
                                                (click)="HandleComponentLoad('CurrencyCreateComponent')">
                                                <i class="pi pi-plus" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class=" col-xl-5"></div>
                                    <div class="col-xl-2 form-group px-2">
                                        <z-datepicker [group]="form" [control]="'ExchangeRateDate'"
                                            [maxDate]="todayDate" [label]="formConfig.ExchangeRateDate.label"
                                            [readonly]="isBasedOnExportOrder"></z-datepicker>
                                    </div>
                                    <div class="col-xl-2 form-group px-2">
                                        <z-inputnumber [group]="form" [control]="'ExchangeRateToBC'"
                                            [label]="formConfig.ExchangeRateToBC.label"
                                            (onChange)="ProductCalculation()" [maxFractionDigits]=8></z-inputnumber>
                                    </div>

                                    <div class="col-md-2 form-group px-2">
                                        <z-inputnumber [group]="form" [control]="'InsuranceAmountFC'"
                                            [label]="formConfig.InsuranceAmountFC.label"
                                            [readonly]="isBasedOnExportOrder"></z-inputnumber>
                                    </div>
                                    <div class="col-xl-6"></div>
                                    <div class="col-md-2 form-group px-2">
                                        <z-inputnumber [group]="form" [control]="'FreightChargeFC'"
                                            [label]="formConfig.FreightChargeFC.label" [readonly]="isBasedOnExportOrder"
                                            (onChange)="ProductCalculation()"></z-inputnumber>
                                    </div>
                                    <div class="col-md-2 form-group px-2">
                                        <z-inputnumber [group]="form" [control]="'BankChargesFC'"
                                            [label]="formConfig.BankChargesFC.label" [readonly]="isBasedOnExportOrder"
                                            (onChange)="ProductCalculation()"></z-inputnumber>
                                    </div>
                                    <div class="col-xl-6"></div>
                                </div>
                                <div class="simple-field simple-field-table">
                                    <div class="simple-control">
                                        <z-table [tableDef]="tableDef">
                                        </z-table>
                                    </div>
                                </div>
                                <div class="table-add-row" *ngIf="!isBasedOnExportOrder">
                                    <button type="button" class="simple-btn" (click)="AddProductRow()">
                                        <i class="pi pi-plus" aria-hidden="true"></i>
                                        <span>Add line</span>
                                    </button>
                                </div>
                                <!-- Payment & Shipment -->
                                <div class="proforma-fields-group proforma-fields-group--post">
                                    <div class="col-xl-2 form-group px-2">
                                        <z-select [group]="form" [control]="'PaymentTermID'"
                                            [label]="formConfig.PaymentTermID.label" [options]="paymentTermList"
                                            [optionLabel]="'PaymentTermName'"
                                            [readonly]="isBasedOnExportOrder && this.form.get('PaymentTermID')?.value != null"
                                            [optionValue]="'PaymentTermID'"></z-select>
                                    </div>
                                    <div class="col-xl-2 form-group px-2 simple-field proforma-roundoff-field">
                                        <label class="simple-label"></label>
                                        <div class="simple-control checkbox-control proforma-roundoff-control">
                                            <z-checkbox [group]="form" [control]="'IsRoundOff'"
                                                [label]="formConfig.IsRoundOff.label">
                                            </z-checkbox>
                                        </div>
                                    </div>
                                    <!-- Shipment -->
                                    <h6 class="form-group px-2">Shipment</h6>
                                    <div class="col-xl-2 form-group px-2">
                                        <z-select [group]="form" [control]="'ShipmentModeID'"
                                            [label]="formConfig.ShipmentModeID.label" [readonly]="isBasedOnExportOrder"
                                            [options]=" shipmentModeList" [optionLabel]="'Text'"
                                            [optionValue]="'iValue'" (onChange)="onChangeShipmentMode()"></z-select>
                                    </div>
                                    <div class="proforma-port-stack">
                                        <div class="col-xl-3 form-group px-2 simple-field proforma-port-field">
                                            <label class="simple-label">Loading Port:</label>
                                            <div class="simple-control has-action">
                                                <z-autocomplete class="customer-autocomplete"
                                                    [controlDef]="loadingPortAutoCompleteDef"
                                                    (onSearch)="LoadLoadingPort($event)"
                                                    (onSelect)="OnLoadingPortSelect($event)"
                                                    (onClear)="OnClear_LoadingPort()"
                                                    [readonly]="isBasedOnExportOrder"></z-autocomplete>
                                                <button type="button" class="simple-action-btn" title="Add New Port"
                                                    (click)="HandleComponentLoad('PortCreateComponent')">
                                                    <i class="pi pi-plus" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-xl-3 form-group px-2 simple-field proforma-port-field">
                                            <label class="simple-label">Discharge Port:</label>
                                            <div class="simple-control has-action">
                                                <z-autocomplete class="customer-autocomplete"
                                                    [controlDef]="dischargePortAutoCompleteDef"
                                                    (onSearch)="LoadDischargePort($event)"
                                                    (onSelect)="OnDischargePortSelect($event)"
                                                    (onClear)="OnClear_DischargePort()"
                                                    [readonly]="isBasedOnExportOrder"></z-autocomplete>
                                                <button type="button" class="simple-action-btn" title="Add New Port"
                                                    (click)="HandleComponentLoad('PortCreateComponent')">
                                                    <i class="pi pi-plus" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 form-group px-2">
                                        <z-inputtext [group]="form" [control]="'FinalDestination'"
                                            [label]="formConfig.FinalDestination.label"
                                            [validationMessage]="formConfig.FinalDestination.error"
                                            [readonly]="isBasedOnExportOrder"></z-inputtext>
                                    </div>
                                    <!-- Narration -->
                                    <div class="col-md-6 form-group px-2">
                                        <z-textarea [group]="form" [control]="'Narration'"
                                            [label]="formConfig.Narration.label" [autoResize]="true"
                                            [rows]="1"></z-textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Amount Summary -->
                        <div class="amount-summary-wrap">
                            <div class="amount-summary-card">
                                <div class="amount-summary-row">
                                    <span>Subtotal Amount:</span>
                                    <z-inputnumber [group]="form" [control]="'SubtotalAmountFC'" [label]="''"
                                        [readonly]="true"></z-inputnumber>
                                </div>
                                <div class="amount-summary-row">
                                    <span>Tax Amount:</span>
                                    <z-inputnumber [group]="form" [control]="'TaxAmountFC'" [label]="''"
                                        [readonly]="true"></z-inputnumber>
                                </div>
                                <div class="amount-summary-row">
                                    <span>Net Amount:</span>
                                    <z-inputnumber [group]="form" [control]="'NetAmountFC'" [label]="''"
                                        [readonly]="true"></z-inputnumber>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Export Order Item Table Related Templates Start-->
<ng-template #serialNoColTemplate let-row let-i="index">
    {{i + 1}}
</ng-template>

<ng-template #productAutoCompleteColTemplate let-row let-rowIndex="index">
    <div class="action-input-group">
        <div class="col-11">
            <z-autocomplete [controlDef]="productAutoCompleteDef[rowIndex]"
                (onSearch)="OnSearch_Product($event, rowIndex)" (onSelect)="OnSelect_Product($event, rowIndex)"
                (onClear)="OnClear_Product(rowIndex)" [isClearable]="!isBasedOnExportOrder">
            </z-autocomplete>
        </div>
        <button type="button" class="inline-add-btn" title="Add New Product"
            *ngIf="rowIndex === this.productListArray.length - 1 && !isBasedOnExportOrder"
            (click)="HandleComponentLoad('ProductCreateComponent')">
            <i class="pi pi-plus" aria-hidden="true"></i>
        </button>
    </div>
</ng-template>

<ng-template #salesQtyColTemplate let-row let-i="index">
    <z-inputnumber [group]="productListArray.at(i)" [control]="'SalesQty'"
        [label]="formConfig.ProductList.items.SalesQty.label"
        [validationMessage]="formConfig.ProductList.items.SalesQty.error?.[i]" [readonly]="isBasedOnExportOrder"
        (onChange)="ProductCalculation()">
    </z-inputnumber>
</ng-template>

<ng-template #ratePerUnitFCColTemplate let-row let-i="index">
    <div class="input-group">
        <z-inputnumber [group]="productListArray.at(i)" [control]="'RatePerUnitFC'"
            [label]="formConfig.ProductList.items.RatePerUnitFC.label"
            [validationMessage]="formConfig.ProductList.items.RatePerUnitFC.error?.[i]" [styleClass]="'text-end'"
            [readonly]="isBasedOnExportOrder" (onChange)="ProductCalculation()"></z-inputnumber>
    </div>
</ng-template>

<ng-template #taxRateColTemplate let-row let-i="index">
    <z-select [group]="productListArray.at(i)" [control]="'SalesTaxRate'"
        [label]="formConfig.ProductList.items.SalesTaxRate.label"
        [validationMessage]="formConfig.ProductList.items.SalesTaxRate.error?.[i]" [options]="taxSlabList"
        [optionLabel]="'TaxSlabName'" [optionValue]="'TaxRate'" [readonly]="isBasedOnExportOrder"
        (onChange)="ProductCalculation();">
    </z-select>
</ng-template>

<ng-template #taxableAmountFCColTemplate let-row let-i="index">
    <div class="input-group">
        <z-inputnumber [group]="productListArray.at(i)" [control]="'TaxableAmountFC'"
            [label]="formConfig.ProductList.items.TaxableAmountFC.label"
            [validationMessage]="formConfig.ProductList.items.TaxableAmountFC.error?.[i]" [styleClass]="'text-end'"
            [readonly]="true"></z-inputnumber>
    </div>
</ng-template>

<ng-template #taxAmountFCColTemplate let-row let-i="index">
    <div class="input-group">
        <z-inputnumber [group]="productListArray.at(i)" [control]="'TaxAmountFC'"
            [label]="formConfig.ProductList.items.TaxAmountFC.label"
            [validationMessage]="formConfig.ProductList.items.TaxAmountFC.error?.[i]" [styleClass]="'text-end'"
            [readonly]="true"></z-inputnumber>
    </div>
</ng-template>

<ng-template #actionColTemplate let-row let-rowIndex="index">
    <div class="col-12 tables-action-col">
        <button *ngIf="!isBasedOnExportOrder" type="button" class="simple-btn simple-btn-icon" title="Remove line"
            (click)="OnClickRemoveProductItem(rowIndex)">
            <i class="pi pi-minus" aria-hidden="true"></i>
        </button>
    </div>
</ng-template>

<ng-template #container></ng-template>