<ng-template #pageHeaderActionTemplate>
  <button class="btn btn-primary btn-sm" (click)="onClickPageHeaderAddButton()"> <i class="bi bi-arrow-left-circle" style="vertical-align: bottom; margin-right: 5px;"></i>Back </button>
</ng-template>
<form [formGroup]="form" (ngSubmit)="onSubmit()" (click)="calculateInstalment()" autocomplete="off">
  <div class="row">
    <div class="col-xl-2"></div>
    <div class="col-xl-8 card card-body">
      <div class="row">
        <div class="input-group">
          <div class="col-xl-8"></div>
          <div class="col-xl-2 form-group">
            <z-inputtext [group]="form" [control]="'EmployeeLoanNo'" [label]="formConfig.EmployeeLoanNo.label"></z-inputtext>
          </div>
          <div class="col-xl-2 form-group ">
            <z-datepicker [group]="form" [control]="'dtEmployeeLoanDate'" [label]="formConfig.dtEmployeeLoanDate.label"></z-datepicker>
          </div>
        </div>
      </div>
      <div class=" col-xl-12">
        <div class="p-fluid">
          <div class="row">
            <div class="input-group">
              <div class="col-xl-9  form-group">
                <p-autoComplete #autoComplete formControlName="EmployeeName" [suggestions]="filteredItems" (completeMethod)="filterEmployee($event)" optionLabel="EmployeeName"
                                [lazy]="true" (onSelect)="onItemSelect($event)" placeholder="Type To Search Employee" (dblclick)="dbClick()">

                  <ng-template pTemplate="header">
                    <table class="autocomplete-table">
                      <thead>
                        <tr>
                          <th style="width: 12px; text-align:left"></th>
                          <th style="width: 100px; text-align:left">Code</th>
                          <th style="width: 150px; text-align:left">Employee Name</th>
                          <th style="width: 150px; text-align:left">Mobile No</th>
                          <th style="width: 150px; text-align:left">Designation</th>
                        </tr>
                      </thead>
                    </table>
                  </ng-template>
                  <ng-template let-item pTemplate="item">
                    <table class="autocomplete-table">
                      <tbody>
                        <tr>
                          <td style="width: 100px; text-align:left; font-weight: bold; display:none">{{ item.EmployeeID }}</td>
                          <td style="width: 100px; text-align:left; font-weight: bold;">{{ item.EmployeeCode }}</td>
                          <td style="width: 150px; text-align:left">{{ item.EmployeeName }}</td>
                          <td style="width: 150px; text-align:left">{{ item.MobileNo }}</td>
                          <td style="width: 150px; text-align:left">{{ item.DesignationName }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </ng-template>
                </p-autoComplete>
              </div>
              <div class="col-xl-3 form-group">
                <z-select [group]="form" [control]="'SearchBy'" [label]="formConfig.SearchBy.label" [options]="SearchBylist" [optionLabel]="'Text'" [optionValue]="'Value'">
                </z-select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-xl-12">
        <div class="row">
          <div class="col-xl-6">
            <div class="col-xl-12 form-group">
              <z-inputtext [group]="form" [control]="'MobileNo'" [label]="formConfig.MobileNo.label"></z-inputtext>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="col-xl-12 form-group">
              <z-inputtext [group]="form" [control]="'EmployeeTypeName'" [label]="formConfig.EmployeeTypeName.label"></z-inputtext>
            </div>
          </div>
        </div>
      </div>
      <div class=" col-xl-12">
        <div class="row">
          <div class="col-xl-6">
            <div class="col-xl-12 form-group">
              <z-inputtext [group]="form" [control]="'DepartmentName'" [label]="formConfig.DepartmentName.label"></z-inputtext>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="col-xl-12 form-group">
              <z-inputtext [group]="form" [control]="'DesignationName'" [label]="formConfig.DesignationName.label"></z-inputtext>
            </div>
          </div>
        </div>
      </div>
      <div>
        <h5 class="text-primary text-center  p-2">Loan Details</h5>
      </div>
      <div class="col-xl-12">
        <div class="row">
          <div class="col-xl-9">
            <div class="col-xl-12 form-group">
              <z-select [group]="form" [control]="'LoanTypeID'" [label]="formConfig.LoanTypeID.label" [validationMessage]="formConfig.LoanTypeID.error"
                        (onChange)="onLoanChange()"
                        [options]="LoanTypeList" [optionLabel]="'LoanTypeName'" [optionValue]="'LoanTypeID'">
              </z-select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="row">
          <div class="col-xl-6">
            <div class="col-xl-12 form-group">
              <z-inputnumber [group]="form" [control]="'LoanAmount'" [label]="formConfig.LoanAmount.label" [validationMessage]="formConfig.LoanAmount.error"></z-inputnumber>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="col-xl-12 form-group">
              <z-inputnumber [group]="form" [control]="'LoanPeriod'" [label]="formConfig.LoanPeriod.label" [validationMessage]="formConfig.LoanPeriod.error"></z-inputnumber>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="row">
          <div class="col-xl-6">
            <div class="col-xl-12 form-group">
              <z-inputnumber [group]="form" [control]="'InterestRate'" [label]="formConfig.InterestRate.label"></z-inputnumber>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="col-xl-12 form-group">
              <z-inputnumber [group]="form" [control]="'InterestAmount'" [label]="formConfig.InterestAmount.label"></z-inputnumber>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="row">
          <div class="col-xl-6">
            <div class="col-xl-12 form-group">
              <z-inputnumber [group]="form" [control]="'InstalmentAmount'" [label]="formConfig.InstalmentAmount.label"></z-inputnumber>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="col-xl-12 form-group">
              <z-datepicker [group]="form" [control]="'InstalmentStartDate'" [label]="formConfig.InstalmentStartDate.label" [validationMessage]="formConfig.InstalmentStartDate.error"></z-datepicker>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="row">
          <div class="col-xl-6">
            <div class="col-xl-12 form-group">
              <z-select [group]="form" [control]="'RepaymentMode'" [label]="formConfig.RepaymentMode.label"
                        [options]="PaymentModeList" [optionLabel]="'Text'" [optionValue]="'Value'">
              </z-select>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="col-xl-12 form-group">
              <z-select [group]="form" [control]="'StatusID'" [label]="formConfig.StatusID.label" [validationMessage]="formConfig.StatusID.error"
                        [options]="StatusList" [optionLabel]="'Text'" [optionValue]="'Value'">
              </z-select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-12 form-group">
        <z-inputtext [group]="form" [control]="'Narration'" [label]="formConfig.Narration.label"></z-inputtext>
      </div>
      <!--</p-fieldset>-->
    </div>
    <div class="col-xl-2"></div>
  </div>
</form>
<div class="row">
  <div class="col-xl-3"></div>
  <div class="col-xl-6 d-grid mt-4 d-flex align-items-center">
    <div class="col-md-6">
      <button type="submit" class="btn btn-md btn-primary w-100"
              (click)="onSubmit(); calculateInstalment()" [disabled]="isUpdateDisabled" autofocus>
        {{ isEditMode ? 'Update' : 'Save' }}
      </button>
    </div>
    <div class="col-md-6">
      <button type="reset" class="btn btn-md btn-light w-100" (click)="onReset()">Reset</button>
    </div>
  </div>
  <div class="col-xl-3"></div>
</div>

