<ng-template #pageHeaderActionTemplate>
  <button class="btn btn-primary btn-sm" (click)="onClickPageHeaderAddButton()"> <i class="bi bi-arrow-left-circle" style="vertical-align: bottom; margin-right: 5px;"></i>Back</button>
</ng-template>


<div class="stepper-horizontal">
  <form class="form-MainPage" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
    <p-stepper [linear]="true">
      <p-stepperPanel header="Personal Details">
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
          <div class="flex flex-column h-12rem">
            <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
              <!-- Content I -->
              <div class="col-xl-12">
                <div class="row">
                  <div class="col-xl-5"></div>
                  <div class="col-xl-2">
                    <div class="col-xl-12 form-group">
                      <z-inputtext [group]="form" [control]="'EmployeeCode'" [label]="formConfig.EmployeeCode.label"></z-inputtext>
                    </div>
                  </div>
                  <div class="col-xl-5"></div>
                </div>
              </div>
              <!-- Personal Details -->
              <p-fieldset legend="Personal Details" class="mb-6">
                <div class="col-xl-12">
                  <div class="row">
                    <div class="col-xl-2">
                      <div class="col-xl-12 form-group">
                        <z-select [group]="form" [control]="'EmployeePrefix'" [label]="formConfig.EmployeePrefix.label" [validationMessage]="formConfig.EmployeePrefix.error"
                                  [options]="PrefixList" [optionLabel]="'PrefixName'" [optionValue]="'PrefixName'">
                        </z-select>
                      </div>
                    </div>
                    <div class="col-xl-6">
                      <div class="col-xl-12 form-group">
                        <z-inputtext [group]="form" control="EmployeeName" [label]="formConfig.EmployeeName.label" [validationMessage]="formConfig.EmployeeName.error"></z-inputtext>
                      </div>
                    </div>
                    <div class="col-xl-2">
                      <div class="col-xl-12 form-group">
                        <z-select [group]="form" [control]="'Gender'" [label]="formConfig.Gender.label" [validationMessage]="formConfig.Gender.error"
                                  [options]="GenderList" [optionLabel]="'Text'" [optionValue]="'Value'">
                        </z-select>
                      </div>
                    </div>
                    <div class="col-xl-2">
                      <div class="col-xl-12 form-group">
                        <z-select [group]="form" [control]="'BloodGroup'" [label]="formConfig.BloodGroup.label" [validationMessage]="formConfig.BloodGroup.error"
                                  [options]="BloodGroupList" [optionLabel]="'Text'" [optionValue]="'Text'">
                        </z-select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12">
                  <div class="row">
                    <div class="col-xl-4">
                      <div class="col-xl-12 form-group">
                        <z-inputtext [group]="form" control="FatherSpouse" [label]="formConfig.FatherSpouse.label"></z-inputtext>
                      </div>
                    </div>
                    <div class="col-xl-4">
                      <div class="col-xl-12 form-group">
                        <z-datepicker [group]="form" control="DOB" [label]="formConfig.DOB.label" [validationMessage]="formConfig.DOB.error"></z-datepicker>
                      </div>
                    </div>
                    <div class="col-xl-4">
                      <div class="col-xl-12 form-group">
                        <z-select [group]="form" [control]="'MaritalStatus'" [label]="formConfig.MaritalStatus.label" [validationMessage]="formConfig.MaritalStatus.error"
                                  [options]="MaritalStatusList" [optionLabel]="'Text'" [optionValue]="'Value'">
                        </z-select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12">
                  <div class="row">
                    <div class="col-xl-4">
                      <div class="col-xl-12 form-group">
                        <z-inputtext [group]="form" control="MobileNo" [label]="formConfig.MobileNo.label" [validationMessage]="formConfig.MobileNo.error"></z-inputtext>
                      </div>
                    </div>
                    <div class="col-xl-4">
                      <div class="col-xl-12 form-group">
                        <z-inputtext [group]="form" control="AlternateMobileNo" [label]="formConfig.AlternateMobileNo.label" [validationMessage]="formConfig.AlternateMobileNo.error"></z-inputtext>
                      </div>
                    </div>
                    <div class="col-xl-4">
                      <div class="col-xl-12 form-group">
                        <z-inputtext [group]="form" control="EmailID" label="Email ID" [label]="formConfig.EmailID.label" [validationMessage]="formConfig.EmailID.error"></z-inputtext>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12">
                  <div class="row">
                    <div class="col-xl-4">
                      <div class="col-xl-12 form-group">
                        <z-inputtext [group]="form" control="EmployeeAadhaarNo" [label]="formConfig.EmployeeAadhaarNo.label" [validationMessage]="formConfig.EmployeeAadhaarNo.error"></z-inputtext>
                      </div>
                    </div>
                    <div class="col-xl-4">
                      <div class="col-xl-12 form-group">
                        <z-inputtext [group]="form" control="EmployeePANNo" [label]="formConfig.EmployeePANNo.label" [validationMessage]="formConfig.EmployeePANNo.error"></z-inputtext>
                      </div>
                    </div>
                  </div>
                </div>
              </p-fieldset>
              <br />
              <!--Current Address-->
              <p-fieldset legend="Current Address" class="mb-6">
                <div class="col-xl-12">
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="col-xl-12 form-group">
                        <z-textarea [group]="form" control="EmployeeAddress" [label]="formConfig.EmployeeAddress.label" [validationMessage]="formConfig.EmployeeAddress.error"></z-textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12">
                  <div class="row">
                    <div class="col-xl-3">
                      <div class="col-xl-12 form-group">
                        <z-inputtext [group]="form" control="EmployeeCity" [label]="formConfig.EmployeeCity.label" [validationMessage]="formConfig.EmployeeCity.error"></z-inputtext>
                      </div>
                    </div>
                    <div class="col-xl-3">
                      <div class="col-xl-12 form-group">
                        <z-select [group]="form" [control]="'EmployeeCountryID'" [label]="formConfig.EmployeeCountryID.label" [validationMessage]="formConfig.EmployeeCountryID.error"
                                  [options]="CountryList" [optionLabel]="'CountryName'" [optionValue]="'CountryID'" (onChange)="onCountryChange($event)">
                        </z-select>
                      </div>
                    </div>
                    <div class="col-xl-3">
                      <div class="col-xl-12 form-group">
                        <z-select [group]="form" [control]="'EmployeeStateID'" [label]="formConfig.EmployeeStateID.label" [validationMessage]="formConfig.EmployeeStateID.error"
                                  [options]="StateList" [optionLabel]="'StateName'" [optionValue]="'StateID'">
                        </z-select>
                      </div>
                    </div>
                    <div class="col-xl-3">
                      <div class="col-xl-12 form-group">
                        <z-inputtext [group]="form" control="EmployeePinCode" [label]="formConfig.EmployeePinCode.label" [validationMessage]="formConfig.EmployeePinCode.error"></z-inputtext>
                      </div>
                    </div>
                  </div>
                </div>
              </p-fieldset>

              <!--Permanent Address-->
              <br />
              <p-fieldset legend="Permanent Address" class="mb-6">
                <div class="col-xl-12">
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="col-xl-12 form-group">
                        <z-checkbox [group]="form" [control]="'DifferentPermanentAddress'" [label]="formConfig.DifferentPermanentAddress.label"></z-checkbox>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12" *ngIf="form.get('DifferentPermanentAddress')?.value">
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="col-xl-12 form-group">
                        <z-textarea [group]="form" control="PermanentAddress" [label]="formConfig.PermanentAddress.label" [validationMessage]="formConfig.PermanentAddress.error"></z-textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12" *ngIf="form.get('DifferentPermanentAddress')?.value">
                  <div class="row">
                    <div class="col-xl-3">
                      <div class="col-xl-12 form-group">
                        <z-inputtext [group]="form" control="PermanentCity" [label]="formConfig.PermanentCity.label" [validationMessage]="formConfig.PermanentCity.error"></z-inputtext>
                      </div>
                    </div>
                    <div class="col-xl-3">
                      <div class="col-xl-12 form-group">
                        <z-select [group]="form" [control]="'PermanentCountryID'" [label]="formConfig.PermanentCountryID.label" [validationMessage]="formConfig.PermanentCountryID.error"
                                  [options]="CountryPermanentList" [optionLabel]="'CountryName'" [optionValue]="'CountryID'" (onChange)="onCountryPermanentChange($event)">
                        </z-select>
                      </div>
                    </div>
                    <div class="col-xl-3">
                      <div class="col-xl-12 form-group">
                        <z-select [group]="form" [control]="'PermanentStateID'" [label]="formConfig.PermanentStateID.label" [validationMessage]="formConfig.PermanentStateID.error"
                                  [options]="StatePermanentList" [optionLabel]="'StateName'" [optionValue]="'StateID'">
                        </z-select>
                      </div>
                    </div>
                    <div class="col-xl-3">
                      <div class="col-xl-12 form-group">
                        <z-inputtext [group]="form" control="PermanentPinCode" [label]="formConfig.PermanentPinCode.label" [validationMessage]="formConfig.PermanentPinCode.error"></z-inputtext>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12">
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="col-xl-12 form-group">
                        <z-checkbox [group]="form" [control]="'EmergencyContactDetails'" [label]="formConfig.EmergencyContactDetails.label"></z-checkbox>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12" *ngIf="form.get('EmergencyContactDetails')?.value">
                  <div class="row">
                    <div class="col-xl-4">
                      <div class="col-xl-12 form-group">
                        <z-inputtext [group]="form" control="EmergencyContactName" [label]="formConfig.EmergencyContactName.label" [validationMessage]="formConfig.EmergencyContactName.error"></z-inputtext>
                      </div>
                    </div>
                    <div class="col-xl-4">
                      <div class="col-xl-12 form-group">
                        <z-inputtext [group]="form" control="EmergencyContactMobileNo" [label]="formConfig.EmergencyContactMobileNo.label" [validationMessage]="formConfig.EmergencyContactMobileNo.error"></z-inputtext>
                      </div>
                    </div>
                    <div class="col-xl-4">
                      <div class="col-xl-12 form-group">
                        <z-select [group]="form" [control]="'EmergencyContactRelationship'" [label]="formConfig.EmergencyContactRelationship.label" [validationMessage]="formConfig.EmergencyContactRelationship.error"
                                  [options]="RelationshipList" [optionLabel]="'RelationshipName'" [optionValue]="'RelationshipID'">
                        </z-select>
                      </div>
                    </div>
                  </div>
                </div>
              </p-fieldset>
            </div>
          </div>
          <br />
          <!--button next-->
          <div class="row justify-content-between">
            <div class="d-flex col-xl-4">
            </div>
            <div class="d-flex col-xl-4 justify-content-end">
              <div class="col-xl-3 px-1">
                <button class="btn btn-md btn-primary w-100" (click)="nextStep(nextCallback)" autofocus>
                  Next <i class="pi pi-arrow-right"></i>
                </button>
              </div>
            </div>
          </div>
        </ng-template>
      </p-stepperPanel>

      <p-stepperPanel header="Official Details">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
          <div class="flex flex-column h-12rem">
            <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
              <!--Content II-->
              <!--Official Details-->
              <p-fieldset legend="Official Details" class="mb-6">
                <div class="col-xl-12">
                  <div class="row">
                    <div class="col-xl-4">
                      <div class="col-xl-12 form-group">
                        <z-select [group]="form" [control]="'EmployeeCategory'" [label]="formConfig.EmployeeCategory.label" [validationMessage]="formConfig.EmployeeCategory.error"
                                  [options]="CategoryList" [optionLabel]="'Text'" [optionValue]="'Value'">
                        </z-select>
                      </div>
                    </div>
                    <div class="col-xl-4">
                      <div class="col-xl-12 form-group">
                        <z-select [group]="form" [control]="'EmployeeTypeID'" [label]="formConfig.EmployeeTypeID.label" [validationMessage]="formConfig.EmployeeTypeID.error"
                                  [options]="EmployeeTypeList" [optionLabel]="'EmployeeTypeName'" [optionValue]="'EmployeeTypeID'">
                        </z-select>
                      </div>
                    </div>
                    <div class="col-xl-4">
                      <div class="col-xl-12 form-group">
                        <z-datepicker [group]="form" control="DOJ" [label]="formConfig.DOJ.label" [validationMessage]="formConfig.DOJ.error"></z-datepicker>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12">
                  <div class="row">
                    <div class="col-xl-4">
                      <div class="col-xl-12 form-group">
                        <z-select [group]="form" [control]="'DepartmentID'" [label]="formConfig.DepartmentID.label" [validationMessage]="formConfig.DepartmentID.error"
                                  [options]="DepartmentList" [optionLabel]="'DepartmentName'" [optionValue]="'DepartmentID'">
                        </z-select>
                      </div>
                    </div>
                    <div class="col-xl-4">
                      <div class="col-xl-12 form-group">
                        <z-select [group]="form" [control]="'DesignationID'" [label]="formConfig.DesignationID.label" [validationMessage]="formConfig.DesignationID.error"
                                  [options]="DesignationList" [optionLabel]="'DesignationName'" [optionValue]="'DesignationID'">
                        </z-select>
                      </div>
                    </div>
                    <div class="col-xl-4">
                      <div class="col-xl-12 form-group">
                        <z-select [group]="form" [control]="'ReportingTo'" [label]="formConfig.ReportingTo.label" [validationMessage]="formConfig.ReportingTo.error"
                                  [options]="ReportingToList" [optionLabel]="'EmployeeName'" [optionValue]="'EmployeeID'">
                        </z-select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12">
                  <div class="row">
                    <div class="col-xl-4">
                      <div class="col-xl-12 form-group">
                        <z-checkbox [group]="form" [control]="'CanApproveEmployeeRequest'" [label]="formConfig.CanApproveEmployeeRequest.label"></z-checkbox>
                      </div>
                    </div>
                    <div class="col-xl-4">
                      <div class="col-xl-12 form-group">
                        <z-checkbox [group]="form" [control]="'CanApproveBillingDiscount'" [label]="formConfig.CanApproveBillingDiscount.label"></z-checkbox>
                      </div>
                    </div>
                    <div class="col-xl-4">
                      <div class="col-xl-12 form-group">
                        <z-checkbox [group]="form" [control]="'DisablePayroll'" [label]="formConfig.DisablePayroll.label"></z-checkbox>
                      </div>
                    </div>
                  </div>
                </div>
              </p-fieldset>
              <br />
              <!--Consultant Details-->
              <div class="col-xl-12 mb-4" *ngIf="[3].includes(form.get('EmployeeCategory')?.value)">
                <p-fieldset legend="Consultant Details" class="mb-6">
                  <div class="col-xl-12" *ngIf="[3].includes(form.get('EmployeeCategory')?.value)">
                    <div class="row">
                      <div class="col-xl-4">
                        <div class="col-xl-12 form-group">
                          <z-inputtext [group]="form" control="SMCRegistrationNo" [label]="formConfig.SMCRegistrationNo.label" [validationMessage]="formConfig.DesignationID.error"></z-inputtext>
                        </div>
                      </div>
                      <div class="col-xl-2">
                        <div class="col-xl-12 form-group">
                          <z-checkbox [group]="form" [control]="'IsSurgeon'" [label]="formConfig.IsSurgeon.label"></z-checkbox>
                        </div>
                      </div>
                      <div class="col-xl-2">
                        <div class="col-xl-12 form-group">
                          <z-checkbox [group]="form" [control]="'IsAnaesthetist'" [label]="formConfig.IsAnaesthetist.label"></z-checkbox>
                        </div>
                      </div>
                      <div class="col-xl-2">
                        <div class="col-xl-12 form-group">
                          <z-checkbox [group]="form" [control]="'IsSuperSpecialist'" [label]="formConfig.IsSuperSpecialist.label"></z-checkbox>
                        </div>
                      </div>
                      <div class="col-xl-2">
                        <div class="col-xl-12 form-group">
                          <z-checkbox [group]="form" [control]="'IsVisitingConsultant'" [label]="formConfig.IsVisitingConsultant.label"></z-checkbox>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-12" *ngIf="[3].includes(form.get('EmployeeCategory')?.value)">
                    <div class="row">
                      <div class="col-xl-4" *ngIf="!isEditMode">
                        <div class="col-xl-12 form-group">
                          <div class="input-group">
                            <span class="input-group-text" id="addon-wrapping"><i class="pi pi-indian-rupee"></i></span>
                            <z-inputnumber class='flex-grow-1' [group]="form" control="ConsultationCharge" [label]="formConfig.ConsultationCharge.label"></z-inputnumber>
                            <span class="input-group-text" id="addon-wrapping">.00</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-4" *ngIf="isEditMode">
                      </div>
                      <div class="col-xl-2">
                        <div class="col-xl-12 form-group">
                          <z-checkbox [group]="form" [control]="'IsSignatory'" [label]="formConfig.IsSignatory.label"></z-checkbox>
                        </div>
                      </div>
                      <div class="col-xl-2">
                        <div class="col-xl-12 form-group">
                          <z-select [group]="form" [control]="'SignatoryArea'" [label]="formConfig.SignatoryArea.label" [validationMessage]="formConfig.SignatoryArea.error"
                                    [options]="SignatoryAreaList" [optionLabel]="'Text'" [optionValue]="'Value'">
                          </z-select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xl-12" *ngIf="['3'].includes(form.get('EmployeeCategory')?.value)">
                    <div class="row">
                    </div>
                  </div>
                </p-fieldset>
                <br />
                <!--Signature Image-->
                <!--start-->
                <p-fieldset legend="Consultant Signature Image" class="mb-6" *ngIf="isEditMode">
                  <div class="file-details">
                    <p-button [disabled]="!form.get('IsSignatory')?.value" (onClick)="showDialog()" label="View"></p-button>
                    <p-dialog header="Consultant Signature" [modal]="true" [(visible)]="visible" [style]="{ width: '35rem' }">
                      <div class="file-upload-container">
                        <form class="form-MainPage" [formGroup]="forms" (ngSubmit)="onUpload()" autocomplete="off">
                          <div class="card flex justify-content-center">
                            <div>
                              <img *ngIf="ImagerUrl; else fixedImage" [src]="ImagerUrl" width="100%" height="150" />
                              <ng-template #fixedImage>
                                <img [src]="img" width="100%" height="150" />
                              </ng-template>
                            </div>
                          </div>
                          <div class="col-xl-12 form-group">
                            <input type="file" (change)="onFileSelected($event)" formControlName="File" class="form-control" accept="image/*" />
                          </div>
                          <div class="col-sm-2">
                            <button type="submit" class="btn btn-md btn-primary w-100" autofocus>
                              Upload
                            </button>
                          </div>
                        </form>
                      </div>
                    </p-dialog>
                  </div>
                  <!-- end file -->
                </p-fieldset>
              </div>
            </div>
          </div>
          <!--button-->
          <div class="row justify-content-between">
            <div class="d-flex col-xl-4">
              <div class="col-xl-3 px-1">
                <button class="btn btn-md btn-primary w-100" (click)="prevStep(prevCallback)" autofocus>
                  <i class="pi pi-arrow-left"></i> Back
                </button>
              </div>
            </div>
            <div class="d-flex col-xl-4 justify-content-end">
              <div class="col-xl-3 px-1">
                <button class="btn btn-md btn-primary w-100" (click)="nextStep(nextCallback)" autofocus>
                  Next <i class="pi pi-arrow-right"></i>
                </button>
              </div>
            </div>
          </div>
        </ng-template>
      </p-stepperPanel>

      <p-stepperPanel header="Access Details">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
          <div class="flex flex-column h-12rem">
            <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
              <!--Content III-->
              <!--Access Details-->
              <p-fieldset legend="ERP Access" class="mb-6">
                <div class="col-xl-12">
                  <div class="row">
                    <div class="col-xl-4">
                      <div class="col-xl-12 form-group">
                        <div class="input-group">
                          <span class="input-group-text" id="addon-wrapping"><z-checkbox [group]="form" [control]="'CanAccessERP'" [label]="''"></z-checkbox></span>
                          <z-select class='flex-grow-1' [group]="form" [control]="'RoleID'" [label]="formConfig.RoleID.label" [validationMessage]="formConfig.RoleID.error"
                                    [options]="RoleList" [optionLabel]="'RoleName'" [optionValue]="'RoleID'">
                          </z-select>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-1">
                    </div>
                    <div class="col-xl-6" *ngIf="isEditMode">
                      <div class="col-xl-12 form-group">
                        <z-checkbox [group]="form" [control]="'CanAccessEmployeePortal'" [label]="'Can Access Employee Portal'"></z-checkbox>
                      </div>
                    </div>
                    <div class="col-xl-1" *ngIf="isEditMode">
                      <p-button label="OpenLog" (onClick)="showDialog()" />
                      <p-dialog header="Login Access Details" [modal]="true" [(visible)]="visible" [style]="{ width: '22rem' }" class="mb-7">
                        <br />
                        <div class="col-xl-12">
                          <div class="row">
                            <div class="col-xl-12">
                              <div class="col-xl-12 form-group">
                                <z-inputtext [group]="form" control="UserID" [label]="formConfig.UserID.label"></z-inputtext>
                              </div>
                            </div>
                            <div class="col-xl-12">
                              <div class="col-xl-12 form-group">
                                <p-floatLabel>
                                  <input pInputText id="Password" type="password" value="********" [disabled]="true" />
                                  <label for="EmployeeName">Password</label>
                                </p-floatLabel>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-xl-12">
                          <div class="row">
                            <div class="col-xl-12">
                              <p-button label="Reset" (onClick)="ResetPassword()"></p-button>
                            </div>
                          </div>
                        </div>
                      </p-dialog>
                    </div>
                  </div>
                </div>
              </p-fieldset>
            </div>
          </div>
          <br />
          <!--button-->
          <div class="row justify-content-between">
            <div class="d-flex col-xl-4">
              <div class="col-xl-3 px-1">
                <button class="btn btn-md btn-primary w-100" (click)="prevStep(prevCallback)" autofocus>
                  <i class="pi pi-arrow-left"></i> Back
                </button>
              </div>
            </div>
            <div class="d-flex col-xl-4 justify-content-end">
              <div class="col-xl-3 px-1">
                <button type="submit" class="btn btn-md btn-primary w-100" autofocus>
                  {{ isEditMode ? 'Update' : 'Save' }}
                </button>
              </div>
            </div>
          </div>
        </ng-template>
      </p-stepperPanel>
    </p-stepper>
  </form>
</div>


