<app-form-sidebar [isVisible]="isFormSidebarVisible" [styleClass]="'w-30rem uom-create-sidebar'">
  <div sidebarHeader>
    <h5 class="uom-create-title">{{ isEditMode ? 'Edit UOM' : 'Create UOM' }}</h5>
  </div>
  <div sidebarContent>
    <form class="uom-create-form" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="simple-form">
        <div class="simple-field">
          <label class="simple-label">{{ formConfig.UOMCode.label }}:</label>
          <div class="simple-control">
            <div class="simple-static">{{ form.get('UOMCode')?.value || 'NEW' }}</div>
          </div>
        </div>

        <div class="simple-field">
          <label class="simple-label">{{ formConfig.UOMName.label }}:</label>
          <div class="simple-control">
            <z-inputtext [group]="form" [control]="'UOMName'" [label]="''"
              [validationMessage]="formConfig.UOMName.error"></z-inputtext>
          </div>
        </div>

        <div class="simple-field">
          <label class="simple-label">{{ formConfig.ShortCode.label }}:</label>
          <div class="simple-control">
            <z-inputtext [group]="form" [control]="'ShortCode'" [label]="''"
              [validationMessage]="formConfig.ShortCode.error"></z-inputtext>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div sidebarFooter>
    <div class="uom-create-footer">
      <button type="button" class="simple-btn" (click)="closeSidebar()">Cancel</button>
      <button type="submit" class="simple-btn is-active" (click)="onSubmit()"
        [disabled]="isSubmitted || !activeStatus || form.invalid">
        {{ isEditMode ? 'Update' : 'Save' }}
      </button>
    </div>
  </div>
</app-form-sidebar>
