<p>
  
    <p-dropdown [options]="[
   { label: '10', value: 10 },
   { label: '20', value: 20 },
   { label: '100', value: 100 }
   ]">
    </p-dropdown>
  What is Lorem Ipsum?
  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

  Why do we use it?
  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


  Where does it come from?
  Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
</p>
<br />
<br />
<br />
<div class="row">
  <div class="col-1 p-2">
    <button class="btn btn-primary form-control" (click)="showToast()">Show Toast</button>
  </div>
  <div class="col-1 p-2">
    <button class="btn btn-primary form-control" (click)="showAlert()">Show Alert</button>
  </div>
  <div class="col-2 p-2">
    <button class="btn btn-primary form-control" (click)="showConfirmation()">Show Confirmation</button>
  </div>
  <div class="col-2 p-2">
    <button class="btn btn-primary form-control" (click)="showConfirmationWithInput()">Show Confirmation With Input</button>
  </div>
  <div class="col-2 p-2">
    <button class="btn btn-primary form-control" (click)="showConfirmationWithSelect()">Show Confirmation With Select</button>
  </div>
  <!--
    <div class="col-2 p-2">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" (click)="open(content)" data-bs-target="#exampleModal">Launch demo modal</button>
    </div> -->
</div>


<!--<div class="alert alert-success alert-dismissible fade show d-flex align-items-center my-2" role="alert">
  <svg class="flex-shrink-0 me-2 svg-success"
       xmlns="http://www.w3.org/2000/svg"
       height="1.5rem"
       viewBox="0 0 24 24"
       width="1.5rem"
       fill="#000000">
    <path d="M0 0h24v24H0V0zm0 0h24v24H0V0z" fill="none" />
    <path d="M16.59 7.58L10 14.17l-3.59-3.58L5 12l5 5 8-8zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z" />
  </svg>
  <div><strong>Success:</strong>Musab NIzami</div>
  <button type="button" data-bs-dismiss="alert" aria-label="Close" class="btn-close"><i class="bi bi-x"></i></button>
</div>-->

<!-- <i class="pi pi-check"></i>
<i class="pi pi-times"></i>
<span class="pi pi-search">Musheer Khalid</span>
<span class="pi pi-user"></span> -->

<app-modal></app-modal>
<app-alert [alert]="alert"></app-alert>

