<ng-template #pageHeaderActionTemplate>
  <button class="btn btn-primary btn-sm" (click)="onClickPageHeaderAddButton()"><i class="ri-add-fill" style="vertical-align: bottom;"></i>Add Employee</button>
</ng-template>

<app-index-table [tableDef]="tableDef"
                 (lazyLoad)="onIndexTableLazyLoad($event)">
</app-index-table>

<ng-template #employeeCodeTemplate let-row>
  <span class="fw-bold font-blue" (click)="onClickEditDetails(row.EmployeeID)" style="cursor: pointer;">{{ row.EmployeeCode }}</span>
</ng-template>


<ng-template #canAccessERPTemplate let-row>
  <span class="badge {{ row.CanAccessERP ? 'bg-outline-success' : 'bg-outline-danger' }}">
    {{ row.CanAccessERP ? 'Yes' : 'No' }}
  </span>
</ng-template>

<ng-template #employeeActiveStatusTemplate let-row>
  <span class="badge {{ row.ActiveStatus ? 'bg-outline-danger' : 'bg-outline-success' }}">
    {{ row.ActiveStatus ? 'Cancelled' : 'Active' }}
  </span>
</ng-template>

<ng-template #actionColTemplate let-row>
  <div class="hstack gap-2 fs-15 justify-content-end">
    <button *ngIf="!row.ActiveStatus" class="btn btn-icon btn-sm btn-danger-transparent rounded-pill" (click)="onClickDelete(row)">
      <i class="ri-delete-bin-line"></i>
    </button>
  </div>
</ng-template>
