<app-form-sidebar [isVisible]="isFormSidebarVisible" [styleClass]="'w-30rem'">
  <div sidebarHeader>
    <h5 class="text-white">Ward Master</h5>
  </div>
  <div sidebarContent>
    <form class="form-sidebar" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="col-xl-12 form-group">
        <z-inputtext [group]="form" control="WardCode" [label]="formConfig.WardCode.label"></z-inputtext>
      </div>
      <div class="row">
        <div class="col-xl-7 form-group">
          <z-inputtext [group]="form" control="WardName" [label]="formConfig.WardName.label" [validationMessage]="formConfig.WardName.error"></z-inputtext>
        </div>
        <div class="col-xl-5 form-group">
          <z-inputtext [group]="form" control="ShortCode" [label]="formConfig.ShortCode.label" [validationMessage]="formConfig.ShortCode.error"></z-inputtext>
        </div>
      </div>
      <div class="col-xl-12 form-group">
        <z-inputtext [group]="form" control="FloorNo" [label]="formConfig.FloorNo.label" [validationMessage]="formConfig.FloorNo.error"></z-inputtext>
      </div>
      <div class="col-xl-12 form-group">
        <z-inputtext [group]="form" control="BlockName" [label]="formConfig.BlockName.label" [validationMessage]="formConfig.BlockName.error"></z-inputtext>
      </div>
      <div class="col-xl-12 form-group">
        <z-select [group]="form" [control]="'RoomTypeID'" [label]="formConfig.RoomTypeID.label" [validationMessage]="formConfig.RoomTypeID.error"
                  [options]="RoomTypeList" [optionLabel]="'RoomTypeName'" [optionValue]="'RoomTypeID'">
        </z-select>
      </div>
      <div class="col-xl-12 form-group">
        <z-select [group]="form" [control]="'WardType'" [label]="formConfig.WardType.label" [validationMessage]="formConfig.WardType.error"
                  [options]="WardTypeList" [optionLabel]="'Text'" [optionValue]="'Value'">
        </z-select>
      </div>
      <div class="col-xl-12 form-group">
        <z-select [group]="form" [control]="'AllowedForGender'" [label]="formConfig.AllowedForGender.label" [validationMessage]="formConfig.AllowedForGender.error"
                  [options]="AllowedForList" [optionLabel]="'Text'" [optionValue]="'Value'">
        </z-select>
      </div>
      <div class="col-xl-12 form-group">
        <z-inputnumber [group]="form" [control]="'TotalBeds'" [label]="formConfig.TotalBeds.label" [validationMessage]="formConfig.TotalBeds.error"></z-inputnumber>
      </div>
      <div class="col-xl-12 form-group">
        <z-datepicker [group]="form" [control]="'EffectiveFromDate'" [label]="formConfig.EffectiveFromDate.label" [validationMessage]="formConfig.EffectiveFromDate.error"></z-datepicker>
      </div>
      <div *ngIf="isEditMode" class="col-xl-12 form-group">
        <z-datepicker [group]="form" [control]="'TermEndDate'" [label]="formConfig.TermEndDate.label"></z-datepicker>
      </div>
      <div class="col-xl-12 form-group">
        <z-inputnumber [group]="form" [control]="'DisplayOrder'" [label]="formConfig.DisplayOrder.label"></z-inputnumber>
      </div>
    </form>
  </div>
  <div sidebarFooter>
    <div class="col-xl-12 d-grid mt-4 d-flex align-items-center">
      <div class="col-md-6 pe-1">
        <button type="submit" class="btn btn-md btn-primary w-100" (click)="onSubmit()" [disabled]="isSubmitted || !ActiveStatus">
          {{ isEditMode ? 'Update' : 'Save' }}
        </button>
      </div>
      <div class="col-md-6 ps-1">
        <button type="button" class="btn btn-md btn-light w-100" (click)="closeSidebar()">Cancel</button>
      </div>
    </div>
  </div>
</app-form-sidebar>
