<app-form-sidebar [isVisible]="isFormSidebarVisible" [styleClass]="'w-30rem bill-regulation-create-sidebar'">
  <div sidebarHeader>
    <h5 class="bill-regulation-create-title">{{ isEditMode ? 'Edit Bill Regulation' : 'Create Bill Regulation' }}</h5>
  </div>
  <div sidebarContent>
    <form class="bill-regulation-create-form" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
      <div class="simple-form">
        <div class="simple-field">
          <label class="simple-label">{{ formConfig.ExportOrderNo.label }}:</label>
          <div class="simple-control">
            <div class="simple-static">{{ form.get('ExportOrderNo')?.value || '-' }}</div>
          </div>
        </div>
        <div class="simple-field">
          <label class="simple-label">Required Documents:</label>
          <div class="simple-control document-checklist">
            <div class="check-item">
              <z-checkbox [group]="form" [control]="'ShippingBill'" [label]="formConfig.ShippingBill.label"></z-checkbox>
            </div>
            <div class="check-item">
              <z-checkbox [group]="form" [control]="'AirwayBill'" [label]="formConfig.AirwayBill.label"></z-checkbox>
            </div>
            <div class="check-item">
              <z-checkbox [group]="form" [control]="'IECCertificate'" [label]="formConfig.IECCertificate.label"></z-checkbox>
            </div>
            <div class="check-item">
              <z-checkbox [group]="form" [control]="'Invoice'" [label]="formConfig.Invoice.label"></z-checkbox>
            </div>
            <div class="check-item">
              <z-checkbox [group]="form" [control]="'PackingSlip'" [label]="formConfig.PackingSlip.label"></z-checkbox>
            </div>
            <div class="check-item">
              <z-checkbox [group]="form" [control]="'CustomerPO'" [label]="formConfig.CustomerPO.label"></z-checkbox>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div sidebarFooter>
    <div class="bill-regulation-create-footer">
      <button type="button" class="simple-btn" (click)="closeSidebar()">Cancel</button>
      <button type="submit" class="simple-btn is-active" [disabled]="isSubmitted" (click)="onSubmit()">
        {{ isEditMode ? 'Update' : 'Save' }}
      </button>
    </div>
  </div>
</app-form-sidebar>
