<app-switcher></app-switcher>
<div class="page">
  <app-header></app-header>
  <!-- <app-sidebar appHoverEffectSidebar></app-sidebar> -->
  <app-app-sidebar appHoverEffectSidebar></app-app-sidebar>
  <!-- Start::app-content -->
  <div class="main-content app-content" (click)="clickOnBody()">
    <!-- Page Header -->
    <app-page-header></app-page-header>

    <!-- Page Header Close -->
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-footer></app-footer>
  <app-tab-to-top></app-tab-to-top>
</div>
<div id="responsive-overlay" (click)="clearToggle()"></div>
