<!-- <div style="height: calc(100vh - var(--z-dataview-viewport-offset)); padding-bottom: 0rem;"> -->
<div>
    <p-dataView *ngIf="dataViewDef" #dv [value]="dataViewDef.data" [rows]="10" [totalRecords]="dataViewDef.totalRecords"
        [paginator]="true" [lazy]="true" (onLazyLoad)="loadData($event)" [layout]="'list'">
        <ng-template pTemplate="header">
            <div class="index-table-action-bar">
                <div class="zdt-toolbar">
                    <!-- Sorting Wrapper -->
                    <div class="action-item-wrapper">
                        <span class="refresh-filter" [class.active-toggle]="isSortPanelVisible"
                            (click)="toggleSortPanel();" title="Sorting">
                            <span class="sort-icon" aria-hidden="true"></span>
                            <span class="sort-label">Sort</span>
                        </span>
                        <ng-container *ngIf="dataViewDef.sortingForm && isSortPanelVisible">
                            <div #sortingPanel class="index-sorting-panel card" [formGroup]="dataViewDef.sortingForm">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <div>
                                        <h6>Sorting</h6>
                                    </div>
                                    <div class="d-flex gap-2">
                                        <button class="btn btn-primary" [type]="'button'"
                                            (click)="resetForm(dataViewDef.sortingForm)">Clear
                                        </button>
                                        <button class="btn btn-primary" [type]="'button'"
                                            (click)="onClickApplySorting()">Apply
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div *ngFor="let field of dataViewDef.sortFields" class="field">
                                        <label>
                                            {{ field.label }}
                                        </label>
                                        <div>
                                            <z-select-button [group]="dataViewDef.sortingForm" [control]="field.field"
                                                [allowEmpty]="true">
                                                {{ getAscLabel(field.field)}}
                                            </z-select-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>

                    <div class="action-item-wrapper">
                        <span class="refresh-filter" (click)="refreshData();" title="Refresh">
                            <span class="refresh-icon" aria-hidden="true"></span>
                            <span class="refresh-label">Refresh</span>
                        </span>
                    </div>

                    <!-- Filter Wrapper -->
                    <div class="action-item-wrapper">
                        <span class="filter-toggle" [class.active-toggle]="isFilterPanelVisible"
                            (click)="toggleFilterPanel();" title="Filter">
                            <span class="filter-icon" aria-hidden="true"></span>
                            <span class="filter-label">Filter</span>
                        </span>
                        <ng-container *ngIf="dataViewDef.filterForm && isFilterPanelVisible">
                            <div #filterPanel class="index-filter-panel card" [formGroup]="dataViewDef.filterForm">
                                <div class="card-header d-flex justify-content-between align-items-center">
                                    <div>
                                        <h6>Filter</h6>
                                    </div>
                                    <div class="d-flex gap-2">
                                        <button class="btn btn-primary" [type]="'button'"
                                            (click)="resetForm(dataViewDef.filterForm)">Clear
                                        </button>
                                        <button class="btn btn-primary" [type]="'button'"
                                            (click)="onClickApplyFilter()">Apply
                                        </button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div *ngFor="let field of dataViewDef.filterFields" class="field">
                                        <z-inputtext *ngIf="field.type === 'text'" [group]="dataViewDef.filterForm"
                                            [control]="field.field" [label]="field.label">
                                        </z-inputtext>

                                        <z-inputnumber *ngIf="field.type === 'number'" [group]="dataViewDef.filterForm"
                                            [control]="field.field" [label]="field.label">
                                        </z-inputnumber>

                                        <z-datepicker *ngIf="field.type === 'date'" [group]="dataViewDef.filterForm"
                                            [control]="field.field" [label]="field.label">
                                        </z-datepicker>

                                        <z-select *ngIf="field.type === 'dropdown'" [group]="dataViewDef.filterForm"
                                            [control]="field.field" [label]="field.label"
                                            [options]="field.options ?? []" [showClear]="false" [optionLabel]="'Text'"
                                            [optionValue]="'Value'" [appendTo]="'body'">
                                        </z-select>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template let-products pTemplate="list">
            <div class="z-dataview-list">
                <ng-container *ngTemplateOutlet="itemTemplate; context: { $implicit: products }"></ng-container>
            </div>
        </ng-template>


        <ng-template pTemplate="empty">
            <div class="col-8 d-flex justify-content-center align-items-center m-auto flex-column">
                <img src="assets/images/media/no-record-found.png" alt="No Record Found" width="500px" />
                <h5 class="text-secondary">No matching records found</h5>
            </div>
        </ng-template>

    </p-dataView>
</div>
