<!-- Page Header Action Button Template -->
<ng-template #pageHeaderActionTemplate>
  <button class="btn btn-primary btn-page-header" (click)="onClickPageHeaderAddButton()">
    <i class="pi pi-plus"></i>&nbsp;Document Type Master
  </button>
</ng-template>

<!-- Index Table Component -->
<div class="col-xl-12 index-page-content">
  <z-datatable [tableDef]="tableDef" (lazyLoad)="onIndexTableLazyLoad($event)">
  </z-datatable>
</div>

<!-- Column Template for Code -->
<ng-template #documentTypeCodeTemplate let-row>
  <span class="table-action-link" (click)="onClickEditDetails(row.DocumentTypeID, row.ActiveStatus)">
    {{ row.DocumentTypeCode }}
  </span>
</ng-template>

<!-- Column Template for Is Approval Required -->
<ng-template #documentIsApprovalRequiredTemplate let-row>
  <span class="{{ row.IsApprovalRequired ? 'text-success' : 'text-danger' }}">
    <i class="pi {{ row.IsApprovalRequired ? 'pi-check-circle' : 'pi-times-circle'}}"></i>
  </span>
</ng-template>

<!-- Column Template for Active Status -->
<ng-template #documentTypeActiveStatusTemplate let-row>
  <span class="table-row-status">
    <i class="pi pi-circle-fill text-{{ row.ActiveStatus ? 'success' : 'danger' }}"></i>
    {{ row.ActiveStatus ? 'Active' : 'Inactive' }}
  </span>
</ng-template>

<!-- Column Template for Action Buttons -->
<ng-template #actionColTemplate let-row>
  <div class="d-flex justify-content-end">
    <span class="btn btn-icon btn-sm btn-{{ row.ActiveStatus ? 'danger' : 'success' }}-transparent btn-delete-reactivate"
      (click)="onClickDeleteReactivate(row)">
      <i class="pi pi-{{ row.ActiveStatus ? 'trash' : 'undo' }}"></i>
    </span>
  </div>
</ng-template>

<app-create (closeSidebarEvent)="onCloseSidebar()"></app-create>

