<ng-template #pageHeaderActionTemplate>
  <button class="btn btn-primary btn-sm" (click)="onClickPageHeaderAddButton()"><i class="ri-add-fill" style="vertical-align: bottom;"></i>Add</button>&nbsp;
  <button class="btn btn-primary btn-sm" (click)="onClickPageHeaderMapButton()"><i class="bi bi-pencil" style="vertical-align: bottom;"></i> Role Permission</button>
</ng-template>

<app-index-table [tableDef]="tableDef"
                 (lazyLoad)="onIndexTableLazyLoad($event)">
</app-index-table>

<ng-template #roleCodeTemplate let-row>
  <span class="fw-bold font-blue" (click)="onClickEditDetails(row.RoleID, row.ActiveStatus)" style="cursor: pointer;">
    {{ row.RoleCode }}
  </span>
</ng-template>

<ng-template #roleActiveStatusTemplate let-row>
  <span class="badge {{ row.ActiveStatus ? 'bg-outline-success' : 'bg-outline-danger' }}">
    {{ row.ActiveStatus ? 'Active' : 'Inactive' }}
  </span>
</ng-template>

<ng-template #actionColTemplate let-row>
  <div class="hstack gap-2 fs-15 justify-content-end">
    <span class="btn btn-icon btn-sm btn-danger-transparent rounded-pill" (click)="onClickDelete(row)"><i class="ri-delete-bin-line"></i></span>
  </div>
</ng-template>

<app-create (closeSidebarEvent)="onCloseSidebar()"></app-create>
