<!--Page Header Action Button Template-->
<ng-template #pageHeaderActionTemplate>
    <button class="btn btn-primary btn-page-header" (click)="onClickPageHeaderAddButton()"> <i
            class="pi pi-plus"></i>&nbsp;Add Export Order</button>
</ng-template>

<div class="col-xl-12 index-page-content">
    <z-data-view [dataViewDef]="dataViewDef" (lazyLoad)="onIndexDataViewLazyLoad($event)"
        (statusList)="statusList = $event" [itemTemplate]="customTemplate" [sortFieldList]="sortFieldList">
        <div sidebarContent>
            <form class="form-sidebar" [formGroup]="filterForm">
                <div class="col-xl-12 form-group">
                    <z-inputtext [group]="filterForm" [control]="'ExportOrderNo'" [label]="filterFormConfig.ExportOrderNo.label"></z-inputtext>
                </div>
                <div class="col-xl-12 form-group">
                    <z-inputtext [group]="filterForm" [control]="'ReferenceNo'" [label]="filterFormConfig.ReferenceNo.label"></z-inputtext>
                </div>
                <div class="col-xl-12 form-group">
                    <z-inputtext [group]="filterForm" [control]="'CustomerName'" [label]="filterFormConfig.CustomerName.label"></z-inputtext>
                </div>
                <div class="col-xl-12 form-group">
                    <z-select [group]="filterForm" [control]="'BasedOn'" [label]="filterFormConfig.BasedOn.label"
                        [options]="basedOnList" [optionLabel]="'Text'" [optionValue]="'Value'"></z-select>
                </div>
                <div class="col-xl-12 form-group">
                    <z-select [group]="filterForm" [control]="'IncotermID'" [label]="filterFormConfig.IncotermID.label"
                        [options]="incotermList" [optionLabel]="'Text'" [optionValue]="'Value'"></z-select>
                </div>
                <div class="col-xl-12 form-group">
                    <z-select [group]="filterForm" [control]="'DutyDrawableID'" [label]="filterFormConfig.DutyDrawableID.label" 
                        [options]="isDutyDrawableList" [optionLabel]="'Text'" [optionValue]="'Value'"></z-select>
                </div>
                <div class="col-xl-12 form-group">
                    <z-select [group]="filterForm" [control]="'RoDTEPID'" [label]="filterFormConfig.RoDTEPID.label"
                        [options]="isRoDTEPList" [optionLabel]="'Text'" [optionValue]="'Value'"></z-select>
                </div>
                <div class="col-xl-12 form-group">
                    <z-select [group]="filterForm" [control]="'ShipmentModeID'" [label]="filterFormConfig.ShipmentModeID.label" 
                        [options]="shipmentModeList" [optionLabel]="'Text'" [optionValue]="'Value'"></z-select>
                </div>
                <div class="col-xl-12 form-group">
                    <z-inputtext [group]="filterForm" [control]="'FinalDestination'" [label]="filterFormConfig.FinalDestination.label"></z-inputtext>
                </div>
                <div class="col-xl-12 form-group">
                    <z-select [group]="filterForm" [control]="'StatusID'" [label]="filterFormConfig.StatusID.label"
                        [options]="statusList" [optionLabel]="'Text'" [optionValue]="'iValue'"></z-select>
                </div>
            </form>
        </div>
    </z-data-view>
</div>

<ng-template #customTemplate let-exportOrders>
    <div class="col-12 border rounded my-2" *ngFor="let item of exportOrders; let first = first">
        <div class="col-12 p-3">
            <div class="d-flex justify-content-between">
                <a (click)="onClickEditDetails(item.ExportOrderID)">
                    <h5 class="primary-color mb-2">{{item.ExportOrderNo}} | {{item.CompanyName}}</h5>
                </a>
                <div class="text-end">
                    <span class="badge bg-outline-primary">{{item.StatusText}}</span>
                </div>
            </div>
            <div class="col-12">
                <div class="col-xl-12">
                    <div class="d-flex flex-column flex-lg-row align-items-center mb-2">
                        <div class="col-xl-4 d-flex align-items-center">
                            <div class="col-xl-4">
                                <span class="fs-6 text-secondary">Order Date:</span>
                            </div>
                            <div class="col-xl-7">
                                <span class="fs-6 text-secondary"> {{formatDate(item.ExportOrderDate)}} </span>
                            </div>
                        </div>
                        <div class="col-xl-5 d-flex align-items-center">
                            <div class="col-xl-4">
                                <span class="fs-6 text-secondary">Destination:</span>
                            </div>
                            <div class="col-xl-8">
                                <span class="fs-6 text-secondary"> {{item.FinalDestination}} </span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-lg-row align-items-center mb-2">
                        <div class="col-xl-4 d-flex align-items-center">
                            <div class="col-xl-4">
                                <span class="fs-6 text-secondary">Reference No:</span>
                            </div>
                            <div class="col-xl-8">
                                <span class="fs-6 text-secondary"> {{item.ReferenceNo}} </span>
                            </div>
                        </div>
                        <div class="col-xl-5 d-flex align-items-center">
                            <div class="col-xl-4">
                                <span class="fs-6 text-secondary">Reference Date:</span>
                            </div>
                            <div class="col-xl-7">
                                <span class="fs-6 text-secondary"> {{formatDate(item.ReferenceDate)}} </span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-lg-row align-items-center mb-2">
                        <div class="col-xl-4 d-flex align-items-center">
                            <div class="col-xl-4">
                                <span class="fs-6 text-secondary">Order Total:</span>
                            </div>
                            <div class="col-xl-7">
                                <span class="fs-6 text-secondary"> <i
                                        class="pi pi-indian-rupee"></i>{{item.NetAmountBC}} </span>
                            </div>
                        </div>
                        <div class="col-xl-5 d-flex align-items-center">
                            <div class="col-xl-4">
                                <span class="fs-6 text-secondary">Loading Port:</span>
                            </div>
                            <div class="col-xl-7">
                                <span class="fs-6 text-secondary"> {{item.LoadingPortName}} </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-12 d-flex flex-column gap-3 justify-content-between">
                    <div class="col-12 d-flex gap-3 justify-content-end">
                        <div class="col-2">
                            <button class="btn btn-primary"
                            (click)="handleComponentLoad('ShippingCreateComponent', item)">Add Shipping Detail</button>
                                <!-- (click)="openSidebar('shipping', item.ExportOrderID, item.ExportOrderNo)"> Add Shipping Detail </button> -->
                        </div>
                        <div class="col-2">
                            <button class="btn btn-primary"
                            (click)="handleComponentLoad('BillCreateComponent', item)">Bill Regulation</button>
                                <!-- (click)="openSidebar('billRegulation', item.ExportOrderID, item.ExportOrderNo)">Bill Regulation</button> -->
                        </div>
                        <div class="col-2">
                            <button class="btn btn-primary"
                                (click)="handleComponentLoad('DocumentCreateComponent', item)">Add Document</button>
                        </div>
                        <div class="col-2" *ngIf="!item.IsKnockOff">
                            <button class="btn btn-primary"
                                (click)="handleComponentLoad('PaymentCreateComponent', item)">Add Payment</button>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-primary"
                                (click)="handleComponentLoad('TrackingCreateComponent', item)">Add Tracking</button>
                        </div>
                        <div class="col-1">
                            <button class="btn btn-primary"
                                (click)="handleComponentLoad('LetterOfCreditCreateComponent', item)">Add LC</button>
                        </div>
                        <div class="col-2" *ngIf="item.StatusID == 1">
                            <button class="btn btn-primary" (click)="onClickCancel(item)">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #container></ng-template>