<app-form-sidebar [isVisible]="isFormSidebarVisible" [styleClass]="'w-30rem'">
  <div sidebarHeader>
      <h5 class="text-white">Industry Master</h5>
  </div>
  <div sidebarContent>
      <form class="form-sidebar" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
          <div class="col-xl-12 form-group">
              <z-span [text]="form.get('IndustryCode')?.value" [label]="formConfig.IndustryCode.label"></z-span>
          </div>
          <div class="col-xl-12 form-group">
              <z-inputtext [group]="form" [control]="'IndustryName'" [label]="formConfig.IndustryName.label"></z-inputtext>
          </div>
          <div class="form-group mt-4">
              <z-inputswitch [group]="form" [control]="'ActiveStatus'" [label]="formConfig.ActiveStatus.label"></z-inputswitch>
          </div>
      </form>
  </div>
  <div sidebarFooter>
      <div class="col-xl-12 d-grid mt-4 d-flex align-items-center">
          <div class="col-md-6 pe-1">
              <button type="submit" class="btn btn-md btn-primary w-100" (click)="onSubmit()" [disabled]="form.invalid">
                  {{ isEditMode ? "Update" : "Save" }}
              </button>
          </div>
          <div class="col-md-6 ps-1">
              <button type="button" class="btn btn-md btn-light w-100" (click)="closeSidebar()">Cancel</button>
          </div>
      </div>
  </div>
</app-form-sidebar>
<!-- <div class="mainContainer">
  <div class="container">
    <h1>Create-Industry Master</h1>

    <form (ngSubmit)="onSubmit()" #industryForm="ngForm">
      <div>
        <label for="industryCode">Industry Code</label>
        <input
          type="text"
          id="industryCode"
          name="industryCode"
          [(ngModel)]="industry.industryCode"
          required
        />
      </div>

      <div>
        <label for="industryName">Industry Name</label>
        <input
          type="text"
          id="industryName"
          name="industryName"
          [(ngModel)]="industry.industryName"
          required
        />
      </div>

      <div>
        <label for="isActive">Is Active</label>
        <select [(ngModel)]="industry.isActive" name="isActive">
          <option value="true">Active</option>
          <option value="false">Inactive</option>
        </select>
      </div>

      <button type="submit" [disabled]="!industryForm.valid">
        Create Industry
      </button>
    </form>
  </div>
</div> -->
