<z-dataview [dataViewDef]="dataViewDef" (lazyLoad)="onIndexDataViewLazyLoad($event)"
    (resetFormEmitter)="onResetForm($event)" [itemTemplate]="customTemplate">
</z-dataview>

<ng-template #customTemplate let-salesEnquiry>
    <div class="d-flex align-items-center gap-3 mb-0" *ngFor="let item of salesEnquiry; let first = first">
        <div class="d-flex align-items-center gap-2">
            <!-- BULK SELECT -->
            <p-checkbox binary="true" [(ngModel)]="item._selected" (onChange)="onSelectionChange(item)">
            </p-checkbox>
        </div>
        <div class="w-100 p-3 dataview-item">
            <div class="d-flex justify-content-between dataview-record-title">
                <a (click)="onClickEditDetails(item.SalesEnquiryID)">
                    <h5 class="primary-color mb-2">{{item.SalesEnquiryNo}} | {{item.CustomerName}}</h5>
                </a>
                <div class="text-end">
                    <span class="badge bg-outline-primary">{{item.StatusText}}</span>
                </div>
            </div>
            <div class="col-7">
                <div class="d-flex flex-wrap justify-content-between">
                    <div class="dataview-info-column">
                        <div class="dataview-info-item">
                            <span class="fs-6 text-secondary">Enquiry Date:</span>
                            <span class="fs-6 text-secondary"> {{formatDate(item.EnquiryDate)}} </span>
                        </div>
                        <div class="dataview-info-item">
                            <span class="fs-6 text-secondary">Expected Delivery Date:</span>
                            <span class="fs-6 text-secondary">{{formatDate(item.ExpectedDeliveryDate)}}</span>
                        </div>
                        <div class="dataview-info-item">
                            <span class="fs-6 text-secondary">Contact Name:</span>
                            <span class="fs-6 text-secondary">{{item.ContactName}}</span>
                        </div>
                        <div class="dataview-info-item">
                            <span class="fs-6 text-secondary">Contact Email:</span>
                            <span class="fs-6 text-secondary">{{item.ContactEmail}}</span>
                        </div>
                    </div>
                    <div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</ng-template>

<ng-template #container></ng-template>